<a href="https://colab.research.google.com/github/ykim71/georgia_analysis/blob/Christian-comments/(2)_Georgia_place_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
# need access to the folder(s) below:

#%cd /content/drive/MyDrive/Georgia/
#%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/
%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/
#%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Locations Analysis'
!ls

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia
 2020-count-by-county-population--with-2010.pdf
'Georgia Left to Do Feb 2023.gdoc'
'Georgia Media Landscape Report Draft.gdoc'
'Georgia MEETING NOTES.gdoc'
'Locations Analysis'
'Organization Analysis'
'[SHARED] GNC Research Component.gdoc'
'Topic Dictionaries'
'Web Scraping'

# Location analysis

## Prep for place analysis

In [15]:
#%cd /content/drive/MyDrive/Georgia/Locations Analysis
%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Web Scraping' 
#%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/ 
#!ls

!pwd
!ls

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Web Scraping
/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Web Scraping
 CrowdTangle_GA.xlsx
'Georgia Batches Justification for Scraping.gdoc'
 Georgia_data_v2_translation_ner3_lem.pkl
 Georgia_data_v2_translation_ner_CSBO.pkl
'Georgia Media RFP.gdoc'
'Georgia Scraping Methods - Emily.gdoc'
'Keeping track of media sites'
'List of Potential Web Scrapers (Georgia).gdoc'
'Marquee data'
'Updated Marquee data'

In [16]:
import pandas as pd

#df = pd.read_pickle('/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl') #CO: this threw an error
df = pd.read_pickle('Georgia_data_v2_translation_ner3_lem.pkl') #CO: I assume this is the relevant file!

In [17]:
# CO: save just the first 1000 rows to make things run faster as I check the script
df = df.head(1000)

In [18]:
# lemmatization if needed
import spacy
from spacy import displacy

sp = spacy.load('en_core_web_sm', disable=["tok2vec", "tagger", "parser", "attribute_ruler", "lemmatizer"])
# CH: not familiar with "en_core_web_sm" but sounds reasonable. 
help(spacy.load)

In [20]:
def text_ner_place(text):
  text = sp(text)
  
  ner_list = []
  
  for entity in text.ents:
    if entity.label_ == "FAC":
      ner_list.append(entity.text + " (" + entity.label_ + ")")
    if entity.label_ == "GPE":
      ner_list.append(entity.text + " (" + entity.label_ + ")")
    if entity.label_ == "LOC":
      ner_list.append(entity.text + " (" + entity.label_ + ")")
    else:
      None
  return str(set(ner_list))

In [21]:
df['ner_places'] = df['article_final'].astype(str).apply(text_ner_place)

In [34]:
print(df)
#CO: rows 995-999 have something weird-looking under the column "ner_person": "A1\nWord (PERSON). Not sure if that's a problem.

     index             source  en_source                            website  \
0        0  Metter Advertiser        1.0   http://www.metteradvertiser.com/
1        1  Metter Advertiser        1.0   http://www.metteradvertiser.com/
2        2  Metter Advertiser        1.0   http://www.metteradvertiser.com/
3        3  Metter Advertiser        1.0   http://www.metteradvertiser.com/
4        4  Metter Advertiser        1.0   http://www.metteradvertiser.com/
..     ...                ...        ...                                ...
995    995    Clayton Tribune        1.0  http://www.theclaytontribune.com/
996    996    Clayton Tribune        1.0  http://www.theclaytontribune.com/
997    997    Clayton Tribune        1.0  http://www.theclaytontribune.com/
998    998    Clayton Tribune        1.0  http://www.theclaytontribune.com/
999    999    Clayton Tribune        1.0  http://www.theclaytontribune.com/

                                           article_url  \
0    http://www.metteradvertiser.com/article_167b17...
1    http://www.metteradvertiser.com/article_248646...
2    http://www.metteradvertiser.com/article_2eccfd...
3    http://www.metteradvertiser.com/article_2f555e...
4    http://www.metteradvertiser.com/article_2fe7f1...
..                                                 ...
995  https://theclaytontribune.newsbank.com/doc/new...
996  https://theclaytontribune.newsbank.com/doc/new...
997  https://theclaytontribune.newsbank.com/doc/new...
998  https://theclaytontribune.newsbank.com/doc/new...
999  https://theclaytontribune.newsbank.com/doc/new...

                                         article_title article_author  \
0                  American Pickers to film in Georgia            NaN
1                 Free Covid test kits available TODAY            NaN
2    CLASS OF 2000 STILL LEADS THE WAY! Over $29K r...            NaN
3    MMS Lady Tigers to play for championship, MMS ...            NaN
4    ATTN Hunters & Anglers: Celebrate Hunting & Fi...            NaN
..                                                 ...            ...
995  Elections office gears up for early voting to ...   Megan Broome
996  Law enforcement investigating Sky Valley mail ...   Megan Broome
997  Commissioners approve first reading to amend S...   Megan Broome
998                                 Pawsitively' tired   Megan Broome
999  Blairsville dump-trucker driver dies in single...   Megan Broome

    date_published                                      article_final  \
0       2022-09-19  The American Pickers are excited to return to ...
1       2022-09-15  Candler County Health Department and Southeast...
2       2022-10-14  After the third week of the Education Foundati...
3       2022-09-27  Congratulations to the Metter Middle School La...
4       2022-09-22  In a proclamation recently signed by Gov. Bria...
..             ...                                                ...
995     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...
996     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...
997     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...
998     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...
999     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...

                                            ner_places  \
0                   {'Georgia (GPE)', 'America (GPE)'}
1                                     {'Metter (GPE)'}
2    {'Jones (GPE)', 'Jimmy (GPE)', 'Troy Greene (F...
3        {'Toombs County (GPE)', 'Bryan County (GPE)'}
4                   {'Georgia (GPE)', 'NHF Day (GPE)'}
..                                                 ...
995          {'United States (GPE)', 'Whitmire (GPE)'}
996  {'Florida (GPE)', 'Sky Valley Chief of Police ...
997  {'Stockton (GPE)', 'the Rabun County Civic Cen...
998       {'Clayton (GPE)', 'South Main Street (LOC)'}
999  {'Barnyard Lane (FAC)', 'Blairsville (GPE)', '...

                                              ner_orgs  \
0    {'American Pickers (ORG)', 'CDC (ORG)', 'The A...
1    {'SE Broad Street and (ORG)', 'Southeast Healt...
2    {'CarterFranklin (ORG)', 'Ronnie & Janie Sikes...
3    {'MHS (ORG)', 'the Metter Middle School Lady T...
4    {'Outdoor Adventure Days (ORG)', 'Congressiona...
..                                                 ...
995  {'the Rabun County Board of Elections Office (...
996  {'Postal Service (ORG)', 'the U.S. Postal Serv...
997  {'the Georgia Association (ORG)', 'the Rabun C...
998  {'Burgundy (ORG)', 'DNR Rangers (ORG)', 'the G...
999  {'GSP (ORG)', 'Blairsville (ORG)', 'Payne (ORG...

                                     article_lemma_num    id  \
0    american picker excited return georgia plan fi...     1
1    candler county health department southeast hea...     2
2    week education foundation 2022 campaign class ...     3
3    congratulation metter middle school lady tiger...     4
4    proclamation recently sign gov brian kemp satu...     5
..                                                 ...   ...
995  megan broome  october 13 2022  publication cla...   996
996  megan broome  october 13 2022  publication cla...   997
997  megan broome  october 13 2022  publication cla...   998
998  megan broome  october 13 2022  publication cla...   999
999  megan broome  october 13 2022  publication cla...  1000

                                       ner_places_orgs  \
0    {American Pickers (ORG), CDC (ORG), Georgia (G...
1    {Candler County Health Department (ORG), Mette...
2    {Paul & Beverly MacGregor (ORG), the Education...
3    {Toombs County (GPE), Bryan County (GPE), MHS ...
4    {Outdoor Adventure Days (ORG), NHF Day (GPE), ...
..                                                 ...
995  {Rabun Transit (ORG), Absentee Ballot (ORG), A...
996  {Florida (GPE), the Sky Valley Police Departme...
997  {Lakes REALTORS Association (ORG), GMLRA (ORG)...
998  {Reeves (ORG), Reeves Furniture (ORG), the Geo...
999  {Barnyard Lane (FAC), Blairsville (GPE), kin (...

                                            ner_person
0                                   {Pickers (PERSON)}
1                                     {Covid (PERSON)}
2    {Roberta Graham (PERSON), Jill Vining (PERSON)...
3                            {South Tattnall (PERSON)}
4        {Brian Kemp (PERSON), Richard Nixon (PERSON)}
..                                                 ...
995  {Brian Kemp (PERSON), Scott Crane (PERSON), Sh...
996  {A1\nWord (PERSON), Marty Talley (PERSON), Cla...
997  {A1\nWord (PERSON), Scott Crane (PERSON), Stoc...
998  {A1\nWord (PERSON), Yogi (PERSON), Clayton (PE...
999  {A1\nWord (PERSON), Clayton Tribune (PERSON), ...

[1000 rows x 15 columns]

In [22]:
df.to_pickle('Georgia_data_v2_translation_ner_CSBO.pkl') # CO: saving this but as a new file, just for myself, so I can re-load from here, when Colab throws me out

## Find rough location from spaCy

In [23]:
import pandas as pd

df = pd.read_pickle('Georgia_data_v2_translation_ner_CSBO.pkl')

In [35]:
df_ner = df.loc[df['ner_places'] != 'set()'] #CO: so your selecting just the rows where there's something in the ner_places column, i.e., articles where some place was found. Makes sense.
print(df_ner)

     index             source  en_source                            website  \
0        0  Metter Advertiser        1.0   http://www.metteradvertiser.com/
1        1  Metter Advertiser        1.0   http://www.metteradvertiser.com/
2        2  Metter Advertiser        1.0   http://www.metteradvertiser.com/
3        3  Metter Advertiser        1.0   http://www.metteradvertiser.com/
4        4  Metter Advertiser        1.0   http://www.metteradvertiser.com/
..     ...                ...        ...                                ...
995    995    Clayton Tribune        1.0  http://www.theclaytontribune.com/
996    996    Clayton Tribune        1.0  http://www.theclaytontribune.com/
997    997    Clayton Tribune        1.0  http://www.theclaytontribune.com/
998    998    Clayton Tribune        1.0  http://www.theclaytontribune.com/
999    999    Clayton Tribune        1.0  http://www.theclaytontribune.com/

                                           article_url  \
0    http://www.metteradvertiser.com/article_167b17...
1    http://www.metteradvertiser.com/article_248646...
2    http://www.metteradvertiser.com/article_2eccfd...
3    http://www.metteradvertiser.com/article_2f555e...
4    http://www.metteradvertiser.com/article_2fe7f1...
..                                                 ...
995  https://theclaytontribune.newsbank.com/doc/new...
996  https://theclaytontribune.newsbank.com/doc/new...
997  https://theclaytontribune.newsbank.com/doc/new...
998  https://theclaytontribune.newsbank.com/doc/new...
999  https://theclaytontribune.newsbank.com/doc/new...

                                         article_title article_author  \
0                  American Pickers to film in Georgia            NaN
1                 Free Covid test kits available TODAY            NaN
2    CLASS OF 2000 STILL LEADS THE WAY! Over $29K r...            NaN
3    MMS Lady Tigers to play for championship, MMS ...            NaN
4    ATTN Hunters & Anglers: Celebrate Hunting & Fi...            NaN
..                                                 ...            ...
995  Elections office gears up for early voting to ...   Megan Broome
996  Law enforcement investigating Sky Valley mail ...   Megan Broome
997  Commissioners approve first reading to amend S...   Megan Broome
998                                 Pawsitively' tired   Megan Broome
999  Blairsville dump-trucker driver dies in single...   Megan Broome

    date_published                                      article_final  \
0       2022-09-19  The American Pickers are excited to return to ...
1       2022-09-15  Candler County Health Department and Southeast...
2       2022-10-14  After the third week of the Education Foundati...
3       2022-09-27  Congratulations to the Metter Middle School La...
4       2022-09-22  In a proclamation recently signed by Gov. Bria...
..             ...                                                ...
995     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...
996     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...
997     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...
998     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...
999     2022-10-13  By Megan Broome\nOctober 13, 2022\nPublication...

                                            ner_places  \
0                   {'Georgia (GPE)', 'America (GPE)'}
1                                     {'Metter (GPE)'}
2    {'Jones (GPE)', 'Jimmy (GPE)', 'Troy Greene (F...
3        {'Toombs County (GPE)', 'Bryan County (GPE)'}
4                   {'Georgia (GPE)', 'NHF Day (GPE)'}
..                                                 ...
995          {'United States (GPE)', 'Whitmire (GPE)'}
996  {'Florida (GPE)', 'Sky Valley Chief of Police ...
997  {'Stockton (GPE)', 'the Rabun County Civic Cen...
998       {'Clayton (GPE)', 'South Main Street (LOC)'}
999  {'Barnyard Lane (FAC)', 'Blairsville (GPE)', '...

                                              ner_orgs  \
0    {'American Pickers (ORG)', 'CDC (ORG)', 'The A...
1    {'SE Broad Street and (ORG)', 'Southeast Healt...
2    {'CarterFranklin (ORG)', 'Ronnie & Janie Sikes...
3    {'MHS (ORG)', 'the Metter Middle School Lady T...
4    {'Outdoor Adventure Days (ORG)', 'Congressiona...
..                                                 ...
995  {'the Rabun County Board of Elections Office (...
996  {'Postal Service (ORG)', 'the U.S. Postal Serv...
997  {'the Georgia Association (ORG)', 'the Rabun C...
998  {'Burgundy (ORG)', 'DNR Rangers (ORG)', 'the G...
999  {'GSP (ORG)', 'Blairsville (ORG)', 'Payne (ORG...

                                     article_lemma_num    id  \
0    american picker excited return georgia plan fi...     1
1    candler county health department southeast hea...     2
2    week education foundation 2022 campaign class ...     3
3    congratulation metter middle school lady tiger...     4
4    proclamation recently sign gov brian kemp satu...     5
..                                                 ...   ...
995  megan broome  october 13 2022  publication cla...   996
996  megan broome  october 13 2022  publication cla...   997
997  megan broome  october 13 2022  publication cla...   998
998  megan broome  october 13 2022  publication cla...   999
999  megan broome  october 13 2022  publication cla...  1000

                                       ner_places_orgs  \
0    {American Pickers (ORG), CDC (ORG), Georgia (G...
1    {Candler County Health Department (ORG), Mette...
2    {Paul & Beverly MacGregor (ORG), the Education...
3    {Toombs County (GPE), Bryan County (GPE), MHS ...
4    {Outdoor Adventure Days (ORG), NHF Day (GPE), ...
..                                                 ...
995  {Rabun Transit (ORG), Absentee Ballot (ORG), A...
996  {Florida (GPE), the Sky Valley Police Departme...
997  {Lakes REALTORS Association (ORG), GMLRA (ORG)...
998  {Reeves (ORG), Reeves Furniture (ORG), the Geo...
999  {Barnyard Lane (FAC), Blairsville (GPE), kin (...

                                            ner_person
0                                   {Pickers (PERSON)}
1                                     {Covid (PERSON)}
2    {Roberta Graham (PERSON), Jill Vining (PERSON)...
3                            {South Tattnall (PERSON)}
4        {Brian Kemp (PERSON), Richard Nixon (PERSON)}
..                                                 ...
995  {Brian Kemp (PERSON), Scott Crane (PERSON), Sh...
996  {A1\nWord (PERSON), Marty Talley (PERSON), Cla...
997  {A1\nWord (PERSON), Scott Crane (PERSON), Stoc...
998  {A1\nWord (PERSON), Yogi (PERSON), Clayton (PE...
999  {A1\nWord (PERSON), Clayton Tribune (PERSON), ...

[777 rows x 15 columns]

In [25]:
print(len(df))
print(len(df_ner))

1000
777

In [26]:
df_expand = df_ner['ner_places'].str.split(',').explode().str.strip('{} ')

In [36]:
df_expand = pd.DataFrame(df_expand)
print(df_expand) #CO: in the top rows, under ner_places_clean, I see things like "Jones" and "jimmy". They're noted as places here, but sound more like people-names to me.

                    ner_places    ner_places_clean
0              'Georgia (GPE)'            Georgia
0              'America (GPE)'            America
1               'Metter (GPE)'             Metter
2                'Jones (GPE)'              Jones
2                'Jimmy (GPE)'              Jimmy
..                         ...                 ...
998            'Clayton (GPE)'            Clayton
998  'South Main Street (LOC)'  South Main Street
999      'Barnyard Lane (FAC)'      Barnyard Lane
999        'Blairsville (GPE)'        Blairsville
999            'Clayton (GPE)'            Clayton

[5338 rows x 2 columns]

In [28]:
df_expand['ner_places_clean'] = df_expand['ner_places'].str.replace(r"\'","")
df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r" \"","")
df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r"\"","")
df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r"\(.*\)","")

<ipython-input-28-03789092516e>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_expand['ner_places_clean'] = df_expand['ner_places'].str.replace(r"\'","")
<ipython-input-28-03789092516e>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r" \"","")
<ipython-input-28-03789092516e>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r"\"","")
<ipython-input-28-03789092516e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r"\(.*\)","")

In [37]:
df_expand_count = df_expand.groupby('ner_places_clean').count().reset_index()
df_expand_count #CO: some of the items in "ner_places_clean" don't look like places. Some examples: include rows 1 (/LL), 2233 ('s Instagram), 2235 (Torch Song), and 2237 (Nausea).

       ner_places_clean  ner_places
0     -Germany Road at            1
1                  /LL            2
2                102nd            1
3     110 Airport Road            1
4      120 Main Street            2
...                 ...         ...
2233      ’s Instagram            1
2234      “Mochi Land”            1
2235       “Torch Song            1
2236   •Candler County            1
2237           •Nausea            1

[2238 rows x 2 columns]

In [30]:
df_freq_n5 = df_expand_count[df_expand_count["ner_places"] >= 5]
df_freq_n5.to_excel('df_freq_n5_ner_v2.xlsx')
#CO: consider doing a count which might provide relevant info for a methods section: How may articles are being filtered out (a) when subsetting to only include articles where a place was found, and (b) when filtering by NER > 5?

In [31]:
# # compare place entities with v1

# df_freq_n5_v2 = pd.read_excel('df_freq_n5_ner_v2.xlsx')
# df_freq_n5_v1 = pd.read_excel('df_freq_n5_ner.xlsx')

# df_freq_n5_v1['version'] = 'v1'
# df_freq_n5_v2['version'] = 'v2'

# df_freq_n5_merge = pd.merge( df_freq_n5_v1,df_freq_n5_v2, how="outer", on=["ner_places_clean"])

## Find sentence example of location

In [39]:
!pwd
%cd /content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Web Scraping
/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia

In [32]:
import pandas as pd #CO: already imported.

#ner_places = pd.read_csv('Georgia_ner_places.csv') # previous data
ner_places = pd.read_csv('Locations Analysis/Georgia_ner_places_v2.csv') # updated data #CO: Not seeing this file in the folder. I'm seeing an Excil file, though. Not sure if they're the same?

#CO: without this file, I can't run the code below, but I'll still check it! If you'd like me to actually run this code, let's check in and talk about which file I should use in this step.

FileNotFoundError: ignored

In [40]:
ner_places['ner_places_clean'] = ner_places['ner_places_clean'].str.rstrip()

NameError: ignored

In [ ]:
ner_places_raw = list(set(ner_places['ner_places_clean'].tolist())) #CO: small thing: Why is this object called "raw" when it's based on the clean version?

In [41]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
# df["id"] = df.index + 1
df_ner = df.loc[df['ner_places'] != 'set()'] #CO: This step has already been done once above (in chunk 21)

In [ ]:

import numpy as np

df_ner['place_ng1'] = df_ner['article_final'].astype(str).apply(lambda x: [i for i in ner_places_raw if i in x]) #CO: I'm not too familiar with this approach, and am not sure whether it's correct, but it probably is! Just to be sure, I recommend printing the created object and doucle check that it looks as you want. (I'm missing a file, so I can't print the object myself)

In [ ]:
text_df_uni_dict = df_ner[['id',  'place_ng1']]
text_df_uni_article = df_ner[['id', "article_final"]]

In [ ]:
#CO: not sure why we're taking a sample sentence here. Can't tell based on this code how this is a sample.
sample_sentence = text_df_uni_dict['place_ng1'].astype(str).str.split(',').explode().str.strip('[] ')
sample_sentence_df = pd.DataFrame(sample_sentence)

In [ ]:

merge_uni = pd.merge(sample_sentence_df, text_df_uni_article, left_index=True, right_index=True)

merge_uni['place_ng1'] = merge_uni['place_ng1'].str.strip('\'')
#CO: recommend printing merge_uni to check that it looks as you expect. Same for the objects created in the next few chunks.

In [ ]:
merge_uni_count = merge_uni.groupby('place_ng1').count() #

In [ ]:
# articles mentioned a location less than 3
merge_uni_count_l3 = merge_uni_count[merge_uni_count['article_final'] < 3].reset_index() #CO: The threshold about was 5. Why is it 3 here? Should it be consistent?

In [ ]:
merge_uni_count_l3_places = merge_uni_count_l3.place_ng1.values.tolist()
merge_uni_count_l3_places

In [ ]:
merge_uni_l3 = merge_uni[merge_uni['place_ng1'].isin(merge_uni_count_l3_places)]
merge_uni_l3_group = merge_uni_l3.groupby('place_ng1').apply(lambda x: x.sample(3, replace=True)).reset_index(drop=True)

In [ ]:
# articles mentioned a location more than 3 --> random sample

merge_uni_m3 = merge_uni[~merge_uni['place_ng1'].isin(merge_uni_count_l3_places)]
merge_uni_m3_group = merge_uni_m3.groupby('place_ng1').apply(lambda x: x.sample(3, replace=False)).reset_index(drop=True)
# CO: why are we taking a small random sample here?

In [ ]:
# merge 3 samples + those with less than 3 
merge_uni_m3_group2 = pd.concat([merge_uni_m3_group, merge_uni_l3_group]).reset_index()

In [ ]:
merge_uni_m3_group2.rename(columns={'place_ng1':'places'}, inplace=True)

In [ ]:
merge_uni_m3_group2

In [ ]:
# split an article into sentences

from nltk.tokenize import sent_tokenize
by_sentence = merge_uni_m3_group2['article_final'].apply(lambda x : sent_tokenize(x)).apply(pd.Series,1).stack()
by_sentence_df = pd.DataFrame(by_sentence)
by_sentence_df.rename(columns={0:'sentence_each'}, inplace=True)

by_sentence_df['sentence_turn'] = by_sentence_df.index.get_level_values(1)
by_sentence_df.index = by_sentence_df.index.get_level_values(0)

In [ ]:
by_sentence_df

                                          sentence_each  sentence_turn
0     Panel recommends anxiety screening for adults ...              0
0     The proposed measure intends to identify early...              1
0     ""Screening all adults for depression, includi...              2
0     The panel includes generalized anxiety disorde...              3
0     According to the panel, screening and follow-u...              4
...                                                 ...            ...
8288  The cause of the fire is being investigated by...             12
8288                             “It’s cooling off now.             13
8288  We’re going to go in and try to collect eviden...             14
8288  Editor’s Note: This is developing with updates...             15
8288                            Count on 2 for updates.             16

[280020 rows x 2 columns]

In [ ]:
# merging split sentences to the article level
merge_all_m3_join = pd.concat([merge_uni_m3_group2, by_sentence_df], axis=1)

#CO: Consider printing more of these objects as you go along to double check that they are as expected.

In [ ]:
merge_all_m3_join['search_words'] = merge_all_m3_join.apply(lambda x: x.places in x.sentence_each, axis=1)

In [ ]:
merge_all_m3_join['article_id'] = merge_all_m3_join.index.get_level_values(0)
merge_all_m3_join.reset_index(drop=True, inplace=True)

In [ ]:
# find those sentences that contain searching words (locations)

merge_all_m3_join_TRUE = merge_all_m3_join[merge_all_m3_join['search_words']==True]

In [ ]:
merge_temp = merge_all_m3_join_TRUE.groupby('places').count() #

#CO: Why do we have a first row with the number "22" in each col? All the cols appear identical. Is that as expected?

,index,id,article_final,sentence_each,sentence_turn,search_words,article_id
places,,,,,,,
,22,22,22,22,22,22,22
14 W. Main St.,3,3,3,3,3,3,3
1495 Roswell Road,3,3,3,3,3,3,3
169/28,3,3,3,3,3,3,3
1:48,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...
uk,5,5,5,5,5,5,5
west Lincoln,3,3,3,3,3,3,3
west Tennessee,3,3,3,3,3,3,3
west entrance,9,9,9,9,9,9,9
west.,3,3,3,3,3,3,3

In [ ]:
# extract 3 random sentences containing the searching word (location) only

merge_temp_m3_group = merge_all_m3_join_TRUE.groupby('places').apply(lambda x: x.sample(3, replace=False)).reset_index(drop=True)

#CO: not sure why we're taking 3 random sentences here?

In [ ]:
merge_temp_m3_group

,index,places,id,article_final,sentence_each,sentence_turn,search_words,article_id
0,0,,158151,Panel recommends anxiety screening for adults ...,"According to the panel, screening and follow-u...",4,True,0
1,0,,158151,Panel recommends anxiety screening for adults ...,"In 2020, the National Alliance on Mental Illne...",10,True,0
2,0,,158151,Panel recommends anxiety screening for adults ...,"""""After diagnosis, people should participate i...",14,True,0
3,3,14 W. Main St.,47531,"GRAFTON — A new attraction described as a """"th...",The coaster ride is expected to be open year-r...,10,True,3
4,4,14 W. Main St.,30084,Gazebo Downtown Franklin decorated for Fall. p...,American Legion Macon Post 108 and American Le...,13,True,4
...,...,...,...,...,...,...,...,...
8254,8271,west entrance,48058,"UNI-Dome Render 1\n\nUpdated Oct 11, 2022\n\nA...","UNI-Dome Render 6\n\nUpdated Oct 11, 2022\n\nT...",8,True,8271
8255,8272,west entrance,47270,Iowa pork producers would suffer huge negative...,"UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA...",36,True,8272
8256,8275,west.,92690,PHILADELPHIA — A local Republican Party in Sou...,"Now Richard Ringer, a former journalist, is ru...",54,True,8275
8257,8276,west.,105640,Darrell Brooks trial: Waukesha parade's younge...,He said he was concerned with 25 frames as the...,169,True,8276
8258,8274,west.,168295,Ema Horvath is to star in a remake of 'The Str...,"Renny Harlin is directing the remake, with the...",5,True,8274

In [ ]:
merge_temp_m3_group2 = merge_temp_m3_group[['places','id','sentence_each']]

In [ ]:
merge_temp_m3_group2['domainId'] = merge_temp_m3_group2.groupby('places')['places'].rank(method='first')

<ipython-input-114-32e3fd288afa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_temp_m3_group2['domainId'] = merge_temp_m3_group2.groupby('places')['places'].rank(method='first')

In [ ]:
merge_temp_m3_group2.sort_values('places')

,places,id,sentence_each,domainId
0,,158151,"According to the panel, screening and follow-u...",1.0
1,,158151,"In 2020, the National Alliance on Mental Illne...",2.0
2,,158151,"""""After diagnosis, people should participate i...",3.0
3,14 W. Main St.,47531,The coaster ride is expected to be open year-r...,1.0
4,14 W. Main St.,30084,American Legion Macon Post 108 and American Le...,2.0
...,...,...,...,...
8253,west entrance,48058,"UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA...",1.0
8255,west entrance,47270,"UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA...",3.0
8257,west.,105640,He said he was concerned with 25 frames as the...,2.0
8256,west.,92690,"Now Richard Ringer, a former journalist, is ru...",1.0
8258,west.,168295,"Renny Harlin is directing the remake, with the...",3.0

In [ ]:
merge_temp_m3_group2_pivot = merge_temp_m3_group2.pivot(index='places', columns = 'domainId', values='sentence_each').reset_index() #CO: is it correct to use "places" as the index here? Also, I wonder if any issues can be caused by using reset_index so often?

In [ ]:
merge_temp_m3_group2_pivot.rename(columns={1:'sent_1', 2:'sent_2', 3:'sent_3'}, inplace=True)
merge_temp_m3_group2_pivot #CO why three sentences? Because we took three random sentences above? But, still, why that number? Also, does each row correspond to one article? Should it?

domainId,places,sent_1,sent_2,sent_3
0,,"According to the panel, screening and follow-u...","In 2020, the National Alliance on Mental Illne...","""""After diagnosis, people should participate i..."
1,14 W. Main St.,The coaster ride is expected to be open year-r...,American Legion Macon Post 108 and American Le...,The coaster ride is expected to be open year-r...
2,1495 Roswell Road,"According to investigators, around 9:15 p.m. o...","According to police, around 9:15 p.m. Saturday...",Marietta PD’s Selective Traffic Enforcement Pr...
3,169/28,"Box: Troy Buchanan 44, Timberland 12\n\nUpdate...",1 2 3 4 Final\nVirden North Mac 15 7 14 14 50\...,"Box: Troy Buchanan 44, Timberland 12\n\nUpdate..."
4,1:48,Biden creates national monument in Colorado - ...,South Korea’s Joint Chiefs of Staff said in a ...,South Korea’s Joint Chiefs of Staff said in a ...
...,...,...,...,...
2748,uk,"The trio is one shot ahead of Ken Duke, who po...",“The DPRK clearly deems nuclear tests essentia...,"Senate Minority Leader Mitch McConnell, R-Ky.,..."
2749,west Lincoln,Police find 10 spent shell casings after gunsh...,Police find 10 spent shell casings after gunsh...,Police find 10 spent shell casings after gunsh...
2750,west Tennessee,A west Tennessee woman's accused of murdering ...,A west Tennessee woman's accused of murdering ...,A west Tennessee woman's accused of murdering ...
2751,west entrance,"UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA...","UNI-Dome Render 6\n\nUpdated Oct 11, 2022\n\nT...","UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA..."
2752,west.,"Now Richard Ringer, a former journalist, is ru...",He said he was concerned with 25 frames as the...,"Renny Harlin is directing the remake, with the..."

In [ ]:
ner_places['places'] = ner_places['ner_places_clean']

In [ ]:
merge_temp_final = pd.merge(ner_places, merge_temp_m3_group2_pivot, on="places", how='left').reset_index()
#CO: recommend printing this. Does it look as expected?

In [ ]:
merge_temp_final['sent_1'] = merge_temp_final['sent_1'].str.replace('\n', ' ')
merge_temp_final['sent_2'] = merge_temp_final['sent_2'].str.replace('\n', ' ')
merge_temp_final['sent_3'] = merge_temp_final['sent_3'].str.replace('\n', ' ')

In [ ]:
# Mt. Pisgah
merge_temp_final.to_excel('/content/drive/MyDrive/Georgia/Locations Analysis/Georgia_ner_places_v2_wsent.xlsx') #CO: I'm not seeing this file in the folders I have access to. Is it the same as "Georgia_ner_places_v2.xlsx"? Double check that the correct file is being used later?

## Look up location (w updated data) on articles

In [42]:
#%cd /content/drive/MyDrive/Georgia/Locations Analysis
%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Locations Analysis'
!pwd

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Locations Analysis
/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Locations Analysis

In [43]:
# data created by manual coding
#xxxxx
import pandas as pd

location_final = pd.read_excel('Georgia_place_validation_counties.xlsx') #CO: I'm not sure which part here was done manually?

In [45]:
location_final = location_final[location_final['final_selection']==1]

In [46]:
location_final_st = location_final[['ner_place_clean','county_level', 'final_selection']]

In [47]:
location_final_st = location_final_st.dropna()

In [48]:
len(location_final) #CO: include this, so we can tell how many are being dropped
len(location_final_st)

1930

In [49]:
location_final_st

             ner_place_clean      county_level  final_selection
0           110 Airport Road  Habersham County                1
1          1495 Roswell Road       Cobb County                1
2                26th Street     Fulton County                1
3         3227 Roswell Rd NE     Fulton County                1
4               46 Plaza Way      Rabun County                1
...                      ...               ...              ...
1950  Yonah Memorial Gardens  Habersham County                1
1951                    York      Rabun County                1
1952              Youngstown      Union County                1
1953               Ypsilanti     Talbot County                1
1954            Zebulon Road       Bibb County                1

[1930 rows x 3 columns]

In [ ]:
# # multiple counties deleted
# location_final_st = location_final_st[location_final_st['county_level'].str.contains('Counties')==False]

In [50]:
len(set(location_final_st.county_level.values.tolist()))

159

In [51]:
location_final_list = list(set(location_final_st['ner_place_clean'].tolist()))

In [89]:
#import pandas as pd #CO: already imported. Consider only importing each package once. Such a minor thing, I know, but I hope these comments are helpful. Getting rid of some clutter might make it faster to read/edit the script later on.

#df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')

%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Web Scraping'
#!pwd
df = pd.read_pickle('Georgia_data_v2_translation_ner3_lem.pkl') #CO: I assume this is the relevant file!

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Web Scraping

In [55]:

import re

def bigrams(s):
    return [i for i in s if re.search(r'\s', i) ]
  
def unigrams(s):
    return [i for i in s if not re.search(r'\s', i) ]

word_bigrams_done = list(set(bigrams(location_final_list)))
print(word_bigrams_done) #CO: some of these don't really seem to be bigrams. For example: 'Mill Creek High School Football Game'
print(len(word_bigrams_done))
                       
word_unigrams_done = unigrams(location_final_list)
print(word_unigrams_done)
print(len(word_unigrams_done)) #CO: why are there more bigrams than unigrams? Conceptually, wouldn't we expect at least as mnay unigrams? I'm probably just missing something, but I'll mention it in case it's helpful to take a second look at!

['Presbyterian Village', 'the Washington W. King/College Avenue Bridge', 'Collins Street', 'La Vista', 'Mt. Pisgah', 'Calhoun City Schools', 'the Oconee River', 'Fort Valley State', 'the Cobb Galleria Centre', 'Red Bud', 'North Clayton', 'the 405 Freeway', 'the Rossville Public Library', 'Decatur Square', 'Winkenhofer Pine Ridge Funeral Home', 'Henderson Park', 'Butler Avenue', 'Amberly Drive', 'Cleveland Avenue', 'Valdosta State Prison', 'Inman Park', 'Bobo Street', 'Trammell Road', 'Mineral Springs Road', 'Sky Valley Way', 'Mill Creek High School Football Game', 'Goshen Road', 'Brownlee Mountain Road', 'Henry County’s', 'Pleasant Grove Road', 'Mt. Sinai Road', 'Habersham Central 1977', 'the Carson McLane Funeral Home', 'Historic District', 'Swift Cantrell Park', 'Fort Gillem', 'Hammond Park', 'Piedmont Park', 'Cedar Valley', 'Duncan Bridge Rd', 'Thomasville Heights', 'the City of Elberton', 'Bethlehem Road', 'Stephens County High School', 'Heritage Park', 'the Georgia State Prison', 'the Knights Inn on Boy Scout Road', 'Highway 80', 'Kurt Drive', 'Silver Mine Trail', 'FORT BENNING', 'Cumberland Mall', 'Dougherty County’s', 'Missouri River Bluffs', 'Beech Avenue', 'Commerce Rd', 'Eisenhower Plaza', 'Mount Zion United Methodist Church', 'North Georgia', 'North Wildwood', 'Savannah Airport', 'Fieldale Farms', 'Turtle Creek Drive', 'Cave Spring', 'Jackson Memorial Gardens', 'Highland Av', 'West Cobb Funeral Home and', 'Myrtle Street', 'Saint Simons Island', 'Oak St.', 'Partin Park', 'the Hostess City', 'East Park Square', 'the Gilmer County Library', 'Fort Benning', 'Godfrey Stadium', 'Cook County State’s', 'Heritage Point Park', 'Georgia Memorial Park', 'the Oglethorpe Mall', 'Agnes Scott', 'Six Flags Parkway', 'the City of Winder', 'Habersham Central', 'Truman Parkway', 'Central Georgia', 'the Stephens County Courthouse', 'the Satilla River', 'Healthy Savannah', 'Bridal Veil Falls', 'Amerson River Park', 'Watkins Pond Road', 'St. Vincent de Paul', 'Phipps Plaza', 'Pennsylvania Avenue', 'Tumlin Park', 'the Children’s Advocacy Center', 'the Etowah River', 'William Walker Recreation Center', 'Newnan 31', 'the Olmstead Homes', 'Welcome All Park', 'Brockton Rd', 'Rabbit Valley', 'West Lake Street', 'Austell Road', 'Balus Creek Park', 'Forrest Road', 'Old Savannah City Mission', 'the City of Smyrna', 'Prince Tate', 'Victory Home Lane', 'Dean Avenue', 'Saddle Ridge', 'Seaboard Industrial', 'Greene County High School', 'Wilder Center', 'East Rome', 'Wesley Chapel Road', 'the Talmadge Bridge', 'McLane Riverview Memorial Gardens', 'the Lee County Jail', 'East County Line Road', 'North Academy', 'Habersham Central 0', 'Roswell Area Park', 'Fort Valley State University', 'Lake Acworth', 'Hiram Douglasville Highway', 'the White City', 'Rainbow Drive', 'Cedar Avenue', 'Butts Mutts', 'Georgia Avenue', 'Cumberland Point Drive', 'Pyne Road', 'the Henry Grady College of Journalism', 'AL East', 'Discovery Boulevard', 'Dogwood Drive', 'the Rome Area History Center', 'the Glynn County Detention Center', 'Fayetteville Drive', 'the Summit on Fire Prevention', 'the Houston County District', 'Pinecrest Drive', 'Crawford County', 'Bates Road', 'Michelin Raceway Road', 'West Highland Street', 'Patterson Street', 'Buckhead Saloon', 'Morningside Road', 'Roberts Drive', 'Lindbergh Center Station', 'Joe Stock Memorial Park', 'Sims Funeral Home', 'Park Ridge', '3227 Roswell Rd NE', 'Greenville Drive', 'Jackson Heights', 'the Cheatham Hill', 'Cordova Street', 'Roosevelt Boulevard', 'South Cobbs', 'Hamilton Medical Center', 'Oak Drive', 'New England', 'the Calhoun Middle School', 'Holy Ground Baptist', 'Jardine Stadium', 'Orchard Park', 'River View Nursing Home', 'Junction City', 'Washington St.', 'Maple Avenue', 'Heritage Hills', 'West Armuchee', 'Long Branch', 'Ponderosa Drive', 'Speedway Boulevard', 'North Springs', 'Red Rocks', 'Athens Highway', 'Tattnall Square', 'West Cobb Funeral Home', 'the Polk County Jail', 'Olmsted Linear Park', 'Broughton Street', 'Rabbit Valley Farmers Market in Ringgold', 'El Don', 'Glenn Hills', 'Gordon County’s', 'the Garden District', 'East 4th Street', 'Pierce County Schools', 'Apple Valley', 'Islands Stadium', 'Swamp Park', 'the Savannah Area Chamber of Commerce', 'Lake Marion', 'Central Gwinnett', 'Mt. Bethel', 'Newcastle Street', 'North Rome', 'Interstate 475', 'Saint Mary’s', 'Carter Center', 'Mt. Zion Road', 'Lake Sinclair', 'Crystal Springs', 'the Teacher Walk of Honor on Marietta Square', 'Oglethorpe County High School', 'Statesboro Regional Library', 'Orange Street', 'North Green Street', 'Turner Lake Park', 'Richardson Street', 'Floyd County Superior Court', 'White Bluff Road', 'Benson Street', '900 Newnan Road', 'the Stimson Center', 'the Augusta Marriott', 'Windy Ridge Road', 'White County’s', 'First Street', 'Red Hill', 'Mt. Paran Christian', 'Belle Isle', 'the Star Bar', 'Washington Road', 'North Paulding', 'West Road NW', 'River North', 'Still Family Farm', 'the White Oak Road Farm', 'Park Place Restaurant', 'Clay Road', 'Miller Ferry Road', 'the Houlihan Bridge', 'Taliaferro County', 'Hinesville City Hall', 'Cobb Countys', 'Habersham Central 21', 'Lafayette Road', 'Mount Pleasant', 'the Historic District', 'Valhalla Stadium', 'Southwest Regional Airport', 'Muscogee County Sheriff', 'Cobb County Water', 'South Georgia Medical Center', 'Pine Mountain', 'the Marietta Square', 'the City of Decatur', 'Bailey York', 'Lynwood Park', 'Jacksonville State', 'Shaw Park', 'the Lake Erie Walleye Trail', 'Johnstonville Road', 'Oak Grove', 'Fulton County Stadium', 'West Street', 'Southwest DeKalb', 'Plum Orchard', 'Crooked River State Park', 'Mack Tharpe Stadium', 'Adams Stadium', 'the Saint Andrews', 'Laurel Island Links', 'Wake County', 'Pooler Parkway', 'Russell Street', 'Cobb mall', 'Sea Island', 'Giles Road', 'Chastain Road', 'Jaren Hall', 'Mount Pisgah', 'Stone Mountain Park', 'Richmond Hill 28', 'Canton Road', 'Stone Mountain Lake', 'the Barrow County Detention Center', 'East Central', 'the Georgia National Cemetery', 'Azalea Park Apartments', 'the Calhoun Rec. Department', 'Bentley Rd', 'Ball Ground', 'Craigtown Road', 'Peachtree Street NE', 'The Carter Center', 'the South Forsyth', 'Hotel Tybee', 'the City of Tybee Island', 'Lithonia Park', 'west Georgia', 'Douglas County Courthouse', 'Cumberland Island', 'Whitaker Street', 'Parkway South', 'East Jackson', 'Lexington city', 'East Georgia', 'Alverson Rd.', 'Bristol Bay', 'Shaw Road', 'West Forsyth', 'Strand Avenue', '26th Street', 'Hamilton Road', 'Osprey Cove Drive', 'Gainesville 55', 'Oregon Park Baseball', 'Lee Street', 'Fair Haven', 'West Savannah', 'Church Street', 'West Ave.', 'Arkose Drive', 'White Bluff', 'The Hostess City', 'Gallery West', 'South Main', 'Bluff Drive', 'Old River Road South', 'Westover Boulevard', 'Reynolds Street', 'Five Star Stadium', 'Candler Park', 'Altama Avenue', 'Mount Paran Christian', 'West Jackson', 'Grindstone Drive', 'East Broughton Street', 'Cauble Park', 'Mount de Sales', 'McLeod Drive', 'Rivaridge Drive', 'La Crosse', 'the Coca-Cola Roxy', 'Logan Farm House', 'Lake Park', 'Veterans Plaza', 'Mount Moriah Road', 'Stephens Memorial Gardens', 'Colonial Park Cemetery', 'Buford Drive', 'Ponce City Market', 'Canton Rd', 'Lake Oconee', 'South Georgia Tech', 'Pleasant Grove', 'Old Alabama Road', 'Mimosa Boulevard', 'Hickory Grove Road', 'Highway 411', 'State Farm Stadium', 'City of Refuge', 'West Hill Cemetery', 'Bobby Dodd Stadium', 'Crisp County Jail', 'West Broad', 'Avondale Stadium', 'Fort Gordon', 'Floyd Memory Gardens', 'Vogel State Park', 'Georgia National Cemetery', 'Fahm Street', 'Lexington Heights', 'Morgan County Citizen', 'KIPP Atlanta', 'Paper Mill Road', 'Camp Creek Elementary', 'East Tugalo Street', 'Franklin Springs', 'Ford Avenue', 'Monroe Area', 'Greystone Drive', 'the Ritz Theatre', 'Bristol Farms', 'Southern Willow Farms', 'Chatham County District', 'Matthews Field', 'Old Airport Road', 'Cochran Road', 'West Point Rd.', 'South Effingham’s', 'Cobb DOT road', 'West Franklin', 'Red Devil Hill', 'the Coosa Valley Fairgrounds', '5900 Sugarloaf Parkway', 'the Golden Isles Alzheimer’s Walk', 'Tara Boulevard', 'River City Bank', 'Oglethorpe Mall', 'Highway 53', 'Northeast Georgia', 'Dahlonega Funeral Home', 'North Shore', 'Hallford Stadium', 'Airport Road', 'the Chickamauga Public Library', 'Atlanta Street', 'the Dacula at', 'East Cobb’s', 'Sanford Stadium', 'the King Trail', 'the Golden Isles Development Authority', 'Burns Road', 'Parker Road', 'West Hill Avenue', 'The City of Rome', 'Wade Walker Park', 'Sugar Valley', 'Al Bishop Drive', 'West Village', 'Villa Rica', '5274 Dogwood Drive', 'the Douglas County Courthouse', 'the Braselton Civic Center', 'Garrard Avenue', 'St. Simons', 'the Economy Inn on Deans Bridge Road', 'the Madison County Library', 'Wildcat Bridge Road', 'Sugarloaf Mill', 'Paulding Avenue', 'the Enmarket Arena Updated', 'the Historic Fourth Ward Park', 'Talking Rock', 'South Cobb', 'Watts Drive', 'West Avenue', 'Middle Georgias', 'Chestnut Drive', 'Brown Bridge Road', 'Hickory Hills', 'Sawyer Road', 'Hickman Drive', 'Britain Drive', 'Tybee Islands', 'Roswell Road', 'the Ocmulgee River', 'the Noonday Creek Trail', 'the Rabun County Detention Center', 'Macon Regional Crime Stoppers', 'The Battery Atlanta', 'the Oostanaula River', 'Bluffs Parkway', 'Beaver Ruin Road', 'Macedonia Road', 'Red Rock Search', 'The City of Valdosta', 'Lula Road', 'St. Pius', 'Concord Rd', 'Plant Wansley', 'Pleasant Hill Road', 'Peachtree Ridge', 'Woodland of Cartersville', 'the Enmarket Arena', 'Tybee Island', 'the Stephens County Senior Center', 'Sapelo Island', 'South Forsyths', 'Buckhead City', 'Cobb Parkway NW', 'the Georgia Sports Hall of Fame', 'the Griffin Bears', 'Georgetown Drive', 'Galleria Parkway', 'Old Mountain Road', 'W Candler Street', 'Clifton Road', 'the Upson Beacon', 'Lazy River Motocross', 'Joint Venture Park', 'Old Decatur Cemetery', 'the Lumpkin County', 'Lilburn City Park', 'TYBEE ISLAND', 'Fairview Street', 'PnB Rock', 'Lake Dow Road', 'Decatur Area', 'Buckhead Village', 'W May Street', 'Callaway Road', 'Southside Commercial Parkway', 'Wisteria Ridge', 'Paulson Stadium', 'the Superior Plumbing VECTR Center', 'Diamond Lakes Park', 'Beachview Drive', 'McFarland Avenue', '1495 Roswell Road', 'the Georgia Theatre', 'Wilson Avenue', 'Baconton Charter', 'the Habersham County Extension', 'the Sapelo Island Welcome Center', 'Beaver Dam Creek', 'Black Rock Mountain State Park', 'Bell Auditorium', 'East Washington', 'Weaver Street', 'North Point', 'Jackson Street', 'Travelers Rest', 'Chapel Hill', 'Burnt Hickory Road', 'Skidaway Road', 'Key Road', 'Kona Ice', 'Interstate 520', 'Highland Ter', 'Carver Street', 'Rabbit Valley Christmas Markets', 'Fort Screven', 'Clark Street', 'Renaissance Park', 'Forest Park 10', 'River Ridge', 'the Cedar Valley', 'James Street', 'Valdosta State', 'Chapel Drive', 'Mt. Pleasant', 'Pine Avenue', 'the Mount Paran North Church', 'Western Springs', 'the Carter Center', 'the Chatham County Police Department’s', 'Morris Street', 'Pass Road', 'Calhoun P.D.', 'the Carroll County Jail', 'Hinesville Updated', 'Indian Lake Drive', 'Crazy P Arena', 'Wormsloe Historic Site Updated', 'Lake Allatoona', 'the Flovilla City Hall', 'East Cherokee Drive', 'the Rome Civic Center', 'Southern Oaks Drive', 'the Richmond Hill City Center', 'Ga. Highway', 'Monroe County Jail', 'Bob Pearson Field', 'Jones Island', 'Marietta City Hall', 'Clay Street', 'Northcutt Stadium', 'Southeast Bulloch', 'Robins Air Force Base', 'Covington Square', 'Madison Countys', 'New Holland', 'Peachtree Industrial Boulevard', 'the City of St. Marys', 'the Wardlaw-Bible Meeting Room of the LaFayette-Walker County Library', 'Jekyll Island', 'Shorter Avenue', 'Sunset Drive', 'the Buckhalter Road', 'North Greenville', 'Lake Trahlyta', 'Atlanta Rd', 'Bailey Warnix', 'Clairmont Road', 'Kennesaw Memorial Park Cemetery', 'Hammond Drive', 'the Sonoraville Recreation Center', 'Waters Avenue', 'Powder Springs Rd', 'Callaway Stadium', 'South Gwinnett', 'Gaines Road', 'Saddle Creek Road', 'Whitesville Rd.', 'the Georgia International', 'The Grand Opera House', 'Frances Avenue', 'the Cobb County Water System', 'Myrtle Hill’s', 'Sun Valley', 'the St. Simons Casino Theater', 'South Effingham', 'Pearl Street', 'Brookhaven City Hall', 'Whitlock Avenue', 'Sandy Creek', 'North Brown Road Suite', 'Douglas Medical Center', 'Pike County Schools', 'Grady Memorial Hospital', 'Newnan 34', 'McEver Road', 'Clayton Street', 'Kennesaw Memorial Park', 'Haralson County Rebels', 'the Cobb Civic Center', 'Gainesville’s Memorial Park Cemetery', 'Cobb Parkway S.', 'Oakland City', 'Jefferson River Rd', 'Mount Paran Road', 'Butterworth Lane', 'West Sandtown Road', 'Mt. Bethel’s', 'the Georgia Dome', 'Public Safety Drive', 'Tallulah Gorge State Park', 'Mineral Bluff', 'the Georgia State Capitol', '49 Hammond Drive', 'Mountain Views', 'Henderson Stadium', 'Sugarloaf Parkway', 'Iris Drive', 'W. Sandtown Road', 'the Olde Town Pavilion', 'Gas South Arena', 'Cherokee Avenue', 'the Toccoa River', 'Buford City', 'the Truist Park', 'Burr Park', 'E. Park Place Blvd', 'Granade Street', 'Lake Lanier', 'Crooked Creek Rd', 'Sunset Hill Cemetery', 'the Brunswick River', 'the Powder Springs Library', 'Kennesaw Mountain Park', 'Cateechee Golf Center', 'Langford Parkway', 'Floyd Springs', 'Giving Kitchen', 'Red Bud Road', 'Sandy Springs United Methodist Church Preschool', 'Memorial Parkway', 'Moreland Avenue', 'Springfield Street', 'Jefferson County Jail', 'Crown Mountain Place', 'Hamilton Street', 'the Port of Savannah', 'Monroe Street', 'Etowah River Park', 'Madison Street', 'Abercorn Street', 'Vidalia 36', 'North Murray', 'Trident Training Facility', 'Eastview Cemetery', 'Redfern Village', 'Braves Field', 'Westside Road', 'Albany City', 'Parkway Trail', 'Gwendolyn Street', 'Mall Blvd', 'Isle of Hope', 'Trickum Road', 'Rocky Creek', 'Cherokee Street', 'Bethesda Academy Savannah', 'Northwest Whitfield', 'Walter Cantrell Stadium', 'Lake Blackshear', 'Cook Street', 'Hickory Hills Elementary School PTA', 'the Rose Garden', 'Little Cumberland Island', 'Midway Road', 'the Georgia Aquarium', 'Georgia State', 'Alabama Highway', 'Mount Carmel', 'the Hilton Atlanta/Marietta Hotel & Conference Center', 'Way Northeast', 'Fairmont State', 'Butler County', 'Olde Town', 'Manchester Avenue', 'the Ogeechee River Basin', 'Mableton Parkway', 'Douglas County Jail', 'Yahoola Creek Park', 'Bailey Avenue', 'Bedford Park Boulevard', 'Glendale Avenue', 'Callaway Gardens', 'the Georgia Constitution', 'Jonesboro Road', 'Underground Atlanta', 'Titan Stadium', 'Lamar Murphy Park', 'Oak Brook', 'Blue Ridge', 'Mount Vernon', 'Bartley Rd.', 'Woodruff Riverfront Park', 'Washington Highway', 'Oglesby Bridge Road', 'Cherokee County Fire and Emergency Services', 'Burn Center', 'Griffin Memorial Stadium', 'Colony Square', 'Swainsboro City Cemetery', 'Cascade Drive', 'Naval Submarine Base Kings Bay', 'the Columbia County Exhibition Center', 'St. Francis Hospital', 'Oak Forest', 'Gwinnett County Fire', 'the Hall County Jail', 'Bobo Drive', 'the Buckner Rd Sidewalk', 'Chandler Road', 'Westside Drive', 'Maple Grove', 'Gordy Parkway', 'Townpark Drive', 'Univeter Road', 'Center City', 'Liberty Road', 'Brantley Middle', 'Yonah Memorial Gardens', 'the Butts County Animal Shelter', 'Fayette County Jail', 'North DeKalb Stadium', 'Peachtree Road', 'Nashville Street', 'ORCHARD PARK', 'Tybee Island’s', 'Eisenhower Drive', 'Washington Farms', 'Quail Valley Road', 'Fields Ferry Golf Club', '110 Airport Road', 'Boling Park', 'Park Avenue', 'Tommy Cash Stadium', 'New Milford', 'the North Georgia State Fair', 'Columbus Avenue', 'Grove Level Park', 'Holt Avenue', 'Oregon Park', 'Southeast Whitfield', 'Middle Atlantic', 'Colfax Avenue', 'St. Simon’s', 'Kings Island', 'Old River Road', 'Erwin Street', 'Seaboard Ind.', 'Myrtle Avenue', 'Thompson Stadium', 'Cape Street', 'Battery Avenue SE', 'Unicoi State Park', 'Diver’s Den', 'Silver Creek', 'Broadrick Drive', 'Deans Bridge Road', 'County Road 380', 'Neptune Park', 'Amicalola Creek', 'Cobb Pkwy NW', 'Shallowford Road', 'Arnall Drive', 'Harris Drive', 'S Broad St.', 'South Augusta', 'West Central', 'Lawrenceville Square', 'Kennesaw Mountain', 'los recuerdos', 'Ledo Road', 'Mt. Vernon', 'Carrollton City', 'North Druid Hills Road', 'the DeSoto Theatre', 'Monarch Village Way', 'Green Street', 'Grizzard Park', 'New Hope', 'the Fox Theatre', 'Sawyer Road Elementary', 'the Acree-Davis Funeral Home', 'Eatonton Road', 'W May St.', 'Main S', 'Webster Street', 'South Main Street', 'The Oglethorpe Echo', 'Pine Street', 'Mt. Zion-Carrollton', 'Epps Bridge Parkway', 'Eastern Wharf', 'Chestnut Hill', 'Herb St. John Stadium', 'Anderson Street', 'Anderson Avenue', 'Kennedy Funeral Homes', 'South Atlanta', 'Wildwood Park', 'Oak Ridge', 'Camp Gordon', 'East Forsyth', 'Franklin County Citize', 'New Manchester', 'Drake Field', 'District Live', 'Oak Lawn', 'Chester Avenue', 'Cotton Hall', 'Newton Ridge Drive', 'Hall County Jail', 'Pulaski Street', 'Piedmont Henry', 'Bulloch Memorial Gardens', 'Lakewood Stadium', 'the City of Auburn', 'Shiloh Valley Drive', 'Center Stage', 'Shorty Howell Park', 'Cumberland Valleys', 'the Rome Tennis Center', 'Clay County', 'Old Town', 'Paris Lake', 'North Murray’s', 'Brewton Cemetery', 'Granger Park', 'Wild Adventures', 'Bells Ferry Road', 'East Cobb Park', 'Cotton Avenue', 'the Conyers Depot on Railroad Street', 'Atlanta Road', 'Wayne County High School', 'Westend Area', 'Buckhalter Road', 'Augusta Regional Airport', 'North 25th Street', 'Perimeter Mall', 'Sugarloaf Mills Mall', 'Northside Drive', 'Brook Run Park', 'Columbus 58th Wettest', 'Kendrick Road', 'Rossville Recreation Association', 'North 27th Street', 'the Golden Isles', 'Mountain Valley', 'Jaycee Stadium', 'St. Anne-Pacelli', 'East Lake Drive', 'a White House', 'Gwinnett County Jail', 'Red Rock', 'Forsyth Park', 'Almond Street', 'the Macon City Auditorium', 'Lawrenceville Highway', 'Magnolia Street', 'Blossom Drive', 'St. John Bosco', 'Cresta Drive', 'Crestlawn Memorial Park Cemetery', 'Mount Vernon Road', 'Perimeter Center West', 'North Park Square', 'McGregor Street', 'Albany State', 'Peyton Place', 'the Coosa Valley Fair', 'Brodie Field', 'Silver Bluff', 'the Plant Riverside District', 'Troup County Fire', 'Jackson County High School', 'Clifton Road NE', 'Cumberland Boulevard SE', 'Access Road', 'Field Street', 'Dougherty County Jail', 'Decatur City Hall', 'the Decatur Square', 'Flint Avenue', 'Edmondson Avenue', 'the Village Green', 'Saint Louis', 'Panola Road', 'Davis Street', 'Prospect Heights', 'the UGA Bookstore', 'West Georgia', 'North Hills', 'Euclid Avenue', 'Calhoun Georgia', 'Macon State Prison', 'Chattahoochee Avenue', 'Bay Street', 'Sand Mountain', 'North Street', 'the Columbia County Detention Center', 'Grey Hill Cemetery', 'North Cobb', 'Carmichael Funeral Home', 'the City of Madison’s', 'the Highland Park', 'Clayton State', 'the Georgia Diagnostic and', 'Cobb Parkway SE', 'North Marietta Parkway', 'Cedar Grove', 'Cedar Creek', 'Butts County’s', 'North Oconee', 'Eveline Avenue', 'Cedar Crest', 'Redmond Circle', 'the East Side', 'Clayton City Hall', 'Oak Grove Rd', 'Richmond Hill', 'Coosa Valley', 'Windsor Parkway', 'Mill Creek’s', 'Park Street', 'the Lees Crossing Clubhouse', 'West End', 'Curtis Parkway', 'Oglethorpe Road', 'Plant Atkinson Road', 'Hampton Street', 'Loch Highland Pass', 'Bentley Road', 'the Grand Opera House', 'Cherry Street', 'Brookhaven Park', 'Dalton State', 'Plant Riverside District', 'Rock Hill', 'Little River', 'the Gwinnett County Fair', 'North Oconee’s', 'Ft. Valley', 'University Parkway', 'East Atlanta', 'Courthouse Square', 'Cobb Parkway N.', 'North West', 'Rocky Mount', 'Apple Valley Rd', 'the Albany Civic Center', 'Spencer Park', 'South Forsyth’s', 'Ada Street', 'Cedartown Memorial Stadium', 'New Georgia', 'Rimrock Road', 'Cobb Medical Center', 'Carroll Memory Garde

In [90]:
import numpy as np #CO: already imported above
df = df.head(5000) #CO: take a small sample to speed it up as I'm checking in
df['place_ng1'] = df['article_final'].astype(str).apply(lambda x: set.intersection(set(x.split(' ')), word_unigrams_done))
df['place_ng2'] = df['article_final'].astype(str).apply(lambda x: [i for i in word_bigrams_done if i in x])

In [91]:
#df['place_ng1'] #looks like unigrams. Good.
print(df['place_ng2'].head(50)) #bigrams look good, too, although some technically don't seem like bigrams (e.g., "Kennedy Funeral Homes"). Also, I think that "Kennedy Funeral Homes" is a company, not a place.

0                                                    []
1                                                    []
2                                                    []
3                                                    []
4                                                    []
5                                                    []
6                                                    []
7                                                    []
8                                                    []
9                                                    []
10                                                   []
11                                                   []
12                                                   []
13                                                   []
14                                                   []
15                                                   []
16                                                   []
17                                                   []
18                        [East Georgia, Georgia State]
19                                                   []
20                                                   []
21                                                   []
22                                                   []
23                                          [Twin City]
24                                                   []
25    [Kennedy Funeral Homes, Bulloch Memorial Gardens]
26                                                   []
27               [Kennedy Funeral Homes, Richmond Hill]
28                                                   []
29                              [Kennedy Funeral Homes]
30                [East Georgia, Kennedy Funeral Homes]
31                 [Kennedy Funeral Homes, Cedar Creek]
32                              [Kennedy Funeral Homes]
33                                                   []
34                              [Kennedy Funeral Homes]
35                              [Kennedy Funeral Homes]
36                              [Kennedy Funeral Homes]
37                                                   []
38                                                   []
39                                                   []
40                                                   []
41                                                   []
42                                                   []
43                                                   []
44                                                   []
45                                                   []
46                                                   []
47                                                   []
48                                                   []
49                                                   []
Name: place_ng2, dtype: object

In [92]:
df_uni = df[(df['place_ng1'].str.len()) >= 1]
df_bi = df[(df['place_ng2'].str.len()) >= 1]

df_uni = df_uni[['id', 'source', 'place_ng1']]
df_bi = df_bi[['id', 'source', 'place_ng2']]

df_uni_df = df_uni.explode('place_ng1')
df_bi_df = df_bi.explode('place_ng2')

df_uni_df = df_uni_df.rename(columns={'place_ng1': 'place_ner'})
df_bi_df = df_bi_df.rename(columns={'place_ng2': 'place_ner'})

In [93]:
df_uni_df #CO: most these seem to be names of people (Allen, Charles, Rebecca, Philips, etc.), not places. 
df_bi_df #CO: these generally look more relevant than the unigrams

        id                   source                 place_ner
18      19        Metter Advertiser              East Georgia
18      19        Metter Advertiser             Georgia State
23      24        Metter Advertiser                 Twin City
25      26        Metter Advertiser     Kennedy Funeral Homes
25      26        Metter Advertiser  Bulloch Memorial Gardens
...    ...                      ...                       ...
4826  4827  WRDW News CBS 12 NBC 26              Mount Carmel
4877  4878  WRDW News CBS 12 NBC 26             Poplar Street
4882  4883  WRDW News CBS 12 NBC 26              Henry Street
4919  4920  WRDW News CBS 12 NBC 26                    Main S
4994  4995  WRDW News CBS 12 NBC 26            Lexington city

[1167 rows x 3 columns]

In [94]:
df_ng_all = pd.concat([df_uni_df, df_bi_df])
#df_ng_all
print(df_ng_all.head(50)) #CO: a lot of these still seem like the names of people

    id             source   place_ner
2    3  Metter Advertiser       Allen
2    3  Metter Advertiser     Charles
2    3  Metter Advertiser    Franklin
2    3  Metter Advertiser      Murphy
2    3  Metter Advertiser     Rebecca
2    3  Metter Advertiser    Kathleen
2    3  Metter Advertiser      Bailey
2    3  Metter Advertiser    Pineland
2    3  Metter Advertiser     William
2    3  Metter Advertiser     Beverly
2    3  Metter Advertiser     Roberta
2    3  Metter Advertiser       Billy
2    3  Metter Advertiser      Metter
2    3  Metter Advertiser     Randall
2    3  Metter Advertiser        Anna
3    4  Metter Advertiser      Metter
5    6  Metter Advertiser     Claxton
5    6  Metter Advertiser      Metter
5    6  Metter Advertiser       Moore
6    7  Metter Advertiser    Rockmart
6    7  Metter Advertiser      Metter
7    8  Metter Advertiser        Jake
7    8  Metter Advertiser      Bailey
7    8  Metter Advertiser      Metter
7    8  Metter Advertiser      Butler
8    9  Metter Advertiser     Charles
9   10  Metter Advertiser      Metter
10  11  Metter Advertiser      Center
11  12  Metter Advertiser      Metter
11  12  Metter Advertiser      Center
14  15  Metter Advertiser     Roberta
15  16  Metter Advertiser      Metter
17  18  Metter Advertiser      Metter
18  19  Metter Advertiser      Adrian
18  19  Metter Advertiser      Center
18  19  Metter Advertiser       Rentz
18  19  Metter Advertiser      Metter
18  19  Metter Advertiser  Swainsboro
19  20  Metter Advertiser      Metter
20  21  Metter Advertiser       Allen
21  22  Metter Advertiser      Metter
22  23  Metter Advertiser    Pembroke
22  23  Metter Advertiser      Portal
22  23  Metter Advertiser      Metter
22  23  Metter Advertiser     Wheeler
23  24  Metter Advertiser        Anna
23  24  Metter Advertiser   Cleveland
23  24  Metter Advertiser      Center
23  24  Metter Advertiser      Rogers
23  24  Metter Advertiser      Metter

In [95]:
count = df_ng_all.groupby(['source']).count() 
count #CO: why is the id column identical to the place_ner column?

                              id  place_ner
source
Atlanta Business Chronicle    87         87
Banks County News            107        107
Capitol Beat                 138        138
Carroll Star News             32         32
Clayton Tribune              690        690
Georgia Recorder             138        138
Metter Advertiser            162        162
Moultrie Observer            893        893
Pickens County Progress       98         98
The Daily Tribune News       545        545
The Red & Black              436        436
WALG AM 1590                 230        230
WRDW News CBS 12 NBC 26     1853       1853

In [97]:
count_20 = count[count['place_ner'] >= 20].reset_index()
count_20
#CO: What is the purpose? Why 20?

                        source    id  place_ner
0   Atlanta Business Chronicle    87         87
1            Banks County News   107        107
2                 Capitol Beat   138        138
3            Carroll Star News    32         32
4              Clayton Tribune   690        690
5             Georgia Recorder   138        138
6            Metter Advertiser   162        162
7            Moultrie Observer   893        893
8      Pickens County Progress    98         98
9       The Daily Tribune News   545        545
10             The Red & Black   436        436
11                WALG AM 1590   230        230
12     WRDW News CBS 12 NBC 26  1853       1853

In [99]:
count_20_id = list(set(count_20['source'].tolist()))

df_ng_all_m20 = df_ng_all[df_ng_all['source'].isin(count_20_id)]
df_ng_all_m20 #CO: Is the purpose to filter out/drop all stories from outlets with < "place_ner" counts? If so, why do this at the outlet level, and not only at the story level?

        id                   source       place_ner
2        3        Metter Advertiser           Allen
2        3        Metter Advertiser         Charles
2        3        Metter Advertiser        Franklin
2        3        Metter Advertiser          Murphy
2        3        Metter Advertiser         Rebecca
...    ...                      ...             ...
4826  4827  WRDW News CBS 12 NBC 26    Mount Carmel
4877  4878  WRDW News CBS 12 NBC 26   Poplar Street
4882  4883  WRDW News CBS 12 NBC 26    Henry Street
4919  4920  WRDW News CBS 12 NBC 26          Main S
4994  4995  WRDW News CBS 12 NBC 26  Lexington city

[5409 rows x 3 columns]

In [100]:
len(count_20_id)

13

In [102]:
location_final_st = location_final_st.rename(columns={'ner_place_clean': 'place_ner'})
location_final_st #CO: should the two columns correspond to each other? If so, how do we know that they do? Is this what was manually validated earlier on?

                   place_ner      county_level  final_selection
0           110 Airport Road  Habersham County                1
1          1495 Roswell Road       Cobb County                1
2                26th Street     Fulton County                1
3         3227 Roswell Rd NE     Fulton County                1
4               46 Plaza Way      Rabun County                1
...                      ...               ...              ...
1950  Yonah Memorial Gardens  Habersham County                1
1951                    York      Rabun County                1
1952              Youngstown      Union County                1
1953               Ypsilanti     Talbot County                1
1954            Zebulon Road       Bibb County                1

[1930 rows x 3 columns]

In [121]:
df['article_final'][0]

'The American Pickers are excited to return to Georgia. They plan to film episodes of The History Channel hit television series throughout the area in December 2022.\nAmerican Pickers is a documentary series that explores the fascinating world of antique “picking” on The History Channel. The hit show follows skilled pickers in the business as they hunt for America’s most valuable antiques.\nThey are always excited to find sizable, unique collections and learn the interesting stories behind them.\nAs they hit the back roads from coast to coast, the Pickers are on a mission to recycle and rescue forgotten relics.\nAlong the way, they want to meet characters with remarkable and exceptional items. They hope to give historically significant objects a new lease on life while learning a thing or two about America’s past along the way. The Pickers have seen a lot of rusty gold over the years and are always looking to discover something they’ve never seen before. They are ready to find extraordinary items and hear fascinating tales about them.\nThe team at American Pickers continues to take the pandemic very seriously and will be following all guidelines and protocols for safe filming outlined by the state and CDC. Nevertheless, they are excited to continue reaching the many collectors in the area to discuss their years of picking and are eager to hear their memorable stories!\nThe American Pickers TV Show is looking for leads and would love to explore your hidden treasure. If you or someone you know has a large, private collection or accumulation of antiques that the Pickers can spend the better part of the day looking through we would love to hear from you!\nPlease note, the Pickers do not pick stores, flea markets, malls, auction businesses, museums, or anything open to the public. If interested, send your name, phone number, location, and description of the collection with photos to: americanpickers@cineflix.com or call (646) 493-2184; facebook: @GotAPick'

In [117]:
print(df[['article_final'][0]][0]) #CO: print the text of the very first article, as a sanity check

The American Pickers are excited to return to Georgia. They plan to film episodes of The History Channel hit television series throughout the area in December 2022.
American Pickers is a documentary series that explores the fascinating world of antique “picking” on The History Channel. The hit show follows skilled pickers in the business as they hunt for America’s most valuable antiques.
They are always excited to find sizable, unique collections and learn the interesting stories behind them.
As they hit the back roads from coast to coast, the Pickers are on a mission to recycle and rescue forgotten relics.
Along the way, they want to meet characters with remarkable and exceptional items. They hope to give historically significant objects a new lease on life while learning a thing or two about America’s past along the way. The Pickers have seen a lot of rusty gold over the years and are always looking to discover something they’ve never seen before. They are ready to find extraordinary items and hear fascinating tales about them.
The team at American Pickers continues to take the pandemic very seriously and will be following all guidelines and protocols for safe filming outlined by the state and CDC. Nevertheless, they are excited to continue reaching the many collectors in the area to discuss their years of picking and are eager to hear their memorable stories!
The American Pickers TV Show is looking for leads and would love to explore your hidden treasure. If you or someone you know has a large, private collection or accumulation of antiques that the Pickers can spend the better part of the day looking through we would love to hear from you!
Please note, the Pickers do not pick stores, flea markets, malls, auction businesses, museums, or anything open to the public. If interested, send your name, phone number, location, and description of the collection with photos to: americanpickers@cineflix.com or call (646) 493-2184; facebook: @GotAPick

In [103]:
df_ng_all_m20_county = pd.merge(df_ng_all_m20, location_final_st, how='left', on='place_ner')
df_ng_all_m20_county

,id,source,place_ner,county_level,final_selection
0,3,Metter Advertiser,Allen,Oconee County,1
1,3,Metter Advertiser,Charles,Toombs County,1
2,3,Metter Advertiser,Franklin,Heard County,1
3,3,Metter Advertiser,Murphy,Colquitt County,1
4,3,Metter Advertiser,Rebecca,Turner County,1
...,...,...,...,...,...
5404,4827,WRDW News CBS 12 NBC 26,Mount Carmel,Walker County,1
5405,4878,WRDW News CBS 12 NBC 26,Poplar Street,Bibb County,1
5406,4883,WRDW News CBS 12 NBC 26,Henry Street,Richmond County,1
5407,4920,WRDW News CBS 12 NBC 26,Main S,Gwinnett County,1
5408,4995,WRDW News CBS 12 NBC 26,Lexington city,Oglethorpe County,1

In [ ]:
df_ng_all_m20_county

,id,source,place_ner,county_level,final_selection
0,3,Metter Advertiser,Charles,Toombs County,1
1,3,Metter Advertiser,Franklin,Heard County,1
2,3,Metter Advertiser,Metter,Candler County,1
3,3,Metter Advertiser,William,Chatham County,1
4,3,Metter Advertiser,Murphy,Colquitt County,1
...,...,...,...,...,...
194285,191910,WALB TV 10 (NBC),Osprey Cove Drive,Muscogee County,1
194286,191944,WALB TV 10 (NBC),Magnolia Drive North,Effingham County,1
194287,191955,WALB TV 10 (NBC),Pine Street,Fulton County,1
194288,191985,WALB TV 10 (NBC),Wake County,Walker County,1
194289,192159,WALB TV 10 (NBC),North Academy,Turner County,1

In [122]:
df_ng_all_m20_county_unique = df_ng_all_m20_county.drop_duplicates(subset=['id', 'source', 'county_level']) #CO: why drop duplicate values here?

In [123]:
df_ng_all_m20_county_unique

,id,source,place_ner,county_level,final_selection
0,3,Metter Advertiser,Allen,Oconee County,1
1,3,Metter Advertiser,Charles,Toombs County,1
2,3,Metter Advertiser,Franklin,Heard County,1
3,3,Metter Advertiser,Murphy,Colquitt County,1
4,3,Metter Advertiser,Rebecca,Turner County,1
...,...,...,...,...,...
5403,4786,WRDW News CBS 12 NBC 26,Ponderosa Drive,Lowndes County,1
5404,4827,WRDW News CBS 12 NBC 26,Mount Carmel,Walker County,1
5405,4878,WRDW News CBS 12 NBC 26,Poplar Street,Bibb County,1
5406,4883,WRDW News CBS 12 NBC 26,Henry Street,Richmond County,1
5407,4920,WRDW News CBS 12 NBC 26,Main S,Gwinnett County,1

In [125]:
df_ng_all_m20_county_unique_count = df_ng_all_m20_county_unique.groupby(['source','county_level'])['id'].count().reset_index()
df_ng_all_m20_county_unique_count

                         source      county_level  id
0    Atlanta Business Chronicle       Bibb County   3
1    Atlanta Business Chronicle      Butts County   2
2    Atlanta Business Chronicle    Calhoun County   2
3    Atlanta Business Chronicle    Carroll County   1
4    Atlanta Business Chronicle       Cobb County   5
..                          ...               ...  ..
787     WRDW News CBS 12 NBC 26  Whitfield County   1
788     WRDW News CBS 12 NBC 26     Wilcox County  10
789     WRDW News CBS 12 NBC 26     Wilkes County   6
790     WRDW News CBS 12 NBC 26  Wilkinson County  23
791     WRDW News CBS 12 NBC 26      Worth County   4

[792 rows x 3 columns]

In [126]:
df_ng_all_m20_county_unique_count = df_ng_all_m20_county_unique_count.rename(columns={'id': 'article_id_count'})
df_ng_all_m20_county_unique_count
#CO: what is the purpose of this? Do we want to merge this information about counties back into the main dataframe? If no, then what is the purpose? If yes, then where is that being done?

                         source      county_level  article_id_count
0    Atlanta Business Chronicle       Bibb County                 3
1    Atlanta Business Chronicle      Butts County                 2
2    Atlanta Business Chronicle    Calhoun County                 2
3    Atlanta Business Chronicle    Carroll County                 1
4    Atlanta Business Chronicle       Cobb County                 5
..                          ...               ...               ...
787     WRDW News CBS 12 NBC 26  Whitfield County                 1
788     WRDW News CBS 12 NBC 26     Wilcox County                10
789     WRDW News CBS 12 NBC 26     Wilkes County                 6
790     WRDW News CBS 12 NBC 26  Wilkinson County                23
791     WRDW News CBS 12 NBC 26      Worth County                 4

[792 rows x 3 columns]

In [128]:
#df_ng_all_m20_county_unique_count.to_excel('Georgia_m20_county_unique_count_v2.xlsx')
pd.reset_option('display.max_colwidth')
df #CO: in "place ng1", why is the first row empty? America and Georgia are both unigrams, so why woouldn't these be mentioned here?

,index,source,en_source,website,article_url,article_title,article_author,date_published,article_final,ner_places,ner_orgs,article_lemma_num,id,ner_places_orgs,ner_person,place_ng1,place_ng2
0,0,Metter Advertiser,1.0,http://www.metteradvertiser.com/,http://www.metteradvertiser.com/article_167b17...,American Pickers to film in Georgia,NaN,2022-09-19,The American Pickers are excited to return to ...,"{'America (GPE)', 'Georgia (GPE)'}","{'American Pickers (ORG)', 'CDC (ORG)', 'The A...",american picker excited return georgia plan fi...,1,"{American Pickers (ORG), CDC (ORG), Georgia (G...",{Pickers (PERSON)},{},[]
1,1,Metter Advertiser,1.0,http://www.metteradvertiser.com/,http://www.metteradvertiser.com/article_248646...,Free Covid test kits available TODAY,NaN,2022-09-15,Candler County Health Department and Southeast...,{'Metter (GPE)'},"{'SE Broad Street and (ORG)', 'Southeast Healt...",candler county health department southeast hea...,2,"{Candler County Health Department (ORG), N. Ro...",{Covid (PERSON)},{},[]
2,2,Metter Advertiser,1.0,http://www.metteradvertiser.com/,http://www.metteradvertiser.com/article_2eccfd...,CLASS OF 2000 STILL LEADS THE WAY! Over $29K r...,NaN,2022-10-14,After the third week of the Education Foundati...,set(),"{'CarterFranklin (ORG)', 'Ronnie & Janie Sikes...",week education foundation 2022 campaign class ...,3,"{Paul & Beverly MacGregor (ORG), the Education...","{Roberta Graham (PERSON), Jill Vining (PERSON)...","{Allen, Charles, Franklin, Murphy, Rebecca, Ka...",[]
3,3,Metter Advertiser,1.0,http://www.metteradvertiser.com/,http://www.metteradvertiser.com/article_2f555e...,"MMS Lady Tigers to play for championship, MMS ...",NaN,2022-09-27,Congratulations to the Metter Middle School La...,"{'South Tattnall (GPE)', 'Bryan County (GPE)',...","{'MHS (ORG)', 'the Metter Middle School Lady T...",congratulation metter middle school lady tiger...,4,"{Toombs County (GPE), Bryan County (GPE), MHS ...",{South Tattnall (PERSON)},{Metter},[]
4,4,Metter Advertiser,1.0,http://www.metteradvertiser.com/,http://www.metteradvertiser.com/article_2fe7f1...,ATTN Hunters & Anglers: Celebrate Hunting & Fi...,NaN,2022-09-22,In a proclamation recently signed by Gov. Bria...,{'Georgia (GPE)'},"{'Outdoor Adventure Days (ORG)', 'Congressiona...",proclamation recently sign gov brian kemp satu...,5,"{Outdoor Adventure Days (ORG), NHF Day (GPE), ...","{Brian Kemp (PERSON), Richard Nixon (PERSON)}",{},[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,WRDW News CBS 12 NBC 26,1.0,http://www.wrdw.com/,https://www.wrdw.com/video/2022/09/20/watch-ob...,WATCH: Objects appear to be falling from the s...,NaN,2022-09-20,Video taken 9/20/22 6:45 am. Objects were visi...,"{'Calhan (GPE)', 'Hartsel (GPE)', 'Colorado (G...",{'11 News Viewers (ORG)'},video take 92022 645 object visible hartsel ca...,4996,"{Colorado (GPE), Hartsel (ORG), Calhan (GPE)}",{},{},[]
4996,4996,WRDW News CBS 12 NBC 26,1.0,http://www.wrdw.com/,https://www.wrdw.com/video/2022/09/20/watch-uk...,WATCH | UK Healthcare offering ‘Stop the Bleed...,NaN,2022-09-19,UK Healthcare offering ‘Stop the Bleed’ training,set(),{'UK Healthcare (ORG)'},uk healthcare offering stop bleed training,4997,{UK Healthcare (ORG)},{},{},[]
4997,4997,WRDW News CBS 12 NBC 26,1.0,http://www.wrdw.com/,https://www.wrdw.com/video/2022/09/20/waterloo...,Waterloo man arrested after allegedly stealing...,NaN,2022-09-20,Police arrested a Waterloo man who they say st...,{'Lost Island (LOC)'},set(),police arrest waterloo man steal 2500 worth e...,4998,{Lost Island (LOC)},{Waterloo (PERSON)},{},[]
4998,4998,WRDW News CBS 12 NBC 26,1.0,http://www.wrdw.com/,https://www.wrdw.com/video/2022/09/20/western-...,Western Alaska communities still uncovering da...,NaN,2022-09-20,Western Alaska communities still uncovering da...,{'Alaska (GPE)'},set(),western alaska community uncover damage major ...,4999,{Alaska (GPE)},{},{},[]
4999,4999,WRDW News CBS 12 NBC 26,1.0,http://www.wrdw.com/,https://www.wrdw.com/video/2022/09/20/what-ins...,What's inside Huntsville's proposed budget?,NaN,2022-09-20,What's inside Huntsville's proposed budget?,set(),{'Huntsville (ORG)'},inside huntsville propose budget,5000,{Huntsville (ORG)},{},{},[]