<a href="https://colab.research.google.com/github/ykim71/georgia_analysis/blob/Christian-comments/(3)_Georgia_topic_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# need access to the folder(s) below:

#%cd /content/drive/MyDrive/Georgia/

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Locations Analysis

# Topic analysis

## Prep for topic analysis

In [ ]:
#%cd /content/drive/MyDrive/Georgia/Topic Dictionaries
%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Web Scraping'

import pandas as pd

#df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')
df = pd.read_pickle('Georgia_data_v2_translation_ner3_lem.pkl') #CO: I assume this is the relevant file! Same as in "Check(2)_Georgia_place_analysis.ipynb"

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-90-7391740415e5>", line 2, in <cell line: 2>
    get_ipython().run_line_magic('cd', "/content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Web Scraping'")
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2418, in run_line_magic
    result = fn(*args, **kwargs)
  File "<decorator-gen-85>", line 2, in cd
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/magic.py", line 187, in <lambda>
    call = lambda f, *a, **k: f(*a, **k)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/magics/osm.py", line 342, in cd
    oldcwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.9/inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.9/inspect.py", line 1501, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.9/inspect.py", line 709, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.9/inspect.py", line 738, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.9/inspect.py", line 722, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.9/posixpath.py", line 380, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-90-7391740415e5>", line 2, in <cell line: 2>
    get_ipython().run_line_magic('cd', "/content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Web Scraping'")
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2418, in run_line_magic
    result = fn(*args, **kwargs)
  File "<decorator-gen-85>", line 2, in cd
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/magic.py", line 187, in <lambda>
    call = lambda f, *a, **k: f(*a, **k)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/magics/osm.py", line 342, in cd
    oldcwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3575, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.9/inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.9/inspect.py", line 1501, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.9/inspect.py", line 709, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.9/inspect.py", line 738, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.9/inspect.py", line 722, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.9/posixpath.py", line 380, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-90-7391740415e5>", line 2, in <cell line: 2>
    get_ipython().run_line_magic('cd', "/content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Web Scraping'")
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2418, in run_line_magic
    result = fn(*args, **kwargs)
  File "<decorator-gen-85>", line 2, in cd
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/magic.py", line 187, in <lambda>
    call = lambda f, *a, **k: f(*a, **k)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/magics/osm.py", line 342, in cd
    oldcwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3575, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3030, in _run_cell
    return runner(coro)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3257, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3492, in run_ast_nodes
    self.showtraceback()
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.9/inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.9/inspect.py", line 1501, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.9/inspect.py", line 709, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.9/inspect.py", line 738, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.9/inspect.py", line 722, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.9/posixpath.py", line 380, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

In [ ]:
# lemmatization if needed
import spacy
import re

nlp = spacy.load("en_core_web_sm", disable=['ner', 'parser']) # disabling Named Entity Recognition for speed

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-90-f70a2f8ddd09>", line 5, in <cell line: 5>
    nlp = spacy.load("en_core_web_sm", disable=['ner', 'parser']) # disabling Named Entity Recognition for speed
  File "/usr/local/lib/python3.9/dist-packages/spacy/__init__.py", line 54, in load
    return util.load_model(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 442, in load_model
    return load_model_from_package(name, **kwargs)  # type: ignore[arg-type]
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 478, in load_model_from_package
    return cls.load(vocab=vocab, disable=disable, enable=enable, exclude=exclude, config=config)  # type: ignore[attr-defined]
  File "/usr/local/lib/python3.9/dist-packages/en_core_web_sm/__init__.py", line 10, in load
    return load_model_from_init_py(__file__, **overrides)
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 659, in load_model_from_init_py
    return load_model_from_path(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 516, in load_model_from_path
    nlp = load_model_from_config(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 564, in load_model_from_config
    nlp = lang_cls.from_config(
  File "/usr/local/lib/python3.9/dist-packages/spacy/language.py", line 1773, in from_config
    nlp = lang_cls(vocab=vocab, create_tokenizer=create_tokenizer, meta=meta)
  File "/usr/local/lib/python3.9/dist-packages/spacy/language.py", line 176, in __init__
    vocab = create_vocab(self.lang, self.Defaults, vectors_name=vectors_name)
  File "spacy/vocab.pyx", line 38, in spacy.vocab.create_vocab
  File "spacy/vocab.pyx", line 81, in spacy.vocab.Vocab.__init__
  File "spacy/vectors.pyx", line 109, in spacy.vectors.Vectors.__init__
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 134, in get_current_ops
    require_cpu()
  File "/usr/local/lib/python3.9/dist-packages/thinc/util.py", line 178, in require_cpu
    ops = get_ops("cpu")
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 99, in get_ops
    _import_extra_cpu_backends()
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 81, in _import_extra_cpu_backends
    from thinc_apple_ops import AppleOps
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 982, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 925, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1423, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1392, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1356, in _path_importer_cache
OSError: [Errno 107] Transport endpoint is not connected

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.9/inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.9/inspect.py", line 1501, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.9/inspect.py", line 709, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.9/inspect.py", line 738, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.9/inspect.py", line 722, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.9/posixpath.py", line 380, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-90-f70a2f8ddd09>", line 5, in <cell line: 5>
    nlp = spacy.load("en_core_web_sm", disable=['ner', 'parser']) # disabling Named Entity Recognition for speed
  File "/usr/local/lib/python3.9/dist-packages/spacy/__init__.py", line 54, in load
    return util.load_model(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 442, in load_model
    return load_model_from_package(name, **kwargs)  # type: ignore[arg-type]
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 478, in load_model_from_package
    return cls.load(vocab=vocab, disable=disable, enable=enable, exclude=exclude, config=config)  # type: ignore[attr-defined]
  File "/usr/local/lib/python3.9/dist-packages/en_core_web_sm/__init__.py", line 10, in load
    return load_model_from_init_py(__file__, **overrides)
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 659, in load_model_from_init_py
    return load_model_from_path(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 516, in load_model_from_path
    nlp = load_model_from_config(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 564, in load_model_from_config
    nlp = lang_cls.from_config(
  File "/usr/local/lib/python3.9/dist-packages/spacy/language.py", line 1773, in from_config
    nlp = lang_cls(vocab=vocab, create_tokenizer=create_tokenizer, meta=meta)
  File "/usr/local/lib/python3.9/dist-packages/spacy/language.py", line 176, in __init__
    vocab = create_vocab(self.lang, self.Defaults, vectors_name=vectors_name)
  File "spacy/vocab.pyx", line 38, in spacy.vocab.create_vocab
  File "spacy/vocab.pyx", line 81, in spacy.vocab.Vocab.__init__
  File "spacy/vectors.pyx", line 109, in spacy.vectors.Vectors.__init__
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 134, in get_current_ops
    require_cpu()
  File "/usr/local/lib/python3.9/dist-packages/thinc/util.py", line 178, in require_cpu
    ops = get_ops("cpu")
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 99, in get_ops
    _import_extra_cpu_backends()
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 81, in _import_extra_cpu_backends
    from thinc_apple_ops import AppleOps
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 982, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 925, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1423, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1392, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1356, in _path_importer_cache
OSError: [Errno 107] Transport endpoint is not connected

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3575, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.9/inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.9/inspect.py", line 1501, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.9/inspect.py", line 709, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.9/inspect.py", line 738, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.9/inspect.py", line 722, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.9/posixpath.py", line 380, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-90-f70a2f8ddd09>", line 5, in <cell line: 5>
    nlp = spacy.load("en_core_web_sm", disable=['ner', 'parser']) # disabling Named Entity Recognition for speed
  File "/usr/local/lib/python3.9/dist-packages/spacy/__init__.py", line 54, in load
    return util.load_model(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 442, in load_model
    return load_model_from_package(name, **kwargs)  # type: ignore[arg-type]
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 478, in load_model_from_package
    return cls.load(vocab=vocab, disable=disable, enable=enable, exclude=exclude, config=config)  # type: ignore[attr-defined]
  File "/usr/local/lib/python3.9/dist-packages/en_core_web_sm/__init__.py", line 10, in load
    return load_model_from_init_py(__file__, **overrides)
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 659, in load_model_from_init_py
    return load_model_from_path(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 516, in load_model_from_path
    nlp = load_model_from_config(
  File "/usr/local/lib/python3.9/dist-packages/spacy/util.py", line 564, in load_model_from_config
    nlp = lang_cls.from_config(
  File "/usr/local/lib/python3.9/dist-packages/spacy/language.py", line 1773, in from_config
    nlp = lang_cls(vocab=vocab, create_tokenizer=create_tokenizer, meta=meta)
  File "/usr/local/lib/python3.9/dist-packages/spacy/language.py", line 176, in __init__
    vocab = create_vocab(self.lang, self.Defaults, vectors_name=vectors_name)
  File "spacy/vocab.pyx", line 38, in spacy.vocab.create_vocab
  File "spacy/vocab.pyx", line 81, in spacy.vocab.Vocab.__init__
  File "spacy/vectors.pyx", line 109, in spacy.vectors.Vectors.__init__
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 134, in get_current_ops
    require_cpu()
  File "/usr/local/lib/python3.9/dist-packages/thinc/util.py", line 178, in require_cpu
    ops = get_ops("cpu")
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 99, in get_ops
    _import_extra_cpu_backends()
  File "/usr/local/lib/python3.9/dist-packages/thinc/backends/__init__.py", line 81, in _import_extra_cpu_backends
    from thinc_apple_ops import AppleOps
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 982, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 925, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1423, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1392, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1356, in _path_importer_cache
OSError: [Errno 107] Transport endpoint is not connected

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3575, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3030, in _run_cell
    return runner(coro)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3257, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3492, in run_ast_nodes
    self.showtraceback()
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.9/inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.9/inspect.py", line 1501, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.9/inspect.py", line 709, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.9/inspect.py", line 738, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.9/inspect.py", line 722, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.9/posixpath.py", line 380, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

In [ ]:
import re

def get_lemmas_num(text):

    regex = re.compile('[^a-zA-Z0-9]')

    lemmas = []
    
    doc = nlp(text)

    for token in doc: 
        if ((token.is_stop == False) and (token.is_punct == False)) and (token.pos_ != 'PRON') and (token.text != 'NA'): #CO: Why this: token.pos_ != 'PRON' ?
            lemmas.append(regex.sub('', token.lemma_))
    
    return ' '.join(lemmas)

In [ ]:
df['article_lemma_num'] = df['article_final'].str.lower().astype(str).apply(get_lemmas_num)

In [ ]:
df['article_final'][0]
df['article_lemma_num'][0]

'american picker excited return georgia plan film episode history channel hit television series area december 2022  american picker documentary series explore fascinating world antique pick history channel hit follow skilled picker business hunt america valuable antique  excited find sizable unique collection learn interesting story  hit road coast coast picker mission recycle rescue forget relic  way want meet character remarkable exceptional item hope historically significant object new lease life learn thing america past way picker see lot rusty gold year look discover see ready find extraordinary item hear fascinating tale  team american picker continue pandemic seriously follow guideline protocol safe filming outline state cdc excited continue reach collector area discuss year picking eager hear memorable story  american picker tv look lead love explore hidden treasure know large private collection accumulation antique picker spend well day look love hear  note picker pick store flea market mall auction business museum open public interested send phone number location description collection photo americanpickerscineflixcom 646 493 2184 facebook gotapick'

In [ ]:
#df_source_merge_final.to_pickle('Georgia_data_v2_translation_ner_lem.pkl') # commented this line to prevent from saving it

## word2vec training

In [ ]:
%cd /content/drive/MyDrive/Georgia/Topic Dictionaries

import pandas as pd #CO: imported above

df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl') #CO: I assume that we want to use the same object as from above, b/c the file names seem very similar. Rather than save a file and re-load, I'll keep working with the "df" object.

In [ ]:
import pandas as pd #CO: imported above
# To extract n-gram from text
from gensim.models.phrases import Phrases, Phraser
# To train word2vec
from gensim.models import Word2Vec
# To load pre trained word2vec
from gensim.models import KeyedVectors

In [ ]:
df.columns

Index(['index', 'source', 'en_source', 'website', 'article_url',
       'article_title', 'article_author', 'date_published', 'article_final',
       'ner_places', 'ner_orgs', 'article_lemma_num', 'id', 'ner_places_orgs',
       'ner_person'],
      dtype='object')

In [ ]:
#CO: just doing some inspection to understand what's happening in the function in the chunk below.
my_counter = 0
for doc in df['article_lemma_num']:
  my_counter = my_counter + 1
  print(doc, "\n")
  if my_counter > 10:
    break
  else:
    pass

american picker excited return georgia plan film episode history channel hit television series area december 2022  american picker documentary series explore fascinating world antique pick history channel hit follow skilled picker business hunt america valuable antique  excited find sizable unique collection learn interesting story  hit road coast coast picker mission recycle rescue forget relic  way want meet character remarkable exceptional item hope historically significant object new lease life learn thing america past way picker see lot rusty gold year look discover see ready find extraordinary item hear fascinating tale  team american picker continue pandemic seriously follow guideline protocol safe filming outline state cdc excited continue reach collector area discuss year picking eager hear memorable story  american picker tv look lead love explore hidden treasure know large private collection accumulation antique picker spend well day look love hear  note picker pick store flea market mall auction business museum open public interested send phone number location description collection photo americanpickerscineflixcom 646 493 2184 facebook gotapick

candler county health department southeast health unit hold covid test outreach event today thursday downtown park metter staff member provide free rapid home covid19 test kit local resident 9 am 1 pm supply run individual able drive red dph tent kit bring worry get look red dph tent intersection se broad street n rountree street

week education foundation 2022 campaign class 2000 remain lead  3300 pledge date class 1966 close  2675 raise follow class 1964  2100 class 1991  1050 class 1999  1000  2022 campaign kick oct 1 run oct 31 graduate class metter high school ask donate class class challenge continue  fierce competition  education foundation surpass  40000 goal 2021 fund drive time class challenge begin 2019 new winner emerge class 2000  8592 donate  come second time champion class 1966  4994 raise class 1991  1500 follow class 1999  1000 donation class challenge exceed  22000  believe  wonder school system benefit education foundation donation look staff school 2022 campaign officially begin administrator staff personnel candler county school system pledge  1092940 mean fourth year goal meet personnel hand beneficial foundation  today  donation donor level merit list  50 honor roll  5099 principal roll  100249 superintendent roll  250499 foundation partner  500999 hall fame partner  1000   letter form prior donor mail donor mail candler county foundation public education po box 21 metter ga 30439 online wwwcandlerfoundationcom option donate website designate class want donation attribute select memory honor love  donor date  personnel candler county board education donate date include following  hall fame partner snell publication brian kathleen tootle  ben g bowen iii excelsior emc trapnell tomlinson pineland telephone craig r buckley james w buckley associates inc alexander franklin charitable foundation jerry e trapnell  allen lanier bubba longgrear  foundation partner  paul beverly macgregor jan trapnell dr nancy norton honor allen lanier  kay waldo meek memory grant hendrick blake hendrix randy wrecker service center olliff fordham cpas susan snell memory carvy snell steven brandy snell memory carvy snell marshal donna mize honor dr nancy norton  superintendent roll hulsey tootle harrison cpa  daniels bishop chevrolet t w investments jones boyd mccranie insurance jay mccranie tom bigwood honor ronnie sike eddy debbie jones jincy fordham  cadeisha cooper robbie dollar john jordan monicca bohannon miranda thigpen terry hoyt  principal roll matthew boyd mr mrs william george katherine phillip queensborough national bank vicki lane memory carvy snell joyce w sutton  chuck clark candler co retired educator mhs class 1958 judy hendrix memory mr mrs reigh lanier carterfranklin rep butch parrish honor helen curry carol butch smith metter lion club jimmy sheran wilcox felix judy johnston caroline p lee ronnie janie sikes mary m lane memory george h lane iii janice d water lucile sike adam joey hilda collins julie t hall theresa k gay memory george h lane iii  melinda franklin roberta graham autumn chicola lisa deloach cassandra donaldson kim grantham donna kennedy miranda rigdon todd haley suzanne hunt kellie jordan laura lott zachary rackett charles van deursen matthew boyd karen chassereau shayla donaldson tom golden amy holland doug james lisa longgrear ellis strobridge tamara walden randall walker  honor roll elliott lana lanier helen curry  vaughan faye lanier shirley lott b m pool spa patio billy sherri patterson connie franklin billy yvonne trapnell honor dr nancy norton keith marybeth cook  aundrea akin debra dekle roslyn pittman denise strickland trevor bryant deborah daughtry taylor dollar jessie given leah hackle sarah hickman lelon bailey jeffer john mark sweat lafonda taylor hackett vicki bowen jenny brantley kim brown jill carter adina cliett cheryl cobb christy drigger kendra howard michaela iwinski jennifer lewis fallon mccranie casey moore heather parrish beth phillips alyx powell eric verbel melody young jean low kenneth murphy jr heidi oconnor  merit list polly porter honor nancy norton  troy lance greene memory troy greene  penny buxton april clifton michelle holloway tracy holloway kendall jordan rosa morale janice smith holly beasley tammy durden kelly jarriel carol mainer narcy aguilar alyssa akin christie berry angela bird tonya bird nicole davis marcy deloach robin goodman connie hackle alivia hansen connie harden pam heath brittany hendrix julie johnson tara lee ashlee lott glenise mikell melissa porter sydney rise sherry tyler jill vining rebecca water monica west anna williams kim wood robin wright hannah youngblood jennifer collins scott water ray woodcock

congratulation metter middle school lady tiger win second round middle school softball playoff wednesday metter defeat south tattnall advance championship round host toomb county monday oct 3 mhs softball field game time 430 pm admission  5 booster pass allow playoff game  additionally monday t middle school football team play bryan county 5 pm high school field

proclamation recently sign gov brian kemp saturday sept 24 2022 establish hunting fishing day georgia signing arrange congressional sportsman foundation acknowledge importance conservation work continue contribution hunter angler  establish 1972 us congress president richard nixon year national hunting fishing day celebrate 50 year help recognize generation hunter angler time money donate wildlife conservation program accord georgia department natural resource wildlife resource division wrd  celebrate visit free schedule event saturday sept 24 2022 event offer georgia include kid fishing event outdoor adventure day event spread state mean probably near  addition event free fishing day offer georgia resident saturday sept 24 2022 day resident need fishing license trout license fish public water state include lake stream pond public fishing area  information nhf day georgia include complete listing description offer event visit georgiawildlifecomgetinvolvednhfday congressional sportsman foundation visit congressionalsportsmenorg

friday night homecome metter high school tiger welcome savannah high blue jacket jungle big game  metter work way week 30 0 win bryan county number ranked tiger 4 3 overall 1 0 region play  savannah high 0 7 season 0 1 region play lose claxton 56 18 week open region schedule  blue jacket leadership head coach michael moore moore season lead savannah high manage win time charge savannah drop aaa single season time school history high class aaaaa meeting school  kickoff set 730 pm homecoming king queen crown halftime

friday night metter tiger expedition indian territory travel ocilla irwin county irwin county build dynasty class football leadership late buddy noble current head coach casey soliday take rein noble death  indians miss playoff 2011 win seven region championship include straight championship game seven year bring home state title 2019 2020  record 94 20 stretch coach soliday record 27 7 take  irwin county come contest 3 1 record rank number class division i open season 28 20 loss number ranked team aa fitzgerald week beat dooly county 48 6 second win come turner county 41 7 week beat rockmart 28 14 rockmart rank number aa metter current record 3 2  tough road game tiger chance stack good team decade playoff caliber opponent fine tune squad region play begin oct 7 kickoff set 730 pm away stand need paint orange black  ticket  8 purchase game gofanco

metter high performing art present act play moliere scapin wilcox auditorium 7 pm monday nov 14  cast member include faith butler arganta matthew oconner gronte chrishaun wilson octave messiah smith landre bailey faulkner zerbinette jamyah cooper hyacintha kaiden carey scapin ralph williamson silvester alanna padgett nrine chorus member jay sulmer sophia croom eric coleman payton johnson caydence washington jazmine martinez lauren thrift ava walker  crew member include taylor kyle danielle padgett janie slater lake blackburn jake oconner devon braden cameron coker jazmine martinez sophia croom  admission  5 general public  3 student open dress rehearsal free monday oct 17 7 pm  advance ticket purchase httpmhsartsbooktixcom information email hoconnermetterorg

st matthew missionary baptist church celebrate 8 year anniversary pastor rev charles weaver sr sun sept 18 service begin 10 am sunday school worship service 11 am

second year row metter police department participate national faith blue weekend  monday oct 10 6 pm tremont temple missionary baptist church 307 north trapnell st host candid conversation forum metter police department  activity provide opportunity police community engage tough important topic police goal activity raise important issue police discuss open way create great understanding community law enforcement  entire community encourage come participate forum share live tremont temple facebook page local citizen community leader plan participate  purpose national faith blue weekend create safe inclusive community connect law enforcement officer resident protect serve  national faith blue weekend consist activity occur community united states include wide array activity picnic athletic event forum community service project activity design facilitate law enforcement officer public get know build mutual understanding

sheriff john miles candler county ema director want remind storm veteran inform newcomer community emergency management operational condition level opcon short opcon level indicate level readiness candler county emergency management uncertainty hurricane ian potentially have impact area currently opcon 4 actively monitor event make preparation emergency operation center activate opcon 4 possibiity emergency disaster situation require partial activation emergency operation center eoc opcon 4 step opcon 5 normal day day operation learn hurricane ian local ema ma opcon 5 low level indicate concentrated effort disaster preparedness

In [ ]:
sentence_stream = [doc.split(" ") for doc in df['article_lemma_num']]
print(sentence_stream)
print(type(sentence_stream))

<class 'list'>

In [ ]:
df10 = df.head(10)

#CO: doing some inspection to understand what's going on

# Create an empty list to store the results
sentence_stream2 = []

# Loop through each string in the `article_lemma_num` column of the `df` DataFrame
for doc in df10['article_lemma_num']:
    
    # Split the string into a list of words by spaces and add it to the `sentence_stream` list
    sentence_stream2.append(doc.split(" "))

In [ ]:
sentence_stream2[0]

['american',
 'picker',
 'excited',
 'return',
 'georgia',
 'plan',
 'film',
 'episode',
 'history',
 'channel',
 'hit',
 'television',
 'series',
 'area',
 'december',
 '2022',
 '',
 'american',
 'picker',
 'documentary',
 'series',
 'explore',
 'fascinating',
 'world',
 'antique',
 'pick',
 'history',
 'channel',
 'hit',
 'follow',
 'skilled',
 'picker',
 'business',
 'hunt',
 'america',
 'valuable',
 'antique',
 '',
 'excited',
 'find',
 'sizable',
 'unique',
 'collection',
 'learn',
 'interesting',
 'story',
 '',
 'hit',
 'road',
 'coast',
 'coast',
 'picker',
 'mission',
 'recycle',
 'rescue',
 'forget',
 'relic',
 '',
 'way',
 'want',
 'meet',
 'character',
 'remarkable',
 'exceptional',
 'item',
 'hope',
 'historically',
 'significant',
 'object',
 'new',
 'lease',
 'life',
 'learn',
 'thing',
 'america',
 'past',
 'way',
 'picker',
 'see',
 'lot',
 'rusty',
 'gold',
 'year',
 'look',
 'discover',
 'see',
 'ready',
 'find',
 'extraordinary',
 'item',
 'hear',
 'fascinating',
 'tale',
 '',
 'team',
 'american',
 'picker',
 'continue',
 'pandemic',
 'seriously',
 'follow',
 'guideline',
 'protocol',
 'safe',
 'filming',
 'outline',
 'state',
 'cdc',
 'excited',
 'continue',
 'reach',
 'collector',
 'area',
 'discuss',
 'year',
 'picking',
 'eager',
 'hear',
 'memorable',
 'story',
 '',
 'american',
 'picker',
 'tv',
 'look',
 'lead',
 'love',
 'explore',
 'hidden',
 'treasure',
 'know',
 'large',
 'private',
 'collection',
 'accumulation',
 'antique',
 'picker',
 'spend',
 'well',
 'day',
 'look',
 'love',
 'hear',
 '',
 'note',
 'picker',
 'pick',
 'store',
 'flea',
 'market',
 'mall',
 'auction',
 'business',
 'museum',
 'open',
 'public',
 'interested',
 'send',
 'phone',
 'number',
 'location',
 'description',
 'collection',
 'photo',
 'americanpickerscineflixcom',
 '646',
 '493',
 '2184',
 'facebook',
 'gotapick']

In [ ]:
# As Phrases() takes list of list as it's input
# Converting dataframe to list of list

## all lower cases

sentence_stream = [doc.split(" ") for doc in df['article_lemma_num']] #CO: the object name suggests that this should be stream/list of sentences, but it seems to actually be a list of whole articles (not sentences). Is that correct, and, if so, is it intentional?
bigram = Phrases(sentence_stream, min_count= 10, delimiter=b' ') # v2 threshold as default #CO: Why use a different way of getting bigrams than in "Check(2)_Georgia_place_analysis.ipynb" ?. Also, I'm getting an error here: "TypeError: sequence item 0: expected a bytes-like object, str found"
bigram_phraser = Phraser(bigram)

# bigram = Phrases(sentence_stream, min_count=10, threshold= 10, delimiter=b' ') # higher threshold fewer phrases.
# trigram = Phrases(bigram[sentence_stream], threshold= 100, delimiter=b' ') # include bi- and tri-grams


# Extract bigram for gensim word2vec
bigram_token = []

for sent in sentence_stream:
    bigram_token.append(bigram_phraser[sent])

article_model_bigram = Word2Vec(bigram_token, min_count=10, size= 40, workers=5, window = 5, sg = 0)
#CO blocking this out to not re-save thing: article_model_bigram.save("Georgia_language_lemma_num10_v2") # v2 : with updated dataset

TypeError: ignored

In [ ]:
type(sentence_stream)

list

In [ ]:
article_model_bigram

## topic words identification

### separate analysis for words with asterisk

CO: why?

In [ ]:
#%cd /content/drive/MyDrive/Georgia/Topic Dictionaries
%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Topic Dictionaries'

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Topic Dictionaries
/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Topic Dictionaries

In [ ]:
topics = pd.read_excel("topics.xlsx") #CO: where did the topics/this sheet come from?

topics['word_lemma'] = topics['word'].str.lower().astype(str).apply(get_lemmas_num)

In [ ]:
topics

         topic             word       word_lemma  word_star
0    Inflation   Cost of living        cost live          0
1    Inflation        inflation        inflation          0
2    Inflation     rising pric*        rise pric          1
3    Inflation           afford           afford          0
4    Inflation    affordability    affordability          0
..         ...              ...              ...        ...
515      Crime  substance abuse  substance abuse          0
516      Crime    substance use    substance use          0
517      Crime             weed             weed          0
518      Crime           cartel           cartel          0
519      Crime              dui              dui          0

[520 rows x 4 columns]

In [ ]:
import numpy as np

star_phrases = topics['word'].str.contains('\*{1}', case=False, regex=True) #CO: what is the point of the stars?

topics['word_star'] = np.where(star_phrases, 1, 0)

In [ ]:
topics_st = topics[['topic', 'word_lemma', 'word_star']].drop_duplicates()
topics_st.sample(10)

              topic          word_lemma  word_star
242  Climate change          cap trade           0
126  Economy / Jobs              employ          1
300   Election laws  integrity election          1
296   Election laws          right vote          0
280  Climate change    renewable energy          0
246  Climate change            conserve          1
7         Inflation        minimum wage          0
268  Climate change            asbestos          1
19         Abortion            pro life          0
143  Economy / Jobs        productivity          0

In [ ]:
topics_st_asterisk = topics_st[topics_st['word_star']==1]

In [ ]:
topics_st_asterisk_list = topics_st_asterisk['word_lemma'].values.tolist()

In [ ]:
words = pd.DataFrame(list(article_model_bigram.wv.vocab.keys())) #CO: can't run this (b/c of the error noted in chunk 36), so I'll also have trouble running the things below. Will still read through the code, though, and make comments
words.rename(columns={0:'n_grams'}, inplace=True) #CO: without being able to inspect the object "word", I can't really evaluate this line or the ones below that uses the "words" object.

NameError: ignored

In [ ]:
words['word_lemma'] = words['n_grams'].astype(str).apply(lambda x: [i for i in topics_st_asterisk_list if i in x])

NameError: ignored

In [ ]:
words_filter = words[ words['word_lemma'].str.len() > 0 ]

In [ ]:
words_filter_unnest = words_filter.explode('word_lemma')

In [ ]:
words_filter_unnest = pd.merge(words_filter_unnest, topics_st_asterisk, on="word_lemma", how='left')

In [ ]:
words_filter_unnest.to_excel('additional_topic_words_v2.xlsx')

In [ ]:
additional_topic_words_v2 = pd.read_excel('additional_topic_words_v2.xlsx') #CO: not seeing this file, or the below file, and I can't run the chunk above to create it myself (see the note in chunk 36)
additional_topic_words_v1 = pd.read_excel('additional_topic_words.xlsx')

In [ ]:
additional_topic_words_v1['version'] = 'v1'
additional_topic_words_v2['version'] = 'v2'

add_topic_words_merge = pd.merge( additional_topic_words_v1, additional_topic_words_v2, how="outer", on=["n_grams", "topic"])

In [ ]:
add_topic_words_merge = add_topic_words_merge[['n_grams', 'topic', 'FINAL', 'version_x', 'version_y']]

In [ ]:
add_topic_words_merge.to_excel('Topic_words_review1_v1_v2_diff.xlsx')

In [ ]:
#add_topic_words_merge_NA = add_topic_words_merge[ (add_topic_words_merge['version_x'].isnull()) | (add_topic_words_merge['version_y'].isnull()) ]

### final list prep

In [ ]:
!pwd

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Topic Dictionaries

In [ ]:
add_words = pd.read_excel("Topic_words_review1_v1_v2_diff.xlsx")

In [ ]:
add_words #CO: does each row correspond to a specific article?

,Unnamed: 0,n_grams,topic,FINAL,version_x,version_y,add_from_v2,FINAL2
0,0,2009 abortion,Abortion,0.0,v1,NaN,NaN,0.0
1,1,300000 abortion,Abortion,0.0,v1,NaN,NaN,0.0
2,2,abortion,Abortion,1.0,v1,v2,NaN,1.0
3,3,abortion 2009,Abortion,0.0,v1,v2,NaN,0.0
4,4,abortion access,Abortion,0.0,v1,v2,NaN,0.0
...,...,...,...,...,...,...,...,...
2899,2214,visit httpswwwminorityhealthhhsgov,Racial inequality,0.0,v1,v2,NaN,0.0
2900,2215,vocal minority,Racial inequality,0.0,v1,v2,NaN,0.0
2901,2125,wide blackout,Racial inequality,0.0,v1,v2,NaN,0.0
2902,2867,women minority,Racial inequality,NaN,NaN,v2,NaN,NaN
2903,2552,workplace discrimination,Racial inequality,NaN,NaN,v2,NaN,NaN

In [ ]:
topics_st #CO: where did "topic" and "word_lemma" come from? It seems "topic" came from "topics.xlsx" but what was that based on? How did you find the topic here? And word_lemma came from the same sheet, but what was it based on?
#CO: if this is a validation check (such that the process is validated if theres correspondance between "topic" and "word_lemma" then this seems promising from the instances I've looked at!)

         topic       word_lemma  word_star
0    Inflation        cost live          0
1    Inflation        inflation          0
2    Inflation        rise pric          1
3    Inflation           afford          0
4    Inflation    affordability          0
..         ...              ...        ...
513      Crime             pill          0
514      Crime           poison          0
515      Crime  substance abuse          0
516      Crime    substance use          0
517      Crime             weed          0

[502 rows x 3 columns]

In [ ]:
topics_R1 = topics_st[topics_st['word_star'] == 0]
topics_R1 = topics_R1[['topic', 'word_lemma']]
topics_R1

         topic       word_lemma
0    Inflation        cost live
1    Inflation        inflation
3    Inflation           afford
4    Inflation    affordability
5    Inflation       affordable
..         ...              ...
513      Crime             pill
514      Crime           poison
515      Crime  substance abuse
516      Crime    substance use
517      Crime             weed

[392 rows x 2 columns]

In [ ]:
topics_add = add_words[add_words['FINAL2'] == 1]
topics_add = topics_add[['topic', 'n_grams']]
topics_add.rename(columns={'n_grams': 'word_lemma'}, inplace=True)
topics_add

                  topic         word_lemma
2              Abortion           abortion
56       Climate change        air quality
59       Climate change           asbestos
78       Climate change            compost
82       Climate change        compostable
...                 ...                ...
2848  Racial inequality           minority
2858  Racial inequality  nondiscrimination
2882  Racial inequality             stigma
2890  Racial inequality         stigmatize
2896  Racial inequality      unarmed black

[199 rows x 2 columns]

In [ ]:
topic_final = pd.concat([topics_R1, topics_add])

In [ ]:
topic_final = topic_final.drop_duplicates()

In [ ]:
topic_final

                  topic         word_lemma
0             Inflation          cost live
1             Inflation          inflation
3             Inflation             afford
4             Inflation      affordability
5             Inflation         affordable
...                 ...                ...
2848  Racial inequality           minority
2858  Racial inequality  nondiscrimination
2882  Racial inequality             stigma
2890  Racial inequality         stigmatize
2896  Racial inequality      unarmed black

[575 rows x 2 columns]

## topic words similarity

In [ ]:
!pwd

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Topic Dictionaries

In [ ]:
#%cd /content/drive/MyDrive/Georgia/Topic Dictionaries

import gensim

article_model_bigram = gensim.models.Word2Vec.load("Georgia_language_lemma_num10_v2")

In [ ]:
topic_dictionary = list(set(topic_final.word_lemma.tolist()))

In [ ]:
topic_final

                  topic         word_lemma
0             Inflation          cost live
1             Inflation          inflation
3             Inflation             afford
4             Inflation      affordability
5             Inflation         affordable
...                 ...                ...
2848  Racial inequality           minority
2858  Racial inequality  nondiscrimination
2882  Racial inequality             stigma
2890  Racial inequality         stigmatize
2896  Racial inequality      unarmed black

[575 rows x 2 columns]

In [ ]:
topic_dictionary #CO: so this is a list of all the ngrams from the column "word_lemma"?

['substance abuse',
 'terror',
 'black',
 'tax',
 'marijuana',
 'slaughter',
 'cancer',
 'vaccinate',
 'background check',
 'ecology',
 'prescription',
 'pro life',
 'kindergarten',
 'train',
 'retirement',
 'smuggling',
 'property value',
 'race',
 'layoff',
 'shot',
 'fetus',
 'theft',
 'economics',
 'respiratory',
 'cap trade ',
 'methane',
 'woman color',
 'diversity',
 'marginalized',
 'teach',
 'clinical',
 'teacher',
 'plan parenthood',
 'election fraud',
 'collusion',
 'human trafficking',
 'contaminate',
 'gdp',
 'substance use',
 'traffic',
 'asians',
 'gun violence',
 'economist',
 'african american',
 'psychological',
 'class',
 'average price',
 'domestic violence',
 'pro choice',
 'social justice',
 'nra',
 'protection order',
 'citizenship',
 'refugee',
 'abortion',
 'spend',
 'property taxis',
 'vandalism',
 'contraception',
 'asylum',
 'mask',
 'pharmacist',
 'choice',
 'trade union',
 'tuition',
 'housing',
 'wall street',
 'rape',
 'clinic',
 'payroll',
 'unionized',
 'asbestos',
 'underrepresented',
 'injustice',
 'marginalize',
 'cap trade',
 'methamphetamine',
 'pregnant woman',
 'therapeutic',
 'equality',
 'smog',
 'firearm',
 'polluted',
 'naturalize',
 'capitol riot',
 'asian',
 'kidnap',
 'recession',
 'voter right',
 'gross domestic product',
 'drug',
 'deforest',
 'pollute',
 'big lie',
 'dea',
 'border',
 'cartel',
 'home',
 'tenant',
 'abuse',
 'unlawful',
 'rehire',
 'climate',
 'paxlovid',
 'smuggler',
 'medicated',
 'physician',
 'arrest',
 'pandemic',
 'budgeting',
 'gross national product',
 'rise cost',
 'environmentalist',
 'slavery',
 'discriminatory',
 'sheriff',
 'pregnancy',
 'bachelor degree',
 'stab',
 'reforestation',
 'facemask',
 'healthcare',
 'medicare',
 'drink water',
 'misdemeanor',
 'stockholder',
 'conserve',
 'historically black',
 'domestic terrorism',
 'massacre',
 'deportation',
 'contraceptive',
 'omicron',
 'migraine',
 'pull gun',
 'open fire',
 'coronavirus',
 'vaccination',
 'pill',
 'psychiatrist',
 'labor market',
 'medical',
 'sexual assault',
 'dei',
 'inequality',
 'overturn election',
 'glacier',
 'rise price',
 'masked',
 'pharmaceutical',
 'social distancing',
 'voter d',
 'fire department',
 'graduation',
 'corruption',
 'heartbeat bill',
 'bombing',
 'unarmed black',
 'vaccine',
 'voter identification',
 'trafficker',
 'heartbeat act',
 'disadvantaged',
 'disability',
 'poison',
 'unvaccinate',
 'cannabis',
 'year prison',
 'multicultural',
 'parole',
 'voter suppression',
 'obesity',
 'coin',
 'labor shortage',
 'right vote',
 'mortgage rate',
 'banking',
 'school',
 'homicide',
 'narcotic',
 'recycling',
 'medication',
 'curriculum',
 'sexually abuse',
 'ppe',
 'university',
 'pension',
 'job market',
 'murder',
 'price increase',
 'coal',
 'stock',
 'ar15',
 'deforestation',
 'bank',
 'people color',
 '911',
 'nurse',
 'security',
 'recycle',
 'fiscal',
 'assault',
 'protect human life',
 'undergraduate',
 'gerrymandering',
 'dentist',
 'standard live',
 'covid19',
 'abusive',
 'violent attack',
 'contamination',
 'black latino',
 'ozone',
 'latinx',
 'radiation',
 'unborn',
 'witness tell',
 'industrialist',
 'insurrection',
 'workforce',
 'bitcoin',
 'unemployed',
 'racism',
 'afford',
 'stigmatize',
 'gerrymander',
 'january 6th',
 'clean energy',
 'irs',
 'recyclable',
 'sexual abuse',
 'diabetes',
 'coup',
 'immigrate',
 'environmentally',
 'search warrant',
 'disadvantage',
 'rate hike',
 'diagnostic',
 'mindfulness',
 'sexually assault',
 'steal car',
 'vote illegitimate',
 'murderer',
 'felony',
 'affordable',
 'opioid',
 'revenue',
 'carjack',
 'racist',
 'paycheck',
 'national rifle association',
 'prescription drug',
 'stigma',
 'prostitution',
 'dementia',
 'suspect identify',
 'disease',
 'emigrate',
 'hospital',
 'aggressor',
 'affordable housing',
 'pollutant',
 'unvaccinated',
 'annuity',
 'public safety',
 'inclusion',
 'saving',
 'inflation',
 'money',
 'industry',
 'worker',
 'psychologist',
 'green new deal',
 'assault capitol',
 'job',
 'school shooting',
 'medicate',
 'minimum wage',
 'economic',
 'carbon dioxide',
 'thief',
 'assailant',
 'trauma',
 'white supremacist',
 'fraud',
 'black voter',
 'carry weapon',
 'contaminated',
 'pfizer',
 'hire',
 'voter fraud',
 'depression',
 'sp 500',
 'price',
 'pesticide',
 'environment',
 'budget',
 'health',
 'terrorist',
 'assault rifle',
 'therapy',
 'novavax',
 'environmental',
 'property tax',
 'impeach',
 'valuation',
 'gun',
 'hazardous waste',
 'smuggled',
 'shotgun',
 'sustainability',
 'medicine',
 'classmate',
 'investment',
 'discriminately',
 'staff shortage',
 '2nd amendment',
 'industrial',
 'telehealth',
 'hispanic',
 'privatise',
 'economically',
 'year probation',
 'da office',
 'black caucus',
 'sickness',
 'educator',
 'segregation',
 'educate',
 'ammunition',
 'price rise',
 'nondiscrimination',
 'child pornography',
 'medicinal',
 'retiree',
 'election security',
 'disparity',
 'migrant',
 'diagnosis',
 'person color',
 'supreme court',
 'obamacare',
 'industries',
 'armed violence',
 'composting',
 'rifle',
 'student',
 'self care',
 'small business',
 'voting right',
 'renter',
 'native american',
 'psychiatric',
 'paramedic',
 'naturalization',
 'diverse',
 'fentanyl',
 'endanger specie',
 'emigration',
 'scholarship',
 'election integrity',
 'protect life',
 'polluter',
 'conservation',
 'safety',
 'roe',
 'criminal',
 'illness',
 'white supremacy',
 'emission',
 'surgery',
 'cost live',
 'attack capitol',
 'potable',
 'discrimination',
 'smuggle',
 'debtor',
 'undocumented',
 'corrupt',
 'homeless',
 'workplace',
 'economical',
 'interest rate',
 'rioter',
 'unemployment',
 'stimulus',
 'renewable energy',
 'compost',
 'mass shooting',
 'misconduct',
 'suicide prevention',
 'clinician',
 'macroeconomic',
 'threaten specie',
 'homelessness',
 'unionize',
 'latino voter',
 'custody',
 'indebtedness',
 'visa',
 'anti abortion',
 'pistol',
 'recycled',
 'glacial',
 'defense attorney',
 'save money',
 'education',
 'sea level',
 'industrialized',
 'underemployed',
 'road rage',
 'medicaid',
 'polarization',
 'college',
 'corruptly',
 'recycler',
 'reproductive health',
 'shoot',
 'economy',
 'integrity election',
 'violent crime',
 'suspect arrest',
 'therapist',
 'robbery',
 'prisoner',
 'inflationary',
 'industrialization',
 'impeachment',
 'masking',
 'minority',
 'school massacre',
 'semi automatic',
 'gunman',
 'employee',
 'sick',
 'telemedicine',
 'global warming',
 'property owner',
 'gunshot',
 'surgeon',
 'rehabilitation',
 'primary care',
 'salary',
 'dui',
 'emergency room',
 'intercultural',
 'employ',
 'deficit',
 'ecologically',
 'money laundering',
 'employment',
 'latinas',
 'foreigner',
 'attack',
 'compostable',
 'employer',
 'pharmacy',
 'african americans',
 'social security',
 'violence',
 'save',
 'child abuse',
 'business development',
 'income',
 'heart disease',
 'hate crime',
 'abused',
 'aid abet',
 'lay',
 'affordable care',
 'anti choice',
 'clean water',
 'terrorism',
 'naturalist',
 'rental',
 'electoral fraud',
 'pollution',
 'suspect flee',
 'anti border',
 'counsel',
 'heroin',
 'mortgage',
 'weapon',
 'january 6',
 'vaccinated',
 'prejudice',
 'stereotype',
 'homeowner',
 'destigmatize',
 'greenhouse gas',
 'graduate',
 'family planning',
 'policeman',
 'air quality',
 'wic',
 'aggravate assault',
 'severance pay',
 'handgun',
 'finance',
 'budgetary',
 'reproductive right',
 'discriminate',
 'perpetrator',
 'election interference',
 'immigration',
 'clean air',
 'riot',
 'abuser',
 'latina',
 'preschool',
 'dental',
 'productivity',
 'privatize',
 'second amendment',
 'ecological',
 'racial',
 'seizure',
 'polarize',
 'doctor',
 'deport',
 'industrialize',
 'overdose',
 'allegation',
 'prescribe',
 'pediatrician',
 'blackface',
 'medically',
 'profitable',
 'capitol attack',
 'latino',
 'debt',
 'anti gun',
 'monetary',
 'sexual harassment',
 'weed',
 'payment',
 'classroom',
 'black male',
 'educational',
 'police',
 'cost living',
 'public security',
 'federal prison',
 'affordability',
 'extinct',
 'coinage',
 'paramedical',
 'pediatric',
 'federal reserve',
 'wage',
 'ecologist',
 'covid',
 'immigrant',
 'physicians',
 'prison',
 'monetarily',
 'profit',
 'moderna',
 'employed',
 'housing market',
 'live standard']

In [ ]:
## update this code to create a dataset with topic words; do it again among the lsd words

word_list_scores = []

for topic_word in topic_dictionary:
  try:
    word_list_scores.append( (topic_word, article_model_bigram.wv.most_similar(topic_word, topn=10)) )
  except KeyError:
    word_list_scores.append( (topic_word, 'NA') )

In [ ]:
df_test = pd.DataFrame ( word_list_scores )
df_test #CO: okay, so we're finding words that are similar to the "topic words"

                   0                                                  1
0    substance abuse  [(substance use, 0.8039073348045349), (addicti...
1             terror  [(darkness, 0.832796573638916), (brutal, 0.775...
2              black  [(white, 0.8446747660636902), (color, 0.715144...
3                tax  [(taxis, 0.888382077217102), (property taxis, ...
4          marijuana  [(cannabi, 0.8057309985160828), (legalization ...
..               ...                                                ...
557           profit  [(investor, 0.7648346424102783), (billion doll...
558          moderna  [(pfizer, 0.9186160564422607), (moderna pfizer...
559         employed  [(4416, 0.8752182126045227), (drone operator, ...
560   housing market  [(mortgage rate, 0.7974468469619751), (stock m...
561    live standard                                                 NA

[562 rows x 2 columns]

In [ ]:
df_test.rename(columns={0: 'word_lemma', 1: 'similar_words'}, inplace=True)
df_test

          word_lemma                                      similar_words
0    substance abuse  [(substance use, 0.8039073348045349), (addicti...
1             terror  [(darkness, 0.832796573638916), (brutal, 0.775...
2              black  [(white, 0.8446747660636902), (color, 0.715144...
3                tax  [(taxis, 0.888382077217102), (property taxis, ...
4          marijuana  [(cannabi, 0.8057309985160828), (legalization ...
..               ...                                                ...
557           profit  [(investor, 0.7648346424102783), (billion doll...
558          moderna  [(pfizer, 0.9186160564422607), (moderna pfizer...
559         employed  [(4416, 0.8752182126045227), (drone operator, ...
560   housing market  [(mortgage rate, 0.7974468469619751), (stock m...
561    live standard                                                 NA

[562 rows x 2 columns]

In [ ]:
df_test.rename(columns={0: 'word_lemma', 1: 'similar_words'}, inplace=True)

df_text_spread = df_test.explode('similar_words')
df_text_spread

          word_lemma                          similar_words
0    substance abuse    (substance use, 0.8039073348045349)
0    substance abuse        (addiction, 0.7835237979888916)
0    substance abuse  (stress disorder, 0.7737226486206055)
0    substance abuse   (post traumatic, 0.7715259790420532)
0    substance abuse      (psychiatric, 0.7697724103927612)
..               ...                                    ...
560   housing market         (downturn, 0.7187942862510681)
560   housing market     (labor market, 0.7174758315086365)
560   housing market     (inflationary, 0.7160828709602356)
560   housing market   (curb inflation, 0.7136363387107849)
561    live standard                                     NA

[5053 rows x 2 columns]

In [ ]:
# df_text_spread_NA = df_text_spread[df_text_spread['similar_words']=='NA']
# df_text_spread_NA.to_excel('FINA_topic_words_not_include_review.xlsx')

In [ ]:
df_text_spread = df_text_spread[df_text_spread['similar_words']!='NA']
df_text_spread

          word_lemma                          similar_words
0    substance abuse    (substance use, 0.8039073348045349)
0    substance abuse        (addiction, 0.7835237979888916)
0    substance abuse  (stress disorder, 0.7737226486206055)
0    substance abuse   (post traumatic, 0.7715259790420532)
0    substance abuse      (psychiatric, 0.7697724103927612)
..               ...                                    ...
560   housing market        (gas price, 0.7215678691864014)
560   housing market         (downturn, 0.7187942862510681)
560   housing market     (labor market, 0.7174758315086365)
560   housing market     (inflationary, 0.7160828709602356)
560   housing market   (curb inflation, 0.7136363387107849)

[4990 rows x 2 columns]

In [ ]:
df_text_spread['similar_word'], df_text_spread['similarity'] = df_text_spread.similar_words.str[0], df_text_spread.similar_words.str[1]
df_text_spread

,word_lemma,similar_words,similar_word,similarity
0,substance abuse,"(substance use, 0.8039073348045349)",substance use,0.803907
0,substance abuse,"(addiction, 0.7835237979888916)",addiction,0.783524
0,substance abuse,"(stress disorder, 0.7737226486206055)",stress disorder,0.773723
0,substance abuse,"(post traumatic, 0.7715259790420532)",post traumatic,0.771526
0,substance abuse,"(psychiatric, 0.7697724103927612)",psychiatric,0.769772
...,...,...,...,...
560,housing market,"(gas price, 0.7215678691864014)",gas price,0.721568
560,housing market,"(downturn, 0.7187942862510681)",downturn,0.718794
560,housing market,"(labor market, 0.7174758315086365)",labor market,0.717476
560,housing market,"(inflationary, 0.7160828709602356)",inflationary,0.716083
560,housing market,"(curb inflation, 0.7136363387107849)",curb inflation,0.713636

In [ ]:
df_text_spread = df_text_spread[df_text_spread['similar_words']!='NA']
df_text_spread['similar_word'], df_text_spread['similarity'] = df_text_spread.similar_words.str[0], df_text_spread.similar_words.str[1]
df_text_spread = df_text_spread.drop('similar_words', axis=1)
df_text_spread

          word_lemma     similar_word  similarity
0    substance abuse    substance use    0.803907
0    substance abuse        addiction    0.783524
0    substance abuse  stress disorder    0.773723
0    substance abuse   post traumatic    0.771526
0    substance abuse      psychiatric    0.769772
..               ...              ...         ...
560   housing market        gas price    0.721568
560   housing market         downturn    0.718794
560   housing market     labor market    0.717476
560   housing market     inflationary    0.716083
560   housing market   curb inflation    0.713636

[4990 rows x 3 columns]

In [ ]:
topic_final

                  topic         word_lemma
0             Inflation          cost live
1             Inflation          inflation
3             Inflation             afford
4             Inflation      affordability
5             Inflation         affordable
...                 ...                ...
2848  Racial inequality           minority
2858  Racial inequality  nondiscrimination
2882  Racial inequality             stigma
2890  Racial inequality         stigmatize
2896  Racial inequality      unarmed black

[575 rows x 2 columns]

In [ ]:
df_text_spread_merge = pd.merge(df_text_spread, topic_final, how='left', on='word_lemma')
df_text_spread_merge

           word_lemma     similar_word  similarity               topic
0     substance abuse    substance use    0.803907         Health care
1     substance abuse    substance use    0.803907               Crime
2     substance abuse        addiction    0.783524         Health care
3     substance abuse        addiction    0.783524               Crime
4     substance abuse  stress disorder    0.773723         Health care
...               ...              ...         ...                 ...
5105   housing market        gas price    0.721568  Affordable housing
5106   housing market         downturn    0.718794  Affordable housing
5107   housing market     labor market    0.717476  Affordable housing
5108   housing market     inflationary    0.716083  Affordable housing
5109   housing market   curb inflation    0.713636  Affordable housing

[5110 rows x 4 columns]

In [ ]:
# those with higher than 0.7 similarity

df_test_sim07 = df_text_spread_merge[ df_text_spread_merge['similarity'] > 0.7  ]
df_test_sim07

           word_lemma     similar_word  similarity               topic
0     substance abuse    substance use    0.803907         Health care
1     substance abuse    substance use    0.803907               Crime
2     substance abuse        addiction    0.783524         Health care
3     substance abuse        addiction    0.783524               Crime
4     substance abuse  stress disorder    0.773723         Health care
...               ...              ...         ...                 ...
5105   housing market        gas price    0.721568  Affordable housing
5106   housing market         downturn    0.718794  Affordable housing
5107   housing market     labor market    0.717476  Affordable housing
5108   housing market     inflationary    0.716083  Affordable housing
5109   housing market   curb inflation    0.713636  Affordable housing

[4381 rows x 4 columns]

In [ ]:
# 4681 previous
# 4391 current

In [ ]:
df_test_sim07 # 4681

     word_lemma     similar_word  similarity           topic
10      recycle          compost    0.844696  Climate change
11      recycle         reusable    0.805904  Climate change
12      recycle        container    0.798560  Climate change
13      recycle            reuse    0.794733  Climate change
14      recycle       recyclable    0.794667  Climate change
...         ...              ...         ...             ...
5105     salary  retention bonus    0.715568  Economy / Jobs
5106     salary             wage    0.714138  Economy / Jobs
5107     salary          pension    0.713663  Economy / Jobs
5108     salary          earning    0.710439  Economy / Jobs
5109     salary          payroll    0.707564  Economy / Jobs

[4391 rows x 4 columns]

In [ ]:
df_test_sim07_black = df_test_sim07[df_test_sim07['word_lemma']=='black']
df_test_sim07_black

   word_lemma similar_word  similarity              topic
30      black        white    0.844675  Racial inequality
31      black        color    0.715145  Racial inequality

In [ ]:
df_test_sim07_nondup = df_test_sim07[['similar_word', 'topic']].drop_duplicates()

In [ ]:
df_test_sim07_nondup = df_test_sim07.drop_duplicates(subset=['similar_word', 'topic'])

In [ ]:
df_test_sim07_nondup # 3289 non-duplicates --> 3145

           word_lemma     similar_word  similarity               topic
0     substance abuse    substance use    0.803907         Health care
1     substance abuse    substance use    0.803907               Crime
2     substance abuse        addiction    0.783524         Health care
3     substance abuse        addiction    0.783524               Crime
4     substance abuse  stress disorder    0.773723         Health care
...               ...              ...         ...                 ...
5105   housing market        gas price    0.721568  Affordable housing
5106   housing market         downturn    0.718794  Affordable housing
5107   housing market     labor market    0.717476  Affordable housing
5108   housing market     inflationary    0.716083  Affordable housing
5109   housing market   curb inflation    0.713636  Affordable housing

[3145 rows x 4 columns]

In [ ]:
topic_dictionary

['substance abuse',
 'terror',
 'black',
 'tax',
 'marijuana',
 'slaughter',
 'cancer',
 'vaccinate',
 'background check',
 'ecology',
 'prescription',
 'pro life',
 'kindergarten',
 'train',
 'retirement',
 'smuggling',
 'property value',
 'race',
 'layoff',
 'shot',
 'fetus',
 'theft',
 'economics',
 'respiratory',
 'cap trade ',
 'methane',
 'woman color',
 'diversity',
 'marginalized',
 'teach',
 'clinical',
 'teacher',
 'plan parenthood',
 'election fraud',
 'collusion',
 'human trafficking',
 'contaminate',
 'gdp',
 'substance use',
 'traffic',
 'asians',
 'gun violence',
 'economist',
 'african american',
 'psychological',
 'class',
 'average price',
 'domestic violence',
 'pro choice',
 'social justice',
 'nra',
 'protection order',
 'citizenship',
 'refugee',
 'abortion',
 'spend',
 'property taxis',
 'vandalism',
 'contraception',
 'asylum',
 'mask',
 'pharmacist',
 'choice',
 'trade union',
 'tuition',
 'housing',
 'wall street',
 'rape',
 'clinic',
 'payroll',
 'unionized',
 'asbestos',
 'underrepresented',
 'injustice',
 'marginalize',
 'cap trade',
 'methamphetamine',
 'pregnant woman',
 'therapeutic',
 'equality',
 'smog',
 'firearm',
 'polluted',
 'naturalize',
 'capitol riot',
 'asian',
 'kidnap',
 'recession',
 'voter right',
 'gross domestic product',
 'drug',
 'deforest',
 'pollute',
 'big lie',
 'dea',
 'border',
 'cartel',
 'home',
 'tenant',
 'abuse',
 'unlawful',
 'rehire',
 'climate',
 'paxlovid',
 'smuggler',
 'medicated',
 'physician',
 'arrest',
 'pandemic',
 'budgeting',
 'gross national product',
 'rise cost',
 'environmentalist',
 'slavery',
 'discriminatory',
 'sheriff',
 'pregnancy',
 'bachelor degree',
 'stab',
 'reforestation',
 'facemask',
 'healthcare',
 'medicare',
 'drink water',
 'misdemeanor',
 'stockholder',
 'conserve',
 'historically black',
 'domestic terrorism',
 'massacre',
 'deportation',
 'contraceptive',
 'omicron',
 'migraine',
 'pull gun',
 'open fire',
 'coronavirus',
 'vaccination',
 'pill',
 'psychiatrist',
 'labor market',
 'medical',
 'sexual assault',
 'dei',
 'inequality',
 'overturn election',
 'glacier',
 'rise price',
 'masked',
 'pharmaceutical',
 'social distancing',
 'voter d',
 'fire department',
 'graduation',
 'corruption',
 'heartbeat bill',
 'bombing',
 'unarmed black',
 'vaccine',
 'voter identification',
 'trafficker',
 'heartbeat act',
 'disadvantaged',
 'disability',
 'poison',
 'unvaccinate',
 'cannabis',
 'year prison',
 'multicultural',
 'parole',
 'voter suppression',
 'obesity',
 'coin',
 'labor shortage',
 'right vote',
 'mortgage rate',
 'banking',
 'school',
 'homicide',
 'narcotic',
 'recycling',
 'medication',
 'curriculum',
 'sexually abuse',
 'ppe',
 'university',
 'pension',
 'job market',
 'murder',
 'price increase',
 'coal',
 'stock',
 'ar15',
 'deforestation',
 'bank',
 'people color',
 '911',
 'nurse',
 'security',
 'recycle',
 'fiscal',
 'assault',
 'protect human life',
 'undergraduate',
 'gerrymandering',
 'dentist',
 'standard live',
 'covid19',
 'abusive',
 'violent attack',
 'contamination',
 'black latino',
 'ozone',
 'latinx',
 'radiation',
 'unborn',
 'witness tell',
 'industrialist',
 'insurrection',
 'workforce',
 'bitcoin',
 'unemployed',
 'racism',
 'afford',
 'stigmatize',
 'gerrymander',
 'january 6th',
 'clean energy',
 'irs',
 'recyclable',
 'sexual abuse',
 'diabetes',
 'coup',
 'immigrate',
 'environmentally',
 'search warrant',
 'disadvantage',
 'rate hike',
 'diagnostic',
 'mindfulness',
 'sexually assault',
 'steal car',
 'vote illegitimate',
 'murderer',
 'felony',
 'affordable',
 'opioid',
 'revenue',
 'carjack',
 'racist',
 'paycheck',
 'national rifle association',
 'prescription drug',
 'stigma',
 'prostitution',
 'dementia',
 'suspect identify',
 'disease',
 'emigrate',
 'hospital',
 'aggressor',
 'affordable housing',
 'pollutant',
 'unvaccinated',
 'annuity',
 'public safety',
 'inclusion',
 'saving',
 'inflation',
 'money',
 'industry',
 'worker',
 'psychologist',
 'green new deal',
 'assault capitol',
 'job',
 'school shooting',
 'medicate',
 'minimum wage',
 'economic',
 'carbon dioxide',
 'thief',
 'assailant',
 'trauma',
 'white supremacist',
 'fraud',
 'black voter',
 'carry weapon',
 'contaminated',
 'pfizer',
 'hire',
 'voter fraud',
 'depression',
 'sp 500',
 'price',
 'pesticide',
 'environment',
 'budget',
 'health',
 'terrorist',
 'assault rifle',
 'therapy',
 'novavax',
 'environmental',
 'property tax',
 'impeach',
 'valuation',
 'gun',
 'hazardous waste',
 'smuggled',
 'shotgun',
 'sustainability',
 'medicine',
 'classmate',
 'investment',
 'discriminately',
 'staff shortage',
 '2nd amendment',
 'industrial',
 'telehealth',
 'hispanic',
 'privatise',
 'economically',
 'year probation',
 'da office',
 'black caucus',
 'sickness',
 'educator',
 'segregation',
 'educate',
 'ammunition',
 'price rise',
 'nondiscrimination',
 'child pornography',
 'medicinal',
 'retiree',
 'election security',
 'disparity',
 'migrant',
 'diagnosis',
 'person color',
 'supreme court',
 'obamacare',
 'industries',
 'armed violence',
 'composting',
 'rifle',
 'student',
 'self care',
 'small business',
 'voting right',
 'renter',
 'native american',
 'psychiatric',
 'paramedic',
 'naturalization',
 'diverse',
 'fentanyl',
 'endanger specie',
 'emigration',
 'scholarship',
 'election integrity',
 'protect life',
 'polluter',
 'conservation',
 'safety',
 'roe',
 'criminal',
 'illness',
 'white supremacy',
 'emission',
 'surgery',
 'cost live',
 'attack capitol',
 'potable',
 'discrimination',
 'smuggle',
 'debtor',
 'undocumented',
 'corrupt',
 'homeless',
 'workplace',
 'economical',
 'interest rate',
 'rioter',
 'unemployment',
 'stimulus',
 'renewable energy',
 'compost',
 'mass shooting',
 'misconduct',
 'suicide prevention',
 'clinician',
 'macroeconomic',
 'threaten specie',
 'homelessness',
 'unionize',
 'latino voter',
 'custody',
 'indebtedness',
 'visa',
 'anti abortion',
 'pistol',
 'recycled',
 'glacial',
 'defense attorney',
 'save money',
 'education',
 'sea level',
 'industrialized',
 'underemployed',
 'road rage',
 'medicaid',
 'polarization',
 'college',
 'corruptly',
 'recycler',
 'reproductive health',
 'shoot',
 'economy',
 'integrity election',
 'violent crime',
 'suspect arrest',
 'therapist',
 'robbery',
 'prisoner',
 'inflationary',
 'industrialization',
 'impeachment',
 'masking',
 'minority',
 'school massacre',
 'semi automatic',
 'gunman',
 'employee',
 'sick',
 'telemedicine',
 'global warming',
 'property owner',
 'gunshot',
 'surgeon',
 'rehabilitation',
 'primary care',
 'salary',
 'dui',
 'emergency room',
 'intercultural',
 'employ',
 'deficit',
 'ecologically',
 'money laundering',
 'employment',
 'latinas',
 'foreigner',
 'attack',
 'compostable',
 'employer',
 'pharmacy',
 'african americans',
 'social security',
 'violence',
 'save',
 'child abuse',
 'business development',
 'income',
 'heart disease',
 'hate crime',
 'abused',
 'aid abet',
 'lay',
 'affordable care',
 'anti choice',
 'clean water',
 'terrorism',
 'naturalist',
 'rental',
 'electoral fraud',
 'pollution',
 'suspect flee',
 'anti border',
 'counsel',
 'heroin',
 'mortgage',
 'weapon',
 'january 6',
 'vaccinated',
 'prejudice',
 'stereotype',
 'homeowner',
 'destigmatize',
 'greenhouse gas',
 'graduate',
 'family planning',
 'policeman',
 'air quality',
 'wic',
 'aggravate assault',
 'severance pay',
 'handgun',
 'finance',
 'budgetary',
 'reproductive right',
 'discriminate',
 'perpetrator',
 'election interference',
 'immigration',
 'clean air',
 'riot',
 'abuser',
 'latina',
 'preschool',
 'dental',
 'productivity',
 'privatize',
 'second amendment',
 'ecological',
 'racial',
 'seizure',
 'polarize',
 'doctor',
 'deport',
 'industrialize',
 'overdose',
 'allegation',
 'prescribe',
 'pediatrician',
 'blackface',
 'medically',
 'profitable',
 'capitol attack',
 'latino',
 'debt',
 'anti gun',
 'monetary',
 'sexual harassment',
 'weed',
 'payment',
 'classroom',
 'black male',
 'educational',
 'police',
 'cost living',
 'public security',
 'federal prison',
 'affordability',
 'extinct',
 'coinage',
 'paramedical',
 'pediatric',
 'federal reserve',
 'wage',
 'ecologist',
 'covid',
 'immigrant',
 'physicians',
 'prison',
 'monetarily',
 'profit',
 'moderna',
 'employed',
 'housing market',
 'live standard']

In [ ]:
# exclude those from the topic dictionary #CO: why exclude those?
df_test_sim07_final = df_test_sim07_nondup[~df_test_sim07_nondup['similar_word'].isin(topic_dictionary)]
df_test_sim07_final

           word_lemma     similar_word  similarity               topic
2     substance abuse        addiction    0.783524         Health care
3     substance abuse        addiction    0.783524               Crime
4     substance abuse  stress disorder    0.773723         Health care
5     substance abuse  stress disorder    0.773723               Crime
6     substance abuse   post traumatic    0.771526         Health care
...               ...              ...         ...                 ...
5101   housing market     stock market    0.748851  Affordable housing
5102   housing market       volatility    0.745039  Affordable housing
5105   housing market        gas price    0.721568  Affordable housing
5106   housing market         downturn    0.718794  Affordable housing
5109   housing market   curb inflation    0.713636  Affordable housing

[2767 rows x 4 columns]

In [ ]:
df_test_sim07_final.to_excel('df_test_sim07_top10_no_duplicates2_v2.xlsx') #CO: only one is being saved here

In [ ]:
df_test_sim07_top10_v1 = pd.read_excel('df_test_sim07_top10_no_duplicates2.xlsx') #... CO: but a version1 and a version 2 is being loaded here. Why? What's the point of the two versions?
df_test_sim07_top10_v2 = pd.read_excel('df_test_sim07_top10_no_duplicates2_v2.xlsx')

In [ ]:
df_test_sim07_top10_v2 = df_test_sim07_final #CO: doing this avoid saving/re-loading
df_test_sim07_top10_v2

           word_lemma     similar_word  similarity               topic
2     substance abuse        addiction    0.783524         Health care
3     substance abuse        addiction    0.783524               Crime
4     substance abuse  stress disorder    0.773723         Health care
5     substance abuse  stress disorder    0.773723               Crime
6     substance abuse   post traumatic    0.771526         Health care
...               ...              ...         ...                 ...
5101   housing market     stock market    0.748851  Affordable housing
5102   housing market       volatility    0.745039  Affordable housing
5105   housing market        gas price    0.721568  Affordable housing
5106   housing market         downturn    0.718794  Affordable housing
5109   housing market   curb inflation    0.713636  Affordable housing

[2767 rows x 4 columns]

In [ ]:
df_test_sim07_top10_v1 = df_test_sim07_top10_v1[['similar_word', 'topic', 'FINAL']]

In [ ]:
df_test_sim07_top10_v2 = df_test_sim07_top10_v2[['similar_word', 'topic']]
df_test_sim07_top10_v2

         similar_word               topic
2           addiction         Health care
3           addiction               Crime
4     stress disorder         Health care
5     stress disorder               Crime
6      post traumatic         Health care
...               ...                 ...
5101     stock market  Affordable housing
5102       volatility  Affordable housing
5105        gas price  Affordable housing
5106         downturn  Affordable housing
5109   curb inflation  Affordable housing

[2767 rows x 2 columns]

In [ ]:
df_test_sim07_top10_v2['version'] = 'v2'
df_test_sim07_top10_v2

<ipython-input-80-8d969e488c48>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_sim07_top10_v2['version'] = 'v2'

         similar_word               topic version
2           addiction         Health care      v2
3           addiction               Crime      v2
4     stress disorder         Health care      v2
5     stress disorder               Crime      v2
6      post traumatic         Health care      v2
...               ...                 ...     ...
5101     stock market  Affordable housing      v2
5102       volatility  Affordable housing      v2
5105        gas price  Affordable housing      v2
5106         downturn  Affordable housing      v2
5109   curb inflation  Affordable housing      v2

[2767 rows x 3 columns]

In [ ]:
df_sim07_top10_merge = pd.merge( df_test_sim07_top10_v1, df_test_sim07_top10_v2, how="outer", on=["similar_word", "topic"])

In [ ]:
df_sim07_top10_merge[df_sim07_top10_merge['version'].isnull()]

           similar_word              topic  FINAL version
2             exception           Abortion    0.0     NaN
4          conservative           Abortion    0.0     NaN
5     expand electorate           Abortion    0.0     NaN
6       fellow democrat           Abortion    0.0     NaN
7         gop candidate           Abortion    0.0     NaN
...                 ...                ...    ...     ...
2886               woke  Racial inequality    0.0     NaN
2891     court decision      Supreme Court    0.0     NaN
2892       court ruling      Supreme Court    0.0     NaN
2893               dobb      Supreme Court    0.0     NaN
2894            justice      Supreme Court    0.0     NaN

[1789 rows x 4 columns]

In [ ]:
df_sim07_top10_merge[df_sim07_top10_merge['version']=='v2']

           similar_word           topic  FINAL version
0          abortion ban        Abortion    0.0      v2
1          ban abortion        Abortion    0.0      v2
3       oppose abortion        Abortion    0.0      v2
12               choose        Abortion    0.0      v2
13               prefer        Abortion    0.0      v2
...                 ...             ...    ...     ...
4545         prevalence        COVID-19    NaN      v2
4546     severe illness        COVID-19    NaN      v2
4547        virus cause        COVID-19    NaN      v2
4548  syndrome mutation        COVID-19    NaN      v2
4549    retention bonus  Economy / Jobs    NaN      v2

[2761 rows x 4 columns]

In [ ]:
df_sim07_top10_merge.to_excel('df_sim07_top10_merge_v1_v2_diff.xlsx')

In [ ]:
topic_final_r1 = topic_final.copy()
topic_final_r1['topic_final'] = 1
topic_final_r1

                  topic         word_lemma  topic_final
0             Inflation          cost live            1
1             Inflation          inflation            1
3             Inflation             afford            1
4             Inflation      affordability            1
5             Inflation         affordable            1
...                 ...                ...          ...
2848  Racial inequality           minority            1
2858  Racial inequality  nondiscrimination            1
2882  Racial inequality             stigma            1
2890  Racial inequality         stigmatize            1
2896  Racial inequality      unarmed black            1

[575 rows x 3 columns]

In [ ]:
topic_final_r1.rename(columns={'word_lemma': 'similar_word'}, inplace=True)

In [ ]:
df_sim07_top10_merge_all = pd.merge(df_sim07_top10_merge, topic_final_r1, how="outer", on=["similar_word", "topic"]) #CO: is it sometimes better to merge based on an ID column? #CO: Also, I'm getting error messages here.

In [ ]:
df_sim07_top10_merge_all['review_done'] = np.where(  (df_sim07_top10_merge_all['FINAL']== 0) & (df_sim07_top10_merge_all['version']== "v2"), 1, 0  )

In [ ]:
df_sim07_top10_merge_all.to_excel('df_sim07_top10_merge_v1_v2_diff.xlsx')

## final topic word list

In [ ]:
!pwd

shell-init: error retrieving current directory: getcwd: cannot access parent directories: Transport endpoint is not connected
pwd: error retrieving current directory: getcwd: cannot access parent directories: Transport endpoint is not connected

In [ ]:
import pandas as pd
topic_R2 = pd.read_excel('df_test_sim07_top10_no_duplicates2.xlsx')

In [ ]:
topic_R2 = topic_R2[topic_R2['FINAL'] == 1] #CO: I'm not sure what this FINAL columns refers to. I think it came from a sheet that was loaded but I didn't see how it got made.
topic_R2 = topic_R2[['topic', 'similar_word']]
topic_R2.rename(columns={'similar_word': 'word_lemma'}, inplace=True)

In [ ]:
topic_R2_add = pd.read_excel('additional_words_manual.xlsx') 
topic_R2_add.rename(columns={'similar_word': 'word_lemma'}, inplace=True)
topic_R2_add

In [ ]:
topic_final

                  topic         word_lemma
0             Inflation          cost live
1             Inflation          inflation
3             Inflation             afford
4             Inflation      affordability
5             Inflation         affordable
...                 ...                ...
2848  Racial inequality           minority
2858  Racial inequality  nondiscrimination
2882  Racial inequality             stigma
2890  Racial inequality         stigmatize
2896  Racial inequality      unarmed black

[575 rows x 2 columns]

In [ ]:
topic_final[topic_final['word_lemma']=='undocumente']

                             topic   word_lemma
122  Immigration / border security  undocumente

In [ ]:
topic_final2 = pd.concat([topic_final, topic_R2, topic_R2_add])

In [ ]:
topic_final2

             topic     word_lemma
0        Inflation      cost live
1        Inflation      inflation
3        Inflation         afford
4        Inflation  affordability
5        Inflation     affordable
..             ...            ...
0         Abortion      prochoice
1         Abortion     antichoice
2         Abortion          dobbs
3            Crime        gunfire
4   Economy / Jobs       creditor

[940 rows x 2 columns]

In [ ]:
len(topic_final2)

940

In [ ]:
topic_final2 = topic_final2.drop_duplicates().sort_values(['topic','word_lemma']).reset_index()

In [ ]:
topic_final2 = topic_final2[['topic','word_lemma']]

In [ ]:
# delete depression AND lay from Economy / Jobs	
# delete traffic from Immigration / border security AND Crime

In [ ]:
topic_final2[topic_final2['word_lemma'] == 'undocumented'] # 467

                             topic    word_lemma
821  Immigration / border security  undocumented

In [ ]:
topic_final2[topic_final2['word_lemma'] == 'depression'] # 418
topic_final2[topic_final2['word_lemma'] == 'lay'] # 467
topic_final2[topic_final2['word_lemma'] == 'traffic'] # 371, 818
topic_final2[topic_final2['word_lemma'] == 'undocumente'] # 820

                             topic   word_lemma
820  Immigration / border security  undocumente

In [ ]:
topic_final2[topic_final2['word_lemma'] == 'cap trade '] # 94

             topic  word_lemma
94  Climate change  cap trade

In [ ]:
topic_final2.drop([94, 418,467, 371, 818, 820], axis=0, inplace=True)

In [ ]:
topic_final2.to_excel('FINAL_topic_words_R2_review.xlsx')

## mturk review for v2

In [ ]:
%cd /content/drive/MyDrive/Georgia/Topic Dictionaries

import pandas as pd

review_v2 = pd.read_excel('/content/drive/MyDrive/Georgia/Topic Dictionaries/FINAL_sim07_top10_merge.xlsx')

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Topic Dictionaries

In [ ]:
review_v2_review = review_v2[ (review_v2['FINAL_ADD']==1)]

In [ ]:
review_v2_review_st = review_v2_review[['similar_word', 'topic']]

In [ ]:
len(review_v2_review_st)

317

## find example sentences

In [ ]:
import pandas as pd

df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')

In [ ]:
len(df[df['article_lemma_num'].isnull()])

0

### round 1

In [ ]:
topic_final2 = pd.read_excel('FINAL_topic_words_R2_review.xlsx')

In [ ]:
topic_final2.rename(columns={'word_lemma': 'topic_ng'}, inplace=True)

In [ ]:
topic_final2 = topic_final2[['topic','topic_ng']].drop_duplicates() # 933

In [ ]:
topic_final2 = topic_final2[topic_final2['topic_ng'] != 'choice'] # remove choice

### round 2

In [ ]:
review_v2_review_st = review_v2_review[['similar_word', 'topic']]
review_v2_review_st.rename(columns={'similar_word': 'topic_ng'}, inplace=True)
review_v2_review_st = review_v2_review_st[['topic','topic_ng']].drop_duplicates() # 313

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
len(review_v2_review_st)

313

In [ ]:

import re

def bigrams(s):
    return [i for i in s if re.search(r'\s', i) ]
  
def unigrams(s):
    return [i for i in s if not re.search(r'\s', i) ]


topic_words = list(set(review_v2_review_st['topic_ng'].tolist()))

word_bigrams_done = list(set(bigrams(topic_words)))
print(word_bigrams_done)
print(len(word_bigrams_done))
                       
word_unigrams_done = unigrams(topic_words)
print(word_unigrams_done)
print(len(word_unigrams_done))

['gas emission', 'source methane', 'emergency contraception', 'taxable income', 'conspiracy commit', 'illegally enter', 'reverence life', 'growth slow', 'anxiety screening', 'request asylum', 'venous thromboembolism', 'foreign national', 'arm dealer', 'death penalty', 'delta variant', 'blood thinner', 'certify presidential', 'brittany fonteno', 'coral reef', 'supply shortage', 'fda approve', 'deficit reduction', 'bodily autonomy', 'enroll medicare', 'arm trafficking', 'accusation sexual', 'dismiss illegitimate', 'knee surgery', 'unplanned pregnancy', 'break in', 'abbott bus', 'legal pathway', 'corona 19', 'financial institution', 'sleep habit', 'equity diversity', 'racial disparity', 'aggravate battery', 'american academy', 'attempt overturn', 'charge aggravated', 'birth defect', 'cost effective', 'gang relate', 'cognitive impairment', 'arrest allegedly', 'southern border', 'wildfire smoke', 'stock index', 'hearing aid', 'consumer spending', 'border mexico', 'primary caregiver', 'stock bond', 'possession methamphetamine', 'coal fire', 'central bank', 'practice disproportionately', 'armed dangerous', 'assault battery', 'treasury yield', 'felony warrant', 'double mastectomy', 'fed raise', 'count aggravated', 'nuclear plant', 'methane emission', 'immigrate us', 'cut taxis', 'gender transition', 'espionage act', 'housing affordability', 'price soar', 'citizenship immigration', 'suicide bombing', 'retirement saving', 'migrant cross', 'burglary suspect', 'pension fund', 'americans disability', 'repeatedly punch', 'animal cruelty', 'independent contractor', 'equitable inclusive', 'death sentence', 'food stamp', 'seasonal depression', 'erosion control', 'drug alcohol', 'opioid addiction', 'cleveland clinic', 'fed chair', 'fifth grader', 'cognitive behavioral', '10th grade', 'atrial fibrillation', 'educational institution', 'elementary middle', 'drug addict', 'anxiety depression', 'coinsurance copayment', 'oath allegiance', 'illegally cross', 'cell metabolism', 'riot capitol', 'legal status', 'price gasoline', 'agricultural land', 'breast milk', 'deadly mass', 'apply asylum', 'brain damage', 'nuclear power', 'vulnerable specie', 'commit theft', 'life unborn', 'possession intent', 'plastic surgery', 'private equity', 'electoral process', 'threat democracy', 'cancer diagnosis', 'raise interest', 'protest racial', 'pay upfront', 'dental care', 'monoclonal antibody', 'post traumatic', 'high schooler', 'mri scan', 'bodily injury', 'treasury department', 'personhood law', 'surgical procedure', 'housing shortage', 'mobile clinic', 'perform cpr', 'qualified staffing', 'semiautomatic rifle', 'birth control', 'accuse kill', 'assault weapon', 'shortage affordable', 'access reproductive', 'carbon pipeline', 'unwanted pregnancy', 'income household', 'tuition fee', 'bottled water', 'borrower creditworthiness', 'water conservation', 'capitol breach', 'chronic illness', 'jan 6', 'private insurer', 'sleep duration', 'illicit market', 'doctorate degree', 'ethanol plant', 'defer action', 'drug smuggling', 'kindergarten class', 'sanctuary city', 'assault possession', 'illegally possess', 'stress disorder', 'border security', 'inflation fed', 'wealth gap', 'possess intent', 'hike interest', 'supply demand', 'suspect custody', 'goldman sachs', 'ivy league', 'indecent exposure', 'occupational therapist', 'autoimmune disease', 'nato visa', 'water contaminate', 'healthy lifestyle']
181
['racialize', 'bullet', 'urology', 'psychosocial', 'neurosurgeon', 'payday', 'remission', 'nih', 'carjacker', 'sanofi', 'aquifer', 'adhd', 'kaiser', 'orthopedic', 'optometrist', 'foreclosure', 'payable', 'lethal', 'blackmail', 'aluminum', 'cortisone', 'surgical', 'methane', 'ib', 'neurologist', 'ebt', 'tif', 'aap', 'audit', 'refinance', 'discretionary', 'anticancer', 'cancer', 'otc', 'schizophrenia', 'erosion', 'cost', 'hbcu', 'diversification', 'ect', 'undergrad', 'tutoring', 'endangered', 'lumpectomy', 'instructional', 'ba45', 'castration', 'greenhouse', 'psychiatry', 'osteoporosis', 'inflation', 'fetal', 'obstetrician', 'asylum', 'developer', 'criminally', 'pregnant', 'migrate', 'apartment', 'rainforest', 'molestation', 'deductible', 'immigrate', 'physiological', 'steal', 'blm', 'discrimination', 'depletion', 'cardiomyopathy', 'poverty', 'ghgs', 'homebuyer', 'kill', 'pacemaker', 'combustion', 'agriculture', 'mri', 'ba46', 'nursing', 'surplus', 'funding', 'coastline', 'ak47', 'disabled', 'atmospheric', 'prejudicial', 'coal', 'embryo', 'authoritarian', 'business', 'racketeering', 'subdivision', 'scar', 'disenfranchisement', 'antidepressant', 'genocide', 'audits', 'orthopaedic', 'reuse', 'copd', 'alcoholism', 'infectious', 'stretcher', 'instruction', 'biomass', 'taxation', 'strangle', 'repatriation', 'injury', 'prognosis', 'endocrinologist', 'schooling', 'thyroidectomy', 'embezzlement', 'overdraft', 'psychology', 'shooting', 'ventilator', 'insomnia', 'legally', 'adderall', 'marginalization', 'wastewater', 'hospital', 'pregnancy', 'vacant', 'schizophrenic', 'menstruation']
128

In [ ]:

import numpy as np

df['topic_ng1'] = df['article_lemma_num'].astype(str).apply(lambda x: set.intersection(set(x.split(' ')), word_unigrams_done))
df['topic_ng2'] = df['article_lemma_num'].astype(str).apply(lambda x: [i for i in word_bigrams_done if i in x])

In [ ]:
df.sample(3)

,source,website,article_url,article_title,article_author,date_published,ner_places,article_lemma_num,article_final,translation_YN,id,ner_orgs,topic_ng1,topic_ng2
30481,Polk County Standard Journal,http://www.northwestgeorgianews.com/polkfishwrap/,https://www.northwestgeorgianews.com/fieldleve...,"Bret Bielema faces old team, Illinois visits W...",Field Level Media,2022-09-26,"{'Italy (GPE)', 'Canada (GPE)', 'Republic of I...",country united states america virgin islands u...,Country United States of America US Virgin Isl...,0,30482,"{'Grand Duchy of Macao (ORG)', 'Republic of Bo...",{},[]
1796,Douglas County Sentinel,http://www.douglascountysentinel.com/,https://www.douglascountysentinel.com/lifestyl...,AI Could Improve Diagnostic Accuracy of Breast...,Physicians Briefing Staff,2022-10-07,"{'New York City (GPE)', 'Ph.D. (GPE)', 'Poland...",friday oct 7 2022 healthday news deep learning...,"FRIDAY, Oct. 7, 2022 (HealthDay News) -- A dee...",0,1797,"{'Science Translational Medicine (ORG)', 'BI-R...","{cancer, mri}",[cancer diagnosis]
125048,WAGA TV 5 (Fox),http://www.myfoxatlanta.com/,https://www.fox5atlanta.com/news/shaw-universi...,"Shaw University students stopped, searched in ...",FOX 5 Atlanta Digital Team,2022-10-11,"{'Atlanta (GPE)', 'Raleigh (GPE)', 'North Caro...",article exterior shaw university locate raleig...,"article Exterior of Shaw University, located i...",0,125049,"{'Shaw University (ORG)', 'the Center for Fina...",{},[]

In [ ]:

text_df_uni = df[(df['topic_ng1'].str.len()) > 0]
text_df_bi = df[(df['topic_ng2'].str.len()) > 0]

text_df_uni = text_df_uni[['id', 'source', 'article_final', 'topic_ng1']]
text_df_bi = text_df_bi[['id', 'source','article_final', 'topic_ng2']]

text_df_uni_df = text_df_uni.explode('topic_ng1')
text_df_bi_df = text_df_bi.explode('topic_ng2')

text_df_uni_df = text_df_uni_df.rename(columns={'topic_ng1': 'topic_ng'})
text_df_bi_df = text_df_bi_df.rename(columns={'topic_ng2': 'topic_ng'})

text_df_ng_all = pd.concat([text_df_uni_df, text_df_bi_df])

In [ ]:
text_df_ng_all = pd.merge(text_df_ng_all, review_v2_review_st, how='left', on = 'topic_ng')

In [ ]:
text_df_ng_all # three words missing

,id,source,article_final,topic_ng,topic
0,173704,285 South,The GOP effort to court Hispanic voters: Repub...,shooting,Guns
1,173702,285 South,The Guatemalan population in Georgia has almos...,migrate,Immigration / border security
2,173703,285 South,It\u2019s a busy month - lots of fundraisers a...,business,Economy / Jobs
3,173705,285 South,"Sara Naqvi, publisher of the blog The Pakistan...",business,Economy / Jobs
4,173705,285 South,"Sara Naqvi, publisher of the blog The Pakistan...",immigrate,Immigration / border security
...,...,...,...,...,...
102757,3813,WQXI AM 790,"Mi, 3 consecutive Giant Step Return to the RO...",fed raise,Economy / Jobs
102758,3813,WQXI AM 790,"Mi, 3 consecutive Giant Step Return to the RO...",raise interest,Economy / Jobs
102759,3814,WQXI AM 790,"2022 Fiscal year, more than 2 million immigran...",migrant cross,Immigration / border security
102760,3815,WQXI AM 790,The Fed's Economic Analyst is a 0.75 point inc...,fed raise,Economy / Jobs
102761,3815,WQXI AM 790,The Fed's Economic Analyst is a 0.75 point inc...,raise interest,Economy / Jobs

In [ ]:
temp_count = text_df_ng_all.groupby(['topic', 'topic_ng']).count().reset_index()

In [ ]:
temp_count

,topic,topic_ng,id,source,article_final
0,Abortion,access reproductive,41,41,41
1,Abortion,bodily autonomy,35,35,35
2,Abortion,brittany fonteno,10,10,10
3,Abortion,fetal,243,243,243
4,Abortion,life unborn,24,24,24
...,...,...,...,...,...
306,Racial inequality,practice disproportionately,30,30,30
307,Racial inequality,prejudicial,31,31,31
308,Racial inequality,protest racial,22,22,22
309,Racial inequality,racial disparity,60,60,60
310,Racial inequality,racialize,14,14,14

In [ ]:
# merge_uni_m10 = text_df_ng_all[~text_df_ng_all['topic_ng'].isin(temp_count_l10_topic)]
# merge_uni_m10_group = merge_uni_m10.groupby('topic_ng').apply(lambda x: x.sample(10, replace=False)).reset_index(drop=True)

# merge_uni_l10 = text_df_ng_all[text_df_ng_all['topic_ng'].isin(temp_count_l10_topic)]
# merge_uni_l10_group = merge_uni_l10.groupby('topic_ng').apply(lambda x: x.sample(10, replace=True)).reset_index(drop=True)

# merge_uni_both = pd.concat([merge_uni_m10_group, merge_uni_l10_group])

merge_uni_both = text_df_ng_all.groupby(['topic', 'topic_ng']).apply(lambda x: x.sample(10, replace=True)).reset_index(drop=True)

In [ ]:
merge_uni_both

,id,source,article_final,topic_ng,topic
0,141601,Decaturish,Decaturish and Tucker Observer sent candidate ...,access reproductive,Abortion
1,182746,WRBL News 3 (CBS),(NerdWallet) Would you be able to quickly ob...,access reproductive,Abortion
2,180022,WJBF TV 6 (ABC),(NerdWallet) Would you be able to quickly ob...,access reproductive,Abortion
3,48707,WGCL TV 46 (CBS),WASHINGTON (AP) With few options for strengt...,access reproductive,Abortion
4,68691,WSB AM 750,As abortion remains a key issue in the upcomin...,access reproductive,Abortion
...,...,...,...,...,...
3105,19927,Atlanta Black Star,The white woman who made headlines in 2020 for...,racialize,Racial inequality
3106,186815,WSB TV 2 (ABC),"A single pair of Levis jeans, dating to the 1...",racialize,Racial inequality
3107,67742,WRFC AM 960,"A single pair of Levis jeans, dating to the 1...",racialize,Racial inequality
3108,67616,WRFC AM 960,Tulsi Gabbard says she is leaving the Democrat...,racialize,Racial inequality
3109,97695,Atlanta Magazine,Jalyn Hall and Danielle Deadwyler as Emmett Ti...,racialize,Racial inequality

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import sent_tokenize
by_sentence = merge_uni_both['article_final'].apply(lambda x : sent_tokenize(x)).apply(pd.Series,1).stack()
by_sentence_df = pd.DataFrame(by_sentence)
by_sentence_df.rename(columns={0:'sentence_each'}, inplace=True)

by_sentence_df['sentence_turn'] = by_sentence_df.index.get_level_values(1)
by_sentence_df.index = by_sentence_df.index.get_level_values(0)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
merge_all_join = pd.concat([merge_uni_both, by_sentence_df], axis=1)
merge_all_join['sentence_each_lemma'] = merge_all_join['sentence_each'].str.lower().astype(str).apply(get_lemmas_num)

In [ ]:
merge_all_join['topic_words_YN'] = merge_all_join.apply(lambda x: x.topic_ng in x.sentence_each_lemma, axis=1)
merge_all_join['topic_words_YN_lead'] = merge_all_join.groupby(['topic', 'topic_ng'])['topic_words_YN'].shift(-1)
merge_all_join.reset_index(drop=True, inplace=True)

In [ ]:
merge_all_join["row_id"] = merge_all_join.index + 1

In [ ]:
merge_sentence_select_in = merge_all_join[ (merge_all_join['topic_words_YN']== True)]

In [ ]:
merge_sentence_only = merge_sentence_select_in.drop(columns=['article_final'])
merge_sentence_only['str_count'] = merge_sentence_only.sentence_each.str.count(" ") # remove string count less than 3

In [ ]:
merge_sentence_only = merge_sentence_only[merge_sentence_only['str_count'] >= 3]

In [ ]:
merge_sentence_only_10 = merge_sentence_only.groupby(['topic', 'topic_ng']).apply(lambda x: x.sample(10, replace=True)).reset_index(drop=True)

In [ ]:
test = merge_sentence_only_10.groupby(['topic', 'topic_ng']).count().reset_index()
test

,topic,topic_ng,id,source,sentence_each,sentence_turn,sentence_each_lemma,topic_words_YN,topic_words_YN_lead,row_id,str_count
0,Abortion,access reproductive,10,10,10,10,10,10,10,10,10
1,Abortion,bodily autonomy,10,10,10,10,10,10,10,10,10
2,Abortion,brittany fonteno,10,10,10,10,10,10,10,10,10
3,Abortion,fetal,10,10,10,10,10,10,10,10,10
4,Abortion,life unborn,10,10,10,10,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...
306,Racial inequality,practice disproportionately,10,10,10,10,10,10,10,10,10
307,Racial inequality,prejudicial,10,10,10,10,10,10,10,10,10
308,Racial inequality,protest racial,10,10,10,10,10,10,10,10,10
309,Racial inequality,racial disparity,10,10,10,10,10,10,10,10,10
310,Racial inequality,racialize,10,10,10,10,10,10,10,10,10

In [ ]:
merge_sentence_only_10.sample(3)

,id,source,topic_ng,topic,sentence_each,sentence_turn,sentence_each_lemma,topic_words_YN,topic_words_YN_lead,row_id,str_count
1305,417,La Visin,price gasoline,Economy / Jobs,The prices of gasoline in the Metropolitan Are...,0,price gasoline metropolitan area atlanta shoot...,True,False,49776,29
1882,141132,Dalton Daily Citizen,cardiomyopathy,Health care,His mother said jailers refused to take him to...,14,mother say jailer refuse hospital medical care...,True,False,70731,19
636,26801,Lanier County News,armed dangerous,Crime,Jashun Wilkins is considered armed and dangerous.,14,jashun wilkin consider armed dangerous,True,False,25765,6

In [ ]:
merge_sentence_only_10_st = merge_sentence_only_10[['id','topic_ng','topic','sentence_each']]

In [ ]:
# # remove choice

# merge_sentence_only_10_st = merge_sentence_only_10_st[merge_sentence_only_10_st['topic_ng'] != 'choice']

In [ ]:
len(merge_sentence_only_10_st)

3110

In [ ]:
merge_sentence_only_10_st = merge_sentence_only_10_st.sample(len(merge_sentence_only_10_st))
merge_sentence_only_10_st.to_excel('Georgia_topic_words_validation_sentence10_v2.xlsx')