<a href="https://colab.research.google.com/github/ykim71/georgia_analysis/blob/main/Check(2)_Georgia_place_analysis_TEST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
# need access to the folder(s) below:

#%cd /content/drive/MyDrive/Georgia/
#%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/
%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/
#%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Locations Analysis'
!ls

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia
 2020-count-by-county-population--with-2010.pdf
'Georgia Left to Do Feb 2023.gdoc'
'Georgia Media Landscape Report Draft.gdoc'
'Georgia MEETING NOTES.gdoc'
'Locations Analysis'
'Organization Analysis'
'[SHARED] GNC Research Component.gdoc'
'Topic Dictionaries'
'Web Scraping'

# Location analysis

## Prep for place analysis

In [15]:
#%cd /content/drive/MyDrive/Georgia/Locations Analysis
%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/'Web Scraping' 
#%cd /content/drive/MyDrive/Colab Notebooks/'Check code for others'/'Check Georgia code for Yujin, apr 2023'/Georgia/ 
#!ls

!pwd
!ls

/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Web Scraping
/content/drive/.shortcut-targets-by-id/1YSQ9BBnwwRu7fyeM_9V6eoFgKQBPl4Rr/Georgia/Web Scraping
 CrowdTangle_GA.xlsx
'Georgia Batches Justification for Scraping.gdoc'
 Georgia_data_v2_translation_ner3_lem.pkl
'Georgia Media RFP.gdoc'
'Georgia Scraping Methods - Emily.gdoc'
'Keeping track of media sites'
'List of Potential Web Scrapers (Georgia).gdoc'
'Marquee data'
'Updated Marquee data'

In [16]:
import pandas as pd

#df = pd.read_pickle('/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl') #CH: this threw an error
df = pd.read_pickle('Georgia_data_v2_translation_ner3_lem.pkl') #CH: I assume this is the relevant file!

In [17]:
# lemmatization if needed
import spacy
from spacy import displacy

sp = spacy.load('en_core_web_sm', disable=["tok2vec", "tagger", "parser", "attribute_ruler", "lemmatizer"])
# CH: not familiar with "en_core_web_sm" but sounds reasonable.

In [19]:
help(spacy.load)

Help on function load in module spacy:

load(name: Union[str, pathlib.Path], *, vocab: Union[spacy.vocab.Vocab, bool] = True, disable: Union[str, Iterable[str]] = [], enable: Union[str, Iterable[str]] = [], exclude: Union[str, Iterable[str]] = [], config: Union[Dict[str, Any], confection.Config] = {}) -> spacy.language.Language
    Load a spaCy model from an installed package or a local path.

    name (str): Package name or model path.
    vocab (Vocab): A Vocab object. If True, a vocab is created.
    disable (Union[str, Iterable[str]]): Name(s) of pipeline component(s) to disable. Disabled
        pipes will be loaded but they won't be run unless you explicitly
        enable them by calling nlp.enable_pipe.
    enable (Union[str, Iterable[str]]): Name(s) of pipeline component(s) to enable. All other
        pipes will be disabled (but can be enabled later using nlp.enable_pipe).
    exclude (Union[str, Iterable[str]]): Name(s) of pipeline component(s) to exclude. Excluded
        components won't be loaded.
    config (Dict[str, Any] / Config): Config overrides as nested dict or dict
        keyed by section values in dot notation.
    RETURNS (Language): The loaded nlp object.

In [20]:

def text_ner_place(text):
  text = sp(text)
  
  ner_list = []
  
  for entity in text.ents:
    if entity.label_ == "FAC":
      ner_list.append(entity.text + " (" + entity.label_ + ")")
    if entity.label_ == "GPE":
      ner_list.append(entity.text + " (" + entity.label_ + ")")
    if entity.label_ == "LOC":
      ner_list.append(entity.text + " (" + entity.label_ + ")")
    else:
      None
  return str(set(ner_list))

In [ ]:
df['ner_places'] = df['article_final'].astype(str).apply(text_ner_place)

In [ ]:
#df.to_pickle('Georgia_data_v2_translation_ner.pkl') # commented this line to prevent from saving it

## Find rough location from spaCy

In [ ]:
import pandas as pd

df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')

In [ ]:
df_ner = df.loc[df['ner_places'] != 'set()']

In [ ]:
print(len(df))
print(len(df_ner))

192206
144929

In [ ]:
df_expand = df_ner['ner_places'].str.split(',').explode().str.strip('{} ')

In [ ]:
df_expand = pd.DataFrame(df_expand)

In [ ]:
df_expand['ner_places_clean'] = df_expand['ner_places'].str.replace(r"\'","")
df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r" \"","")
df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r"\"","")
df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r"\(.*\)","")

<ipython-input-8-03789092516e>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_expand['ner_places_clean'] = df_expand['ner_places'].str.replace(r"\'","")
<ipython-input-8-03789092516e>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r" \"","")
<ipython-input-8-03789092516e>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r"\"","")
<ipython-input-8-03789092516e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_expand['ner_places_clean'] = df_expand['ner_places_clean'].str.replace(r"\(.*\)","")

In [ ]:
df_expand_count = df_expand.groupby('ner_places_clean').count().reset_index()

In [ ]:
df_freq_n5 = df_expand_count[df_expand_count["ner_places"] >= 5]
df_freq_n5.to_excel('df_freq_n5_ner_v2.xlsx')

In [ ]:
# # compare place entities with v1

# df_freq_n5_v2 = pd.read_excel('df_freq_n5_ner_v2.xlsx')
# df_freq_n5_v1 = pd.read_excel('df_freq_n5_ner.xlsx')

# df_freq_n5_v1['version'] = 'v1'
# df_freq_n5_v2['version'] = 'v2'

# df_freq_n5_merge = pd.merge( df_freq_n5_v1,df_freq_n5_v2, how="outer", on=["ner_places_clean"])

## Find sentence example of location

In [ ]:
import pandas as pd

#ner_places = pd.read_csv('Georgia_ner_places.csv') # previous data
ner_places = pd.read_csv('Georgia_ner_places_v2.csv') # updated data

In [ ]:
ner_places['ner_places_clean'] = ner_places['ner_places_clean'].str.rstrip()

In [ ]:
ner_places_raw = list(set(ner_places['ner_places_clean'].tolist()))

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
# df["id"] = df.index + 1
df_ner = df.loc[df['ner_places'] != 'set()']

In [ ]:

import numpy as np

df_ner['place_ng1'] = df_ner['article_final'].astype(str).apply(lambda x: [i for i in ner_places_raw if i in x])

<ipython-input-76-22b7966504e5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ner['place_ng1'] = df_ner['article_final'].astype(str).apply(lambda x: [i for i in ner_places_raw if i in x])

In [ ]:
text_df_uni_dict = df_ner[['id',  'place_ng1']]
text_df_uni_article = df_ner[['id', "article_final"]]

In [ ]:

sample_sentence = text_df_uni_dict['place_ng1'].astype(str).str.split(',').explode().str.strip('[] ')
sample_sentence_df = pd.DataFrame(sample_sentence)

In [ ]:
merge_uni = pd.merge(sample_sentence_df, text_df_uni_article, left_index=True, right_index=True)

merge_uni['place_ng1'] = merge_uni['place_ng1'].str.strip('\'')

In [ ]:
merge_uni_count = merge_uni.groupby('place_ng1').count() #

In [ ]:
# articles mentioned a location less than 3
merge_uni_count_l3 = merge_uni_count[merge_uni_count['article_final'] < 3].reset_index()

In [ ]:
merge_uni_count_l3_places = merge_uni_count_l3.place_ng1.values.tolist()
merge_uni_count_l3_places

['Mountain Views',
 'St. Giles Cathedral',
 'St. Judes',
 'the State Fire Marshals Office']

In [ ]:
merge_uni_l3 = merge_uni[merge_uni['place_ng1'].isin(merge_uni_count_l3_places)]
merge_uni_l3_group = merge_uni_l3.groupby('place_ng1').apply(lambda x: x.sample(3, replace=True)).reset_index(drop=True)

In [ ]:
# articles mentioned a location more than 3 --> random sample

merge_uni_m3 = merge_uni[~merge_uni['place_ng1'].isin(merge_uni_count_l3_places)]
merge_uni_m3_group = merge_uni_m3.groupby('place_ng1').apply(lambda x: x.sample(3, replace=False)).reset_index(drop=True)

In [ ]:
# merge 3 samples + those with less than 3 
merge_uni_m3_group2 = pd.concat([merge_uni_m3_group, merge_uni_l3_group]).reset_index()

In [ ]:
merge_uni_m3_group2.rename(columns={'place_ng1':'places'}, inplace=True)

In [ ]:
merge_uni_m3_group2

,index,places,id,article_final
0,0,,158151,Panel recommends anxiety screening for adults ...
1,1,,39128,"This month, we’re recognizing a Springfield ed..."
2,2,,152966,"Watch CBS News\n""""Broadway in the Boros"""" brin..."
3,3,14 W. Main St.,47531,"GRAFTON — A new attraction described as a """"th..."
4,4,14 W. Main St.,30084,Gazebo Downtown Franklin decorated for Fall. p...
...,...,...,...,...
8284,7,St. Judes,173845,"September 23, 2022\nPublication: Northeast Geo..."
8285,8,St. Judes,173907,"By News Staff\nSeptember 23, 2022\nPublication..."
8286,9,the State Fire Marshals Office,102767,"SUMMERVILLE, S.C. (WCBD) – A deadly early morn..."
8287,10,the State Fire Marshals Office,102767,"SUMMERVILLE, S.C. (WCBD) – A deadly early morn..."
8288,11,the State Fire Marshals Office,102767,"SUMMERVILLE, S.C. (WCBD) – A deadly early morn..."

In [ ]:
# split an article into sentences

from nltk.tokenize import sent_tokenize
by_sentence = merge_uni_m3_group2['article_final'].apply(lambda x : sent_tokenize(x)).apply(pd.Series,1).stack()
by_sentence_df = pd.DataFrame(by_sentence)
by_sentence_df.rename(columns={0:'sentence_each'}, inplace=True)

by_sentence_df['sentence_turn'] = by_sentence_df.index.get_level_values(1)
by_sentence_df.index = by_sentence_df.index.get_level_values(0)

In [ ]:
by_sentence_df

                                          sentence_each  sentence_turn
0     Panel recommends anxiety screening for adults ...              0
0     The proposed measure intends to identify early...              1
0     ""Screening all adults for depression, includi...              2
0     The panel includes generalized anxiety disorde...              3
0     According to the panel, screening and follow-u...              4
...                                                 ...            ...
8288  The cause of the fire is being investigated by...             12
8288                             “It’s cooling off now.             13
8288  We’re going to go in and try to collect eviden...             14
8288  Editor’s Note: This is developing with updates...             15
8288                            Count on 2 for updates.             16

[280020 rows x 2 columns]

In [ ]:
# merging split sentences to the article level
merge_all_m3_join = pd.concat([merge_uni_m3_group2, by_sentence_df], axis=1)

In [ ]:
merge_all_m3_join['search_words'] = merge_all_m3_join.apply(lambda x: x.places in x.sentence_each, axis=1)

In [ ]:
merge_all_m3_join['article_id'] = merge_all_m3_join.index.get_level_values(0)
merge_all_m3_join.reset_index(drop=True, inplace=True)

In [ ]:
# find those sentences that contain searching words (locations)

merge_all_m3_join_TRUE = merge_all_m3_join[merge_all_m3_join['search_words']==True]

In [ ]:
merge_temp = merge_all_m3_join_TRUE.groupby('places').count() #

,index,id,article_final,sentence_each,sentence_turn,search_words,article_id
places,,,,,,,
,22,22,22,22,22,22,22
14 W. Main St.,3,3,3,3,3,3,3
1495 Roswell Road,3,3,3,3,3,3,3
169/28,3,3,3,3,3,3,3
1:48,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...
uk,5,5,5,5,5,5,5
west Lincoln,3,3,3,3,3,3,3
west Tennessee,3,3,3,3,3,3,3
west entrance,9,9,9,9,9,9,9
west.,3,3,3,3,3,3,3

In [ ]:
# extract 3 random sentences containing the searching word (location) only

merge_temp_m3_group = merge_all_m3_join_TRUE.groupby('places').apply(lambda x: x.sample(3, replace=False)).reset_index(drop=True)

In [ ]:
merge_temp_m3_group

,index,places,id,article_final,sentence_each,sentence_turn,search_words,article_id
0,0,,158151,Panel recommends anxiety screening for adults ...,"According to the panel, screening and follow-u...",4,True,0
1,0,,158151,Panel recommends anxiety screening for adults ...,"In 2020, the National Alliance on Mental Illne...",10,True,0
2,0,,158151,Panel recommends anxiety screening for adults ...,"""""After diagnosis, people should participate i...",14,True,0
3,3,14 W. Main St.,47531,"GRAFTON — A new attraction described as a """"th...",The coaster ride is expected to be open year-r...,10,True,3
4,4,14 W. Main St.,30084,Gazebo Downtown Franklin decorated for Fall. p...,American Legion Macon Post 108 and American Le...,13,True,4
...,...,...,...,...,...,...,...,...
8254,8271,west entrance,48058,"UNI-Dome Render 1\n\nUpdated Oct 11, 2022\n\nA...","UNI-Dome Render 6\n\nUpdated Oct 11, 2022\n\nT...",8,True,8271
8255,8272,west entrance,47270,Iowa pork producers would suffer huge negative...,"UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA...",36,True,8272
8256,8275,west.,92690,PHILADELPHIA — A local Republican Party in Sou...,"Now Richard Ringer, a former journalist, is ru...",54,True,8275
8257,8276,west.,105640,Darrell Brooks trial: Waukesha parade's younge...,He said he was concerned with 25 frames as the...,169,True,8276
8258,8274,west.,168295,Ema Horvath is to star in a remake of 'The Str...,"Renny Harlin is directing the remake, with the...",5,True,8274

In [ ]:
merge_temp_m3_group2 = merge_temp_m3_group[['places','id','sentence_each']]

In [ ]:
merge_temp_m3_group2['domainId'] = merge_temp_m3_group2.groupby('places')['places'].rank(method='first')

<ipython-input-114-32e3fd288afa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_temp_m3_group2['domainId'] = merge_temp_m3_group2.groupby('places')['places'].rank(method='first')

In [ ]:
merge_temp_m3_group2.sort_values('places')

,places,id,sentence_each,domainId
0,,158151,"According to the panel, screening and follow-u...",1.0
1,,158151,"In 2020, the National Alliance on Mental Illne...",2.0
2,,158151,"""""After diagnosis, people should participate i...",3.0
3,14 W. Main St.,47531,The coaster ride is expected to be open year-r...,1.0
4,14 W. Main St.,30084,American Legion Macon Post 108 and American Le...,2.0
...,...,...,...,...
8253,west entrance,48058,"UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA...",1.0
8255,west entrance,47270,"UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA...",3.0
8257,west.,105640,He said he was concerned with 25 frames as the...,2.0
8256,west.,92690,"Now Richard Ringer, a former journalist, is ru...",1.0
8258,west.,168295,"Renny Harlin is directing the remake, with the...",3.0

In [ ]:
merge_temp_m3_group2_pivot = merge_temp_m3_group2.pivot(index='places', columns = 'domainId', values='sentence_each').reset_index()

In [ ]:
merge_temp_m3_group2_pivot.rename(columns={1:'sent_1', 2:'sent_2', 3:'sent_3'}, inplace=True)
merge_temp_m3_group2_pivot

domainId,places,sent_1,sent_2,sent_3
0,,"According to the panel, screening and follow-u...","In 2020, the National Alliance on Mental Illne...","""""After diagnosis, people should participate i..."
1,14 W. Main St.,The coaster ride is expected to be open year-r...,American Legion Macon Post 108 and American Le...,The coaster ride is expected to be open year-r...
2,1495 Roswell Road,"According to investigators, around 9:15 p.m. o...","According to police, around 9:15 p.m. Saturday...",Marietta PD’s Selective Traffic Enforcement Pr...
3,169/28,"Box: Troy Buchanan 44, Timberland 12\n\nUpdate...",1 2 3 4 Final\nVirden North Mac 15 7 14 14 50\...,"Box: Troy Buchanan 44, Timberland 12\n\nUpdate..."
4,1:48,Biden creates national monument in Colorado - ...,South Korea’s Joint Chiefs of Staff said in a ...,South Korea’s Joint Chiefs of Staff said in a ...
...,...,...,...,...
2748,uk,"The trio is one shot ahead of Ken Duke, who po...",“The DPRK clearly deems nuclear tests essentia...,"Senate Minority Leader Mitch McConnell, R-Ky.,..."
2749,west Lincoln,Police find 10 spent shell casings after gunsh...,Police find 10 spent shell casings after gunsh...,Police find 10 spent shell casings after gunsh...
2750,west Tennessee,A west Tennessee woman's accused of murdering ...,A west Tennessee woman's accused of murdering ...,A west Tennessee woman's accused of murdering ...
2751,west entrance,"UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA...","UNI-Dome Render 6\n\nUpdated Oct 11, 2022\n\nT...","UNI-Dome Render 3\n\nUpdated Oct 11, 2022\n\nA..."
2752,west.,"Now Richard Ringer, a former journalist, is ru...",He said he was concerned with 25 frames as the...,"Renny Harlin is directing the remake, with the..."

In [ ]:
ner_places['places'] = ner_places['ner_places_clean']

In [ ]:
merge_temp_final = pd.merge(ner_places, merge_temp_m3_group2_pivot, on="places", how='left').reset_index()

In [ ]:
merge_temp_final['sent_1'] = merge_temp_final['sent_1'].str.replace('\n', ' ')
merge_temp_final['sent_2'] = merge_temp_final['sent_2'].str.replace('\n', ' ')
merge_temp_final['sent_3'] = merge_temp_final['sent_3'].str.replace('\n', ' ')

In [ ]:
# Mt. Pisgah
merge_temp_final.to_excel('/content/drive/MyDrive/Georgia/Locations Analysis/Georgia_ner_places_v2_wsent.xlsx')

## Look up location (w updated data) on articles

In [ ]:
%cd /content/drive/MyDrive/Georgia/Locations Analysis

In [ ]:
# data created by manual coding

import pandas as pd

location_final = pd.read_excel('Georgia_place_validation_counties.xlsx')

In [ ]:
location_final = location_final[location_final['final_selection']==1]

In [ ]:
location_final_st = location_final[['ner_place_clean','county_level', 'final_selection']]

In [ ]:
location_final_st = location_final_st.dropna()

In [ ]:
len(location_final_st)

1930

In [ ]:
location_final_st

             ner_place_clean      county_level  final_selection
0           110 Airport Road  Habersham County                1
1          1495 Roswell Road       Cobb County                1
2                26th Street     Fulton County                1
3         3227 Roswell Rd NE     Fulton County                1
4               46 Plaza Way      Rabun County                1
...                      ...               ...              ...
1950  Yonah Memorial Gardens  Habersham County                1
1951                    York      Rabun County                1
1952              Youngstown      Union County                1
1953               Ypsilanti     Talbot County                1
1954            Zebulon Road       Bibb County                1

[1930 rows x 3 columns]

In [ ]:
# # multiple counties deleted
# location_final_st = location_final_st[location_final_st['county_level'].str.contains('Counties')==False]

In [ ]:
len(set(location_final_st.county_level.values.tolist()))

159

In [ ]:
location_final_list = list(set(location_final_st['ner_place_clean'].tolist()))

In [ ]:
import pandas as pd

df = pd.read_pickle('/content/drive/MyDrive/Georgia/Web Scraping/Georgia_data_v2_translation_ner2_lem.pkl')

In [ ]:

import re

def bigrams(s):
    return [i for i in s if re.search(r'\s', i) ]
  
def unigrams(s):
    return [i for i in s if not re.search(r'\s', i) ]

word_bigrams_done = list(set(bigrams(location_final_list)))
print(word_bigrams_done)
print(len(word_bigrams_done))
                       
word_unigrams_done = unigrams(location_final_list)
print(word_unigrams_done)
print(len(word_unigrams_done))

['Mirror Lake Connector', 'North Green Street', 'Cobb DOT road', 'Greene County High School', 'Sugarloaf Parkway', 'the UGA Bookstore', 'Ridge Ferry Park', 'Meriweather County', 'Chestnut Drive', 'Peachtree Ridge', 'Grindstone Drive', 'the Fox Theatre', 'Statesboro Regional Library', 'West Armuchee', 'Covington Square', 'the Hartwell Library', 'West Georgia Tech', 'the Garden City Police Department', 'Capitol Avenue', 'Roosevelt Boulevard', 'Sandy Creek Park', 'The Classic Center', 'Rabbit Valley', 'Mirror Lake', 'Cobb Pkwy NW', 'Forest Lake', 'the Georgia Diagnostic and', 'Bobby Dodd Stadium', 'Wilder Center', 'the Wardlaw-Bible Meeting Room of the LaFayette-Walker County Library', 'Memorial Parkway', 'Kennesaw Memorial Park Cemetery', 'the Barrow County Detention Center', 'Old Mountain Road', 'Silver Creek', 'St. Charles', 'Lake Trahlyta', 'West Cobb Funeral Home and', 'Pearl Street', 'Wooten Lake Road', 'West Cobb Funeral Home', 'Bartow in', 'Gordon County’s', 'the White City', 'Five Star Stadium', 'Lookout Mountain', 'Coolray Field', 'the Griffin Bears', 'Western Springs', 'Cresta Drive', 'Southeast Whitfield', 'the East River', 'the Houlihan Bridge', 'Peachtree Creek', 'the Georgia Constitution', 'Robins Air Force Base', 'Columbus 89.5', 'Battery Avenue SE', 'Fayette County Jail', 'Healthy Savannah', 'Buckhalter Road', 'Camp Gordon', 'Grizzard Park', 'Mimosa Drive', 'E. Park Place Blvd', 'Lake Lanier', 'North Dakota', 'Capitol View', 'the Battery Atlanta', 'Salem Road', '3227 Roswell Rd NE', 'Tara Boulevard', 'Bullard Road', 'the Georgia International', 'Turner Lake Park', 'Lithonia Park', 'Kennesaw Avenue', 'Bulloch Memorial Gardens', 'los recuerdos', 'the Chickamauga Public Library', 'Santa Claus', 'T.H. Slater Elementary', 'Black Rock Mountain State Park', 'Beech Avenue', 'Abercorn Street', 'Emery Highway', 'Osprey Cove Drive', 'Oglethorpe Avenue', 'Dalton State', 'District Live', 'Britain Drive', 'Sawyer Road', 'Watkins Pond Road', 'Oak Grove', 'the City of Elberton', 'Lawrenceville Highway', 'Windy Hill Road', 'East County Line Road', 'T.A. Wright Stadium', 'Gallery West', 'Mall Blvd', 'Magnolia St.', 'the Gilmer County Library', 'Avondale Estates City Hall', 'Brumby Hall', 'Joint Venture Park', 'North Cobb', 'the City of Fairfax', 'Cedartown Memorial Stadium', 'West Sandtown Road', 'West Georgia', 'Statesboro City Hall', 'Wormsloe Historic Site Updated', 'Jones Island', 'White Bluff', 'Highland Ter', 'Dean Avenue', 'East Rome', 'East 4th Street Woodbine', 'Etowah River Park', 'Monroe Area', 'Poplar Street', 'Monroe County Jail', 'Mt. Vernon', 'Jekyll Island', 'La Crosse', 'Floyd County Jail Records', 'Chestnut Hill', 'the Golden Isles Alzheimer’s Walk', 'Coffee County Jail', 'Peyton Place', 'Bulldog Stadium', 'Cobb County Water System', 'Redfern Village', 'Mt. Paran', 'Wesley Chapel Road', 'Old Horseshoe Bend Road', 'East Central', 'North Druid Hills Road', 'Providence Canyon', 'Baconton Charter', 'Omaha Fire', 'the Ritz Theatre', 'Cobb Parkway North', 'Dallas Highway', 'Holy Ground Baptist', 'North Dahlonega', 'Clayton State', 'West Hartford', 'West Georgia’s', 'Beaver Dam Creek', 'Mossy Creek United Methodist Church', 'Ford Avenue', 'Old River Road South', 'Piedmont Center', 'W Candler Street', 'Hampton Glen', 'Oak Grove Rd', 'Alabama Highway', 'South Fulton’s', 'Lawrenceville Square', 'the Dacula at', 'the Lumpkin County', 'St. Francis Hospital', 'Lula Road', 'BRYAN COUNTY', 'River North', 'North Oconee', 'Phoebe Putney Memorial Hospital', 'Jaren Hall', 'Prince Avenue Christian', 'University Parkway', 'Bedford Park Boulevard', 'the Marietta Square', 'Cape Street', 'Fort Gillem', 'Clairmont Road', 'Beachview Drive', 'Old Decatur Cemetery', 'Cherokee Bluff', 'Roswell Area Park', 'Browns Bridge Road', 'Cedar Avenue', 'the Coosa Valley Fairgrounds', 'Almond Street', 'Lewis Nail Road', 'Mariposa Farms', 'Oregon Park Baseball', 'Rivaridge Drive', 'Godfrey Stadium', 'Lanier Islands Parkway', 'the Henry Grady College of Journalism', 'AL East', 'Ledo Road', 'Kurt Drive', 'Perimeter Mall', 'Alverson Rd.', 'Yahoola Creek Park', 'Georgia National Cemetery', 'Magnolia Drive North', 'Pine Mountain', 'North Shore', 'Floyd Springs', '5274 Dogwood Drive', 'JEFFERSON PD', 'Roswell Road', 'the Flovilla City Hall', 'Ada Street', 'Frances Avenue', 'Partin Park', 'Burruss Elementary School', 'Cherokee County Fire and Emergency Services', 'Callaway Gardens', 'Silver Mine Trail', 'Airport Road', 'Dougherty County’s', 'Shaw Park', 'Douglas Countys', 'the Port of Savannah', 'Paulding County’s', 'Morningside Road', 'the City of Auburn', 'Bluff Drive', 'the Coosa Valley Fair', 'Pleasant Hill', 'Gascoigne Bluff', 'the Ogeechee River Basin', 'the Grand Opera House', 'Miller Ferry Road', 'Tybee Island', 'West Road NW', 'North Greenville', 'Gas South Arena', 'the Etowah River', 'Park Place Restaurant', 'Azalea Park Apartments', 'Parkway South', 'Jacksonville State', 'the Truist Park', 'East Jackson', 'Morgan County Citizen', 'Rocky Mountain', 'White County’s', 'Poplar Springs Road', 'Floyd Memory Gardens', 'the Brunswick River', 'East Broughton Street', 'Barrett Parkway', '5900 Sugarloaf Parkway', 'the Ocmulgee River', 'The Oglethorpe Echo', 'the Augusta Marriott', 'Washington Road', 'The Port of Savannah', 'Union Grove', 'Red Rock Search', 'the Rome Tennis Center', 'Missouri River Bluffs', 'Pyne Road', 'New Hampstead', 'Peterson Street', 'Bridal Veil Falls', 'Allatoona Creek Park', 'Fulton County Stadium', 'Iris Drive', 'the Rabun County Detention Center', 'Lake Blackshear', 'West Hill Avenue', 'Adamson Square', 'Taliaferro County', 'St. John Bosco', 'Cumberland Mall', 'Lewis Ridge Circle', 'Univeter Road', 'the Decatur Square', 'Oak Lawn', 'Broughton Street', 'Townpark Drive', 'North Point Circle', 'Mt. Bethel', 'Brodie Field', 'Buckhead Village', 'Habersham Central', 'the Madison County Library', 'the Dawson County', 'Bethlehem Road', 'Cobb Parkway', 'Rossville Recreation Association', 'West Side', 'Bells Ferry Road', 'Plant Atkinson Road', 'Bristol Farms', 'Beacon Hill', 'The Battery Atlanta', 'Plant Wansley', 'Blossom Drive', 'Chandler Road', 'Michelin Raceway Road', 'Dunwoody City Hall', 'Palo Alto', 'Peachtree Rd', 'Buford Highway', 'Oglethorpe County High School', 'the Coastal Empire', 'Carroll Memory Gardens', 'North Hills', 'the South Forsyth', 'Holiday Park', 'the Enmarket Arena', 'Nashville Street', 'Orange Street', 'Hardman Rd.', 'Rafe Banks Park', 'the Olmstead Homes', 'Deans Bridge Road', 'West Main', 'Dale County', 'the Children’s Advocacy Center', 'Arkose Drive', 'Gwinnett County Jail', 'Mableton Parkway', 'South Marietta Parkway', 'Rabbit Valley Farmers Market in Ringgold', 'Altama Avenue', 'Glenn Hills', 'the Cobb County Water System', 'Bobo Drive', 'Eveline Avenue', 'Broadrick Drive', 'Trammell Road', 'Colfax Avenue', 'East Atlanta', 'Paper Mill Road', 'Hampton Street', 'Flat Rock', 'Augusta Regional Airport', 'Way Northeast', 'Riverside Drive', 'Southeast Atlanta', 'City of Refuge', 'W May St.', 'Pass Road', 'Kilgore Street', 'West Atlanta', 'Anderson Street', 'St. Pius', 'Phipps Plaza', 'the Buckhead Saloon', 'Wrightsboro Road', 'Gwinnett County Fire', 'Wisteria Ridge', 'Candler Park', 'Matthews Field', 'Pleasant Valley', 'Valdosta State Prison', 'Crisp County Jail', 'Crystal Springs', 'the Historic Fourth Ward Park', 'South Georgia Medical Center', 'Goshen Road', 'Commerce Rd', 'the Houston County District', 'the Buckner Rd Sidewalk', 'the Georgia National Cemetery', 'West Cobb Funeral Home and Crematory', 'Hickory Grove Road', 'Rabbit Valley Farmers Market in', 'South Main Street', 'Lawrence Street', 'North Cobb’s', 'Sylvan Road', 'Macon Regional Crime Stoppers', 'North Street', 'King Island', 'Heritage Point Park', 'Kennesaw Mountain', 'Drake Field', 'Murray County High School', 'the Sonoraville Recreation Center', 'Crooked River State Park', 'Habersham Central 1977', 'South Effingham', 'North Clayton', 'Coosa Valley', 'Twin City', 'Clinton County', 'Washington Highway', 'Union City’s', 'the Alliance Theatre', 'Forsyth Park', 'Discovery Boulevard', 'River Ridge', 'Plant Bowen', 'the Georgia Dome', 'Islands Stadium', 'North Park Square', 'the Garden City Terminal', 'the Oconee River', 'the White Oak Road Farm', 'Cobb Parkway SE', 'Red Bud Road', 'River View Nursing Home', 'Hinesville City Hall', 'Atlanta Highway', 'Callaway Road', 'Junction City', 'Villa Rica', 'the Garden District', 'the Cedartown Performing Arts Center', 'New Milford', 'Sanford Stadium', 'the Sapelo Island Welcome Center', 'Emanuel County Jail', 'South Augusta', 'the Sidney Lanier Bridge', 'Lilburn City Park', 'Cobb County Water', 'Lower Woolsey Road', 'Macedonia Road', 'the William Root House', 'Southside Commercial Parkway', 'the 405 Freeway', 'Atlanta Botanical Garden', 'Hinesville Updated', 'Fort Screven', 'Mill Creek High School Football Game', 'Pleasant Hill Road', 'South Park Square', 'Riverside Parkway', 'Collins Circle', 'Washington St.', 'Concord Rd', 'Benton Harbor', 'River Road', 'Shallowford Road', 'Panola Road', 'Rocky Creek', 'Indian Hills', 'William Walker Recreation Center', 'Maple Grove', 'Bell Auditorium', 'the Cobb Galleria Centre', 'Cauble Park', 'Russell Street', 'Burr Park', 'the Hostess City', 'Garrard Avenue', 'Hiram Douglasville Highway', 'Forsyth Street', 'Eisenhower Drive', 'the Powder Springs Library', 'Paris Lake', 'Wildcat Bridge Road', 'Willingham Avenue', 'Jonesboro Road', 'the Superior Plumbing VECTR Center', 'Unicoi State Park', 'the Oglethorpe Mall', 'the Braselton Civic Center', 'Cobb St.', 'Greater Atlanta', 'Buford Drive', 'McEver Road', 'New Macland Road', 'West Point Road', 'North Murray’s', 'Etheridge Road', 'River Valley Road', 'Westside Drive', 'East Georgia', 'Cascade Drive', 'Tattnall Square', 'Hotel Tybee', 'White Bluff Road', 'Stephens County High School', 'Walker County Sheriff', 'West Chester', 'Red Rock', 'Cherokee County’s', 'Meadowlark Drive', 'Southern Oaks Drive', 'Butts Mutts', 'Chehaw Park', 'Douglas County Courthouse', 'Dan Pitts Stadium', 'Ga. Highway', 'Bentley Rd', 'Still Family Farm', 'Cumberland Point Drive', 'Mt. Pleasant', 'the Jepson Center', 'Old Alabama Road', 'Welcome All Park', 'Downing Street', 'Advent Health Gordon', 'Shiloh Valley Drive', 'Tumlin Park', 'Mt. Pisgah', 'Newnan 31', 'Wayne County High School', 'Liberty Street', 'Macland Road', 'Veterans Park', 'Brampton Avenue', 'Dawson Road', 'Jefferson River Rd', 'Albany State', 'the Cheatham Hill', 'West Franklin', 'Brewton Cemetery', 'TYBEE ISLAND', 'the Savannah Area Chamber of Commerce', 'Red Bud', 'Albany Street', 'Oglesby Bridge Road', 'Cobb Parkway S.', 'Pike County Schools', 'the Butts County Animal Shelter', 'Virginia Drive', 'Beaver Ruin Road', 'Fairview Street', 'Maddox Rd', 'Vogel State Park', 'Weaver Street', 'Caldwell County', 'Greenville Drive', 'Quail Valley Road', 'Middle Georgias', 'State Farm Stadium', 'North Springs', 'McLane Riverview Memorial Gardens', 'East Cherokee Drive', 'Rimrock Road', 'Webster Street', 'St. Georges', 'Lynwood Park', 'Bristol Bay', 'West Central', 'the King Trail', 'Carter Center', 'Atlanta Vintage Books', 'Holt Avenue', 'Calhoun Georgia', 'Pierce County Schools', 'Mt. Paran Christian', 'Oak City Cemetery', 'Powder Springs Rd', 'Highway 80', 'Cotton Avenue', 'Bartley Rd.', 'the Toccoa River', 'Rose Garden', 'Windsor contributed', 'Clay County', 'Reynolds Street', 'Troup County Fire', 'Granger Park', 'East Park Square', 'the Upson Beacon', 'Galleria Parkway', 'the Calhoun Middle School', 'County Road 380', 'Fairground Street', 'Park Avenue', 'Chester Avenue', 'Bailey Warnix', 'Central Georgia', 'Adams Park', 'West Jackson', 'Old Pendergrass Rd', 'North 27th Street', 'South Gwinnett', 'Peach Orchard Road', 'Allen Road', 'Yonah Memorial Gardens', 'Lake Sinclair', 'Sapelo Island', 'Chapel Hill High School', 'W May Street', 'the Golden Isles', 'Dahlonega Funeral Home', 'the Plant Riverside District', 'Canton Road', 'the City of Madison’s', 'the Satilla River', 'Strand Avenue', 'the Stephens County Courthouse', 'Wake County', 'Center Stage', 'The Houlihan Bridge', 'Neptune Park', 'Tybee Islands', 'Favor Road', 'S Broad St.', 'Atlanta City', 'Mountain View', 'The Hostess City', 'South Effingham’s', 'Cook Street', 'Ft. Valley', 'Parker Road', 'Beech Island', 'First Street', 'Inman Park', 'Butler Island', 'St. Simons', 'Peachtree Road', 'The Lee County', 'the Highland Park', 'Butts County’s', 'the Truman Parkway', 'East Washington', 'Paulding Avenue', 'Boling Park', 'Ball Ground', 'Crazy P Arena', 'Oak St.', 'Lake Oconee', 'Mimosa Boulevard', 'Brown Bridge Road', 'the Conyers Depot on Railroad Street', 'Pulaski Square', 'Jackson Heights', 'Oak Street', 'Fort Benning', 'Sunset Drive', 'Saddle Ridge', 'Lee Road', 'Keith Road in Ringgold', 'Swamp Park', 'Blue Ridge', '110 Airport Road', 'the Ruby Fulbright Aquatic Center', 'Joe Stock Memorial Park', 'Clay Street', 'Tybee Island’s', 'Winkenhofer Pine Ridge Funeral Home', 'the Carter Center', 'North Oconee’s', 'Lake Park', 'Windsor Parkway', 'Westover Boulevard', 'East Cobb Park', 'Hillside Memorial Chapel', 'South Georgia Tech', 'Olmsted Linear Park', 'Wilson Avenue', 'Plum Orchard', 'Cedar Creek', 'South Calhoun Bypass', 'Butterworth Lane', 'Bobo Street', 'Apple Valley', 'Pulaski Street', 'New Manchester', 'Bethany Hospice', 'Auburn Street', 'Grey Hill Cemetery', 'Sugarloaf Mills Mall', 'Kendrick Road', 'HABERSHAM COUNTY', 'Buckhead City', 'Cobb Medical Center', 'Moreland Avenue', 'Pennsylvania Avenue', 'Cedar Point', 'Stone Mountain Lake', 'Decatur City Hall', 'Prospect Heights', 'Myrtle Avenue', 'Lake Allatoona', 'Kinridge Road', 'KIPP Atlanta', 'James Street', 'Sugar Valley', 'the Rome-Floyd County Library', 'the Teacher Walk of Honor on Marietta Square', 'Rock Hill', 'the Oostanaula River', 'The Carter Center', 'Arnall Drive', 'the Knights Inn on Boy Scout Road', 'the Gordon Central High School’s', 'Brookhaven Park', 'West Village', 'Underground Atlanta', 'East View Cemetery', 'the Georgia Sports Hall of Fame', 'Bryson Park', 'Decatur Square', 'Old River Road', 'South Cobb', 'Jackson Memorial Gardens', 'the Village Green', 'Old Savannah City Mission', 'the Sandy Springs Performing Arts Center', 'East Lake Drive', 'East Macon', 'Clayton Street', 'Ponderosa Drive', 'Lexington city', 'Fort Valley State', 'West Ponce de Leon Avenue', 'Richmond Hill', 'Stephens Memorial Gardens', 'Harris Drive', 'Wesley Woods of', 'Six Flags Parkway', 'the Ogeechee River', 'Richardson Street', 'Turner Lake Road', 'Logan Farm Park', 'Georgia State', 'the Rossville Public Library', 'Mount Pisgah', 'the Noonday Creek Trail', 'Red Rocks', 'Tommy Cash Stadium', 'Buford City', 'Paulson Stadium', 'Mill Creek’s', 'Lanier Drive', 'Dogwood Drive', 'Park Ridge', 'Edwards Park', 'Highland Av', 'the Rome Area History Center', 'Walton -', 'South Forsyth', 'the Summit on Fire Prevention', 'West Englewood', 'Jefferson County Jail', 'Fair Road', 'Carrollton City', 'Newnan 34', 'Bailey York', 'Rock City', 'Springfield Street', 'Hickman Drive', 'Lake Oconee Village', 'Cumberland Valleys', 'Cumberland Boulevard SE', 'Swift Cantrell Park', 'Lewiston Road', 'the Carson McLane Funeral Home', 'Woodland of Cartersville', 'the Bowers Meeting Room of the Rossville Public Library', 'the East Side', 'S. Columbia Drive', 'Pooler Parkway', 'Sun Valley', 'Zebulon Road', 'Wildwood Park', 'Pleasant Grove Road', 'The City of Rome', 'Mount Paran Christian', 'Roswell City Hall', 'Buckhead Saloon', 'Jackson Street', 'the Georgia Aquarium', 'South Main', 'Sand Mountain', 'North 25th Street', 'Saddle Creek Road', 'Oglethorpe Mall', 'Talking Rock', 'Beverly Hills', 'Coastal Georgia', 'Main S', 'Peach Belt Conference', 'the City of Decatur', 'Crooked Creek Rd', 'Athens Highway', 'Key Road', 'Orchard Park', 'North Gwinnett', 'the Callaway Conference Center', 'Floyd County Jail', 'the City of St. Marys', 'Adams Stadium', 'Decatur Area', 'Flint Avenue', 'Northside Drive', 'Stokes Avenue', 'Epps Bridge Parkway', 'Whitlock Avenue', 'Isle of Hope', 'FORSYTH PARK', 'North Pierce Avenue', 'Craigtown Road', 'West Madison', 'Fahm Street', 'Clifton Road', 'Plant Riverside District', 'Mount Carmel', 'Atlanta Road', 'the Cedar Valley', 'Cherry Street', 'the Rome Civic Center', 'Forrest Road', 'Brockton Rd', 'Savannah Airport', 'Bluffs Parkway', 'Little River', 'Walter Cantrell Stadium', 'River City Bank', 'North Macedonia', 'Lake Acworth Drive', 'the Macon City Auditorium', 'Laurel Island Links', 'the Glynn County Detention Center', 'Middle Georgia', 'Oak Forest', 'the Lake Erie Walleye Trail', 'Clifton Road NE', 'Pine Island Road', 'Bethesda Academy Savannah', 'Red Devil Hill', 'Tunnel Hill', 'Truman Parkway', 'Atlanta Street Trail/Cobb', 'the Chatham County Police Department’s', 'Peachtree Street', 'Lindbergh Center Station', 'South DeKalb', 'the Habersham County Extension', 'Meadowbrook Memory Gardens', '26th Street', 'Sky Valley Way', 'the Enmarket Arena Updated', 'Interstate 575', 'Barron Stadium', 'Southwest DeKalb', 'Floyd County Superior Court', 'Westend Area', 'Veterans Plaza', 'Crest Lawn', 'Little Cumberland Island', 'the Granite Bowl', 'Henry County’s', 'Gwendolyn Street', 'the Buckhalter Road', 'the Mount Paran North Church', 'Euclid Avenue', 'Heritage Hills', 'Southview Cemetery', 'Erwin Street', 'Mt. Bethel’s', 'Mt. Sinai Road', 'Titan Stadium', 'McDowell Road', 'Lake Dow Road', 'Holcomb Bridge Road', 'Old Airport Road', 'Anderson Avenue', 'Wild Adventures', 'Northcutt Stadium', 'North Point', 'St. Simons Island', 'Kelly’s Market', 'West Savannah Street', 'Mt. Zion Road', 'South State Street', 'Pinecrest Drive', 'Cobb Galleria', 'Fair Haven', 'Highway 53', 'Belle Isle', 'Buena Vista', 'Liberty Plaza', 'Oak Drive', 'East 4th Street', 'Gaines Road', 'Mount Pleasant', 'Gordon County Schools', 'West Street', 'Greystone Drive', 'East Tugalo Street', 'North Paulding', 'Saint Louis', 'Jenkins County High School', 'Oregon Park', 'Perimeter Center West', 'Valhalla Stadium', 'Clark Street', 'Habersham Central 21', 'New River', 'Mineral Springs Road', 'the Star Bar', 'the Columbia County Detention Center', 'Seaboard Ind.', 'Truist Park', 'Callaway Stadium', 'City Pond Park', 'the Walker County', 'the Hall County Jail', 'the Talmadge Bridge', 'South Cobbs', 'Butler Avenue', 'Lake Toccoa', 'Marietta Square', 'the GGC Tennis Facility', 'the J.W. Marriott Savannah', 'The City of Pineville', 'Jaycee Stadium', 'Calhoun Square', 'Georgia Highway', 'Manchester Avenue', 'Mountain Views', 'Parkway Trail', 'Center City', 'La Vista', 'Hamilton Road', 'East Forsyths', 'Willow Ridge', 'Morris Street', 'Sky Valley', 'Grayson Stadium', 'Jardine Stadium', 'Valdosta State', 'East Cobb’s', 'Local Church Forsyth', 'Thomasville Heights', 'Logan Farm House', 'Cochran Road', 'Granade Street', 'Peachtree Street NE', 'Middle Georgia’s', 'Fort Gordon', 'Coahulla Creek', 'Brownlee Mountain Road', 'North West', 'Atlanta Rd', 'Riverside Park', 'Georgetown Drive', 'Rainbow Drive', 'Grady Memorial Hospital', 'Lafayette Road', 'Roberts Drive', 'North Academy', 'Access Road', 'Cave Spring', 'Eisenhower Plaza', 'East Second Street', 'Mount Paran North', 'Chastain Rd', 'Arbor Place Mall', 'Presbyterian Village', 'Waters Avenue', 'Davis Street', 'Mount Moriah Road', 'Fairview Avenue', 'Kona Ice', 'west Georgia', 'The Grand Opera House', 'the Columbia County Exhibition Center', 'Franklin Springs', 'Marietta City Hall', 'Redmond Circle', 'Diamond Lakes', 'Johnstonville Road', 'Crown Mountain Place', 'Calhoun City Schools', 'Sea Island', 'Benson Street', 'Victory Home Lane', 'Cotton Hall', 'the Calhoun Rec. Department', 'Wayne County High', 'North DeKalb Stadium', 'Thompson Stadium', 'Lincoln Heights', 'Park Street', 'Northwest Whitfield', 'Northeast Georgia', 'West End', 'Columbus 58th Wettest', 'Westside Road', 'Cateechee Golf Center', 'Chatham County District', 'Ft. Oglethorpe', 'Swainsboro City Cemetery', 'Long Branch', 'Madison Street', 

In [ ]:

import numpy as np

df['place_ng1'] = df['article_final'].astype(str).apply(lambda x: set.intersection(set(x.split(' ')), word_unigrams_done))
df['place_ng2'] = df['article_final'].astype(str).apply(lambda x: [i for i in word_bigrams_done if i in x])

In [ ]:
df_uni = df[(df['place_ng1'].str.len()) >= 1]
df_bi = df[(df['place_ng2'].str.len()) >= 1]

df_uni = df_uni[['id', 'source', 'place_ng1']]
df_bi = df_bi[['id', 'source', 'place_ng2']]

df_uni_df = df_uni.explode('place_ng1')
df_bi_df = df_bi.explode('place_ng2')

df_uni_df = df_uni_df.rename(columns={'place_ng1': 'place_ner'})
df_bi_df = df_bi_df.rename(columns={'place_ng2': 'place_ner'})

In [ ]:
df_ng_all = pd.concat([df_uni_df, df_bi_df])

In [ ]:
count = df_ng_all.groupby(['source']).count()

In [ ]:
count_20 = count[count['place_ner'] >= 20].reset_index()

In [ ]:
count_20_id = list(set(count_20['source'].tolist()))

df_ng_all_m20 = df_ng_all[df_ng_all['source'].isin(count_20_id)]

In [ ]:
len(count_20_id)

198

In [ ]:
location_final_st = location_final_st.rename(columns={'ner_place_clean': 'place_ner'})

In [ ]:
df_ng_all_m20_county = pd.merge(df_ng_all_m20, location_final_st, how='left', on='place_ner')

In [ ]:
df_ng_all_m20_county

,id,source,place_ner,county_level,final_selection
0,3,Metter Advertiser,Charles,Toombs County,1
1,3,Metter Advertiser,Franklin,Heard County,1
2,3,Metter Advertiser,Metter,Candler County,1
3,3,Metter Advertiser,William,Chatham County,1
4,3,Metter Advertiser,Murphy,Colquitt County,1
...,...,...,...,...,...
194285,191910,WALB TV 10 (NBC),Osprey Cove Drive,Muscogee County,1
194286,191944,WALB TV 10 (NBC),Magnolia Drive North,Effingham County,1
194287,191955,WALB TV 10 (NBC),Pine Street,Fulton County,1
194288,191985,WALB TV 10 (NBC),Wake County,Walker County,1
194289,192159,WALB TV 10 (NBC),North Academy,Turner County,1

In [ ]:
df_ng_all_m20_county_unique = df_ng_all_m20_county.drop_duplicates(subset=['id', 'source', 'county_level'])

In [ ]:
df_ng_all_m20_county_unique_count = df_ng_all_m20_county_unique.groupby(['source','county_level'])['id'].count().reset_index()

In [ ]:
df_ng_all_m20_county_unique_count = df_ng_all_m20_county_unique_count.rename(columns={'id': 'article_id_count'})

In [ ]:
df_ng_all_m20_county_unique_count.to_excel('Georgia_m20_county_unique_count_v2.xlsx')